@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}
.window-app .window-content {
  background: #f5f8fa;
}

.cortexprime.window-app .window-content {
  background: none;
  padding: 0;
}

.dice-picker.window-app .window-content {
  background: none;
  padding: 0;
}

p {
  margin: 0;
}

.label {
  color: #424C59;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  vertical-align: center;
}

.pp-number {
  font-weight: bold;
  font-size: 1.5rem;
  color: #424C59;
}

.primary-heading {
  border: 0;
  color: #424C59;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.section-heading {
  border: 0;
  color: #B30044;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.section-sub-heading {
  color: #2D5931;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.trait-name {
  font-size: 1.25rem;
  cursor: pointer;
}

.truncate {
  width: 21.25rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-accent {
  color: #c9e2d1;
}

.bkg-accent {
  background-color: #c9e2d1;
}

.text-black {
  color: #141c27;
}

.bkg-black {
  background-color: #141c27;
}

.text-dark-grey {
  color: #424C59;
}

.bkg-dark-grey {
  background-color: #424C59;
}

.text-grey {
  color: #82939F;
}

.bkg-grey {
  background-color: #82939F;
}

.text-light-grey {
  color: #ccd7df;
}

.bkg-light-grey {
  background-color: #ccd7df;
}

.text-lighter-grey {
  color: #e7eef3;
}

.bkg-lighter-grey {
  background-color: #e7eef3;
}

.text-primary {
  color: #B30044;
}

.bkg-primary {
  background-color: #B30044;
}

.text-secondary {
  color: #2D5931;
}

.bkg-secondary {
  background-color: #2D5931;
}

.text-white {
  color: #f5f8fa;
}

.bkg-white {
  background-color: #f5f8fa;
}

.ba-1-accent {
  border: 0.0625rem solid #c9e2d1;
}

.ba-1-black {
  border: 0.0625rem solid #141c27;
}

.ba-1-dark-grey {
  border: 0.0625rem solid #424C59;
}

.ba-1-grey {
  border: 0.0625rem solid #82939F;
}

.ba-1-light-grey {
  border: 0.0625rem solid #ccd7df;
}

.ba-1-lighter-grey {
  border: 0.0625rem solid #e7eef3;
}

.ba-1-primary {
  border: 0.0625rem solid #B30044;
}

.ba-1-secondary {
  border: 0.0625rem solid #2D5931;
}

.ba-1-white {
  border: 0.0625rem solid #f5f8fa;
}

.ba-2-accent {
  border: 0.125rem solid #c9e2d1;
}

.ba-2-black {
  border: 0.125rem solid #141c27;
}

.ba-2-dark-grey {
  border: 0.125rem solid #424C59;
}

.ba-2-grey {
  border: 0.125rem solid #82939F;
}

.ba-2-light-grey {
  border: 0.125rem solid #ccd7df;
}

.ba-2-lighter-grey {
  border: 0.125rem solid #e7eef3;
}

.ba-2-primary {
  border: 0.125rem solid #B30044;
}

.ba-2-secondary {
  border: 0.125rem solid #2D5931;
}

.ba-2-white {
  border: 0.125rem solid #f5f8fa;
}

.ba-3-accent {
  border: 0.1875rem solid #c9e2d1;
}

.ba-3-black {
  border: 0.1875rem solid #141c27;
}

.ba-3-dark-grey {
  border: 0.1875rem solid #424C59;
}

.ba-3-grey {
  border: 0.1875rem solid #82939F;
}

.ba-3-light-grey {
  border: 0.1875rem solid #ccd7df;
}

.ba-3-lighter-grey {
  border: 0.1875rem solid #e7eef3;
}

.ba-3-primary {
  border: 0.1875rem solid #B30044;
}

.ba-3-secondary {
  border: 0.1875rem solid #2D5931;
}

.ba-3-white {
  border: 0.1875rem solid #f5f8fa;
}

.ba-4-accent {
  border: 0.25rem solid #c9e2d1;
}

.ba-4-black {
  border: 0.25rem solid #141c27;
}

.ba-4-dark-grey {
  border: 0.25rem solid #424C59;
}

.ba-4-grey {
  border: 0.25rem solid #82939F;
}

.ba-4-light-grey {
  border: 0.25rem solid #ccd7df;
}

.ba-4-lighter-grey {
  border: 0.25rem solid #e7eef3;
}

.ba-4-primary {
  border: 0.25rem solid #B30044;
}

.ba-4-secondary {
  border: 0.25rem solid #2D5931;
}

.ba-4-white {
  border: 0.25rem solid #f5f8fa;
}

.bb-1-accent {
  border-bottom: 0.0625rem solid #c9e2d1;
}

.bb-1-black {
  border-bottom: 0.0625rem solid #141c27;
}

.bb-1-dark-grey {
  border-bottom: 0.0625rem solid #424C59;
}

.bb-1-grey {
  border-bottom: 0.0625rem solid #82939F;
}

.bb-1-light-grey {
  border-bottom: 0.0625rem solid #ccd7df;
}

.bb-1-lighter-grey {
  border-bottom: 0.0625rem solid #e7eef3;
}

.bb-1-primary {
  border-bottom: 0.0625rem solid #B30044;
}

.bb-1-secondary {
  border-bottom: 0.0625rem solid #2D5931;
}

.bb-1-white {
  border-bottom: 0.0625rem solid #f5f8fa;
}

.bb-2-accent {
  border-bottom: 0.125rem solid #c9e2d1;
}

.bb-2-black {
  border-bottom: 0.125rem solid #141c27;
}

.bb-2-dark-grey {
  border-bottom: 0.125rem solid #424C59;
}

.bb-2-grey {
  border-bottom: 0.125rem solid #82939F;
}

.bb-2-light-grey {
  border-bottom: 0.125rem solid #ccd7df;
}

.bb-2-lighter-grey {
  border-bottom: 0.125rem solid #e7eef3;
}

.bb-2-primary {
  border-bottom: 0.125rem solid #B30044;
}

.bb-2-secondary {
  border-bottom: 0.125rem solid #2D5931;
}

.bb-2-white {
  border-bottom: 0.125rem solid #f5f8fa;
}

.bb-3-accent {
  border-bottom: 0.1875rem solid #c9e2d1;
}

.bb-3-black {
  border-bottom: 0.1875rem solid #141c27;
}

.bb-3-dark-grey {
  border-bottom: 0.1875rem solid #424C59;
}

.bb-3-grey {
  border-bottom: 0.1875rem solid #82939F;
}

.bb-3-light-grey {
  border-bottom: 0.1875rem solid #ccd7df;
}

.bb-3-lighter-grey {
  border-bottom: 0.1875rem solid #e7eef3;
}

.bb-3-primary {
  border-bottom: 0.1875rem solid #B30044;
}

.bb-3-secondary {
  border-bottom: 0.1875rem solid #2D5931;
}

.bb-3-white {
  border-bottom: 0.1875rem solid #f5f8fa;
}

.bb-4-accent {
  border-bottom: 0.25rem solid #c9e2d1;
}

.bb-4-black {
  border-bottom: 0.25rem solid #141c27;
}

.bb-4-dark-grey {
  border-bottom: 0.25rem solid #424C59;
}

.bb-4-grey {
  border-bottom: 0.25rem solid #82939F;
}

.bb-4-light-grey {
  border-bottom: 0.25rem solid #ccd7df;
}

.bb-4-lighter-grey {
  border-bottom: 0.25rem solid #e7eef3;
}

.bb-4-primary {
  border-bottom: 0.25rem solid #B30044;
}

.bb-4-secondary {
  border-bottom: 0.25rem solid #2D5931;
}

.bb-4-white {
  border-bottom: 0.25rem solid #f5f8fa;
}

.bl-1-accent {
  border-left: 0.0625rem solid #c9e2d1;
}

.bl-1-black {
  border-left: 0.0625rem solid #141c27;
}

.bl-1-dark-grey {
  border-left: 0.0625rem solid #424C59;
}

.bl-1-grey {
  border-left: 0.0625rem solid #82939F;
}

.bl-1-light-grey {
  border-left: 0.0625rem solid #ccd7df;
}

.bl-1-lighter-grey {
  border-left: 0.0625rem solid #e7eef3;
}

.bl-1-primary {
  border-left: 0.0625rem solid #B30044;
}

.bl-1-secondary {
  border-left: 0.0625rem solid #2D5931;
}

.bl-1-white {
  border-left: 0.0625rem solid #f5f8fa;
}

.bl-2-accent {
  border-left: 0.125rem solid #c9e2d1;
}

.bl-2-black {
  border-left: 0.125rem solid #141c27;
}

.bl-2-dark-grey {
  border-left: 0.125rem solid #424C59;
}

.bl-2-grey {
  border-left: 0.125rem solid #82939F;
}

.bl-2-light-grey {
  border-left: 0.125rem solid #ccd7df;
}

.bl-2-lighter-grey {
  border-left: 0.125rem solid #e7eef3;
}

.bl-2-primary {
  border-left: 0.125rem solid #B30044;
}

.bl-2-secondary {
  border-left: 0.125rem solid #2D5931;
}

.bl-2-white {
  border-left: 0.125rem solid #f5f8fa;
}

.bl-3-accent {
  border-left: 0.1875rem solid #c9e2d1;
}

.bl-3-black {
  border-left: 0.1875rem solid #141c27;
}

.bl-3-dark-grey {
  border-left: 0.1875rem solid #424C59;
}

.bl-3-grey {
  border-left: 0.1875rem solid #82939F;
}

.bl-3-light-grey {
  border-left: 0.1875rem solid #ccd7df;
}

.bl-3-lighter-grey {
  border-left: 0.1875rem solid #e7eef3;
}

.bl-3-primary {
  border-left: 0.1875rem solid #B30044;
}

.bl-3-secondary {
  border-left: 0.1875rem solid #2D5931;
}

.bl-3-white {
  border-left: 0.1875rem solid #f5f8fa;
}

.bl-4-accent {
  border-left: 0.25rem solid #c9e2d1;
}

.bl-4-black {
  border-left: 0.25rem solid #141c27;
}

.bl-4-dark-grey {
  border-left: 0.25rem solid #424C59;
}

.bl-4-grey {
  border-left: 0.25rem solid #82939F;
}

.bl-4-light-grey {
  border-left: 0.25rem solid #ccd7df;
}

.bl-4-lighter-grey {
  border-left: 0.25rem solid #e7eef3;
}

.bl-4-primary {
  border-left: 0.25rem solid #B30044;
}

.bl-4-secondary {
  border-left: 0.25rem solid #2D5931;
}

.bl-4-white {
  border-left: 0.25rem solid #f5f8fa;
}

.br-1-accent {
  border-right: 0.0625rem solid #c9e2d1;
}

.br-1-black {
  border-right: 0.0625rem solid #141c27;
}

.br-1-dark-grey {
  border-right: 0.0625rem solid #424C59;
}

.br-1-grey {
  border-right: 0.0625rem solid #82939F;
}

.br-1-light-grey {
  border-right: 0.0625rem solid #ccd7df;
}

.br-1-lighter-grey {
  border-right: 0.0625rem solid #e7eef3;
}

.br-1-primary {
  border-right: 0.0625rem solid #B30044;
}

.br-1-secondary {
  border-right: 0.0625rem solid #2D5931;
}

.br-1-white {
  border-right: 0.0625rem solid #f5f8fa;
}

.br-2-accent {
  border-right: 0.125rem solid #c9e2d1;
}

.br-2-black {
  border-right: 0.125rem solid #141c27;
}

.br-2-dark-grey {
  border-right: 0.125rem solid #424C59;
}

.br-2-grey {
  border-right: 0.125rem solid #82939F;
}

.br-2-light-grey {
  border-right: 0.125rem solid #ccd7df;
}

.br-2-lighter-grey {
  border-right: 0.125rem solid #e7eef3;
}

.br-2-primary {
  border-right: 0.125rem solid #B30044;
}

.br-2-secondary {
  border-right: 0.125rem solid #2D5931;
}

.br-2-white {
  border-right: 0.125rem solid #f5f8fa;
}

.br-3-accent {
  border-right: 0.1875rem solid #c9e2d1;
}

.br-3-black {
  border-right: 0.1875rem solid #141c27;
}

.br-3-dark-grey {
  border-right: 0.1875rem solid #424C59;
}

.br-3-grey {
  border-right: 0.1875rem solid #82939F;
}

.br-3-light-grey {
  border-right: 0.1875rem solid #ccd7df;
}

.br-3-lighter-grey {
  border-right: 0.1875rem solid #e7eef3;
}

.br-3-primary {
  border-right: 0.1875rem solid #B30044;
}

.br-3-secondary {
  border-right: 0.1875rem solid #2D5931;
}

.br-3-white {
  border-right: 0.1875rem solid #f5f8fa;
}

.br-4-accent {
  border-right: 0.25rem solid #c9e2d1;
}

.br-4-black {
  border-right: 0.25rem solid #141c27;
}

.br-4-dark-grey {
  border-right: 0.25rem solid #424C59;
}

.br-4-grey {
  border-right: 0.25rem solid #82939F;
}

.br-4-light-grey {
  border-right: 0.25rem solid #ccd7df;
}

.br-4-lighter-grey {
  border-right: 0.25rem solid #e7eef3;
}

.br-4-primary {
  border-right: 0.25rem solid #B30044;
}

.br-4-secondary {
  border-right: 0.25rem solid #2D5931;
}

.br-4-white {
  border-right: 0.25rem solid #f5f8fa;
}

.bt-1-accent {
  border-top: 0.0625rem solid #c9e2d1;
}

.bt-1-black {
  border-top: 0.0625rem solid #141c27;
}

.bt-1-dark-grey {
  border-top: 0.0625rem solid #424C59;
}

.bt-1-grey {
  border-top: 0.0625rem solid #82939F;
}

.bt-1-light-grey {
  border-top: 0.0625rem solid #ccd7df;
}

.bt-1-lighter-grey {
  border-top: 0.0625rem solid #e7eef3;
}

.bt-1-primary {
  border-top: 0.0625rem solid #B30044;
}

.bt-1-secondary {
  border-top: 0.0625rem solid #2D5931;
}

.bt-1-white {
  border-top: 0.0625rem solid #f5f8fa;
}

.bt-2-accent {
  border-top: 0.125rem solid #c9e2d1;
}

.bt-2-black {
  border-top: 0.125rem solid #141c27;
}

.bt-2-dark-grey {
  border-top: 0.125rem solid #424C59;
}

.bt-2-grey {
  border-top: 0.125rem solid #82939F;
}

.bt-2-light-grey {
  border-top: 0.125rem solid #ccd7df;
}

.bt-2-lighter-grey {
  border-top: 0.125rem solid #e7eef3;
}

.bt-2-primary {
  border-top: 0.125rem solid #B30044;
}

.bt-2-secondary {
  border-top: 0.125rem solid #2D5931;
}

.bt-2-white {
  border-top: 0.125rem solid #f5f8fa;
}

.bt-3-accent {
  border-top: 0.1875rem solid #c9e2d1;
}

.bt-3-black {
  border-top: 0.1875rem solid #141c27;
}

.bt-3-dark-grey {
  border-top: 0.1875rem solid #424C59;
}

.bt-3-grey {
  border-top: 0.1875rem solid #82939F;
}

.bt-3-light-grey {
  border-top: 0.1875rem solid #ccd7df;
}

.bt-3-lighter-grey {
  border-top: 0.1875rem solid #e7eef3;
}

.bt-3-primary {
  border-top: 0.1875rem solid #B30044;
}

.bt-3-secondary {
  border-top: 0.1875rem solid #2D5931;
}

.bt-3-white {
  border-top: 0.1875rem solid #f5f8fa;
}

.bt-4-accent {
  border-top: 0.25rem solid #c9e2d1;
}

.bt-4-black {
  border-top: 0.25rem solid #141c27;
}

.bt-4-dark-grey {
  border-top: 0.25rem solid #424C59;
}

.bt-4-grey {
  border-top: 0.25rem solid #82939F;
}

.bt-4-light-grey {
  border-top: 0.25rem solid #ccd7df;
}

.bt-4-lighter-grey {
  border-top: 0.25rem solid #e7eef3;
}

.bt-4-primary {
  border-top: 0.25rem solid #B30044;
}

.bt-4-secondary {
  border-top: 0.25rem solid #2D5931;
}

.bt-4-white {
  border-top: 0.25rem solid #f5f8fa;
}

.bx-1-accent {
  border-left: 0.0625rem solid #c9e2d1;
  border-right: 0.0625rem solid #c9e2d1;
}

.bx-1-black {
  border-left: 0.0625rem solid #141c27;
  border-right: 0.0625rem solid #141c27;
}

.bx-1-dark-grey {
  border-left: 0.0625rem solid #424C59;
  border-right: 0.0625rem solid #424C59;
}

.bx-1-grey {
  border-left: 0.0625rem solid #82939F;
  border-right: 0.0625rem solid #82939F;
}

.bx-1-light-grey {
  border-left: 0.0625rem solid #ccd7df;
  border-right: 0.0625rem solid #ccd7df;
}

.bx-1-lighter-grey {
  border-left: 0.0625rem solid #e7eef3;
  border-right: 0.0625rem solid #e7eef3;
}

.bx-1-primary {
  border-left: 0.0625rem solid #B30044;
  border-right: 0.0625rem solid #B30044;
}

.bx-1-secondary {
  border-left: 0.0625rem solid #2D5931;
  border-right: 0.0625rem solid #2D5931;
}

.bx-1-white {
  border-left: 0.0625rem solid #f5f8fa;
  border-right: 0.0625rem solid #f5f8fa;
}

.bx-2-accent {
  border-left: 0.125rem solid #c9e2d1;
  border-right: 0.125rem solid #c9e2d1;
}

.bx-2-black {
  border-left: 0.125rem solid #141c27;
  border-right: 0.125rem solid #141c27;
}

.bx-2-dark-grey {
  border-left: 0.125rem solid #424C59;
  border-right: 0.125rem solid #424C59;
}

.bx-2-grey {
  border-left: 0.125rem solid #82939F;
  border-right: 0.125rem solid #82939F;
}

.bx-2-light-grey {
  border-left: 0.125rem solid #ccd7df;
  border-right: 0.125rem solid #ccd7df;
}

.bx-2-lighter-grey {
  border-left: 0.125rem solid #e7eef3;
  border-right: 0.125rem solid #e7eef3;
}

.bx-2-primary {
  border-left: 0.125rem solid #B30044;
  border-right: 0.125rem solid #B30044;
}

.bx-2-secondary {
  border-left: 0.125rem solid #2D5931;
  border-right: 0.125rem solid #2D5931;
}

.bx-2-white {
  border-left: 0.125rem solid #f5f8fa;
  border-right: 0.125rem solid #f5f8fa;
}

.bx-3-accent {
  border-left: 0.1875rem solid #c9e2d1;
  border-right: 0.1875rem solid #c9e2d1;
}

.bx-3-black {
  border-left: 0.1875rem solid #141c27;
  border-right: 0.1875rem solid #141c27;
}

.bx-3-dark-grey {
  border-left: 0.1875rem solid #424C59;
  border-right: 0.1875rem solid #424C59;
}

.bx-3-grey {
  border-left: 0.1875rem solid #82939F;
  border-right: 0.1875rem solid #82939F;
}

.bx-3-light-grey {
  border-left: 0.1875rem solid #ccd7df;
  border-right: 0.1875rem solid #ccd7df;
}

.bx-3-lighter-grey {
  border-left: 0.1875rem solid #e7eef3;
  border-right: 0.1875rem solid #e7eef3;
}

.bx-3-primary {
  border-left: 0.1875rem solid #B30044;
  border-right: 0.1875rem solid #B30044;
}

.bx-3-secondary {
  border-left: 0.1875rem solid #2D5931;
  border-right: 0.1875rem solid #2D5931;
}

.bx-3-white {
  border-left: 0.1875rem solid #f5f8fa;
  border-right: 0.1875rem solid #f5f8fa;
}

.bx-4-accent {
  border-left: 0.25rem solid #c9e2d1;
  border-right: 0.25rem solid #c9e2d1;
}

.bx-4-black {
  border-left: 0.25rem solid #141c27;
  border-right: 0.25rem solid #141c27;
}

.bx-4-dark-grey {
  border-left: 0.25rem solid #424C59;
  border-right: 0.25rem solid #424C59;
}

.bx-4-grey {
  border-left: 0.25rem solid #82939F;
  border-right: 0.25rem solid #82939F;
}

.bx-4-light-grey {
  border-left: 0.25rem solid #ccd7df;
  border-right: 0.25rem solid #ccd7df;
}

.bx-4-lighter-grey {
  border-left: 0.25rem solid #e7eef3;
  border-right: 0.25rem solid #e7eef3;
}

.bx-4-primary {
  border-left: 0.25rem solid #B30044;
  border-right: 0.25rem solid #B30044;
}

.bx-4-secondary {
  border-left: 0.25rem solid #2D5931;
  border-right: 0.25rem solid #2D5931;
}

.bx-4-white {
  border-left: 0.25rem solid #f5f8fa;
  border-right: 0.25rem solid #f5f8fa;
}

.by-1-accent {
  border-bottom: 0.0625rem solid #c9e2d1;
  border-top: 0.0625rem solid #c9e2d1;
}

.by-1-black {
  border-bottom: 0.0625rem solid #141c27;
  border-top: 0.0625rem solid #141c27;
}

.by-1-dark-grey {
  border-bottom: 0.0625rem solid #424C59;
  border-top: 0.0625rem solid #424C59;
}

.by-1-grey {
  border-bottom: 0.0625rem solid #82939F;
  border-top: 0.0625rem solid #82939F;
}

.by-1-light-grey {
  border-bottom: 0.0625rem solid #ccd7df;
  border-top: 0.0625rem solid #ccd7df;
}

.by-1-lighter-grey {
  border-bottom: 0.0625rem solid #e7eef3;
  border-top: 0.0625rem solid #e7eef3;
}

.by-1-primary {
  border-bottom: 0.0625rem solid #B30044;
  border-top: 0.0625rem solid #B30044;
}

.by-1-secondary {
  border-bottom: 0.0625rem solid #2D5931;
  border-top: 0.0625rem solid #2D5931;
}

.by-1-white {
  border-bottom: 0.0625rem solid #f5f8fa;
  border-top: 0.0625rem solid #f5f8fa;
}

.by-2-accent {
  border-bottom: 0.125rem solid #c9e2d1;
  border-top: 0.125rem solid #c9e2d1;
}

.by-2-black {
  border-bottom: 0.125rem solid #141c27;
  border-top: 0.125rem solid #141c27;
}

.by-2-dark-grey {
  border-bottom: 0.125rem solid #424C59;
  border-top: 0.125rem solid #424C59;
}

.by-2-grey {
  border-bottom: 0.125rem solid #82939F;
  border-top: 0.125rem solid #82939F;
}

.by-2-light-grey {
  border-bottom: 0.125rem solid #ccd7df;
  border-top: 0.125rem solid #ccd7df;
}

.by-2-lighter-grey {
  border-bottom: 0.125rem solid #e7eef3;
  border-top: 0.125rem solid #e7eef3;
}

.by-2-primary {
  border-bottom: 0.125rem solid #B30044;
  border-top: 0.125rem solid #B30044;
}

.by-2-secondary {
  border-bottom: 0.125rem solid #2D5931;
  border-top: 0.125rem solid #2D5931;
}

.by-2-white {
  border-bottom: 0.125rem solid #f5f8fa;
  border-top: 0.125rem solid #f5f8fa;
}

.by-3-accent {
  border-bottom: 0.1875rem solid #c9e2d1;
  border-top: 0.1875rem solid #c9e2d1;
}

.by-3-black {
  border-bottom: 0.1875rem solid #141c27;
  border-top: 0.1875rem solid #141c27;
}

.by-3-dark-grey {
  border-bottom: 0.1875rem solid #424C59;
  border-top: 0.1875rem solid #424C59;
}

.by-3-grey {
  border-bottom: 0.1875rem solid #82939F;
  border-top: 0.1875rem solid #82939F;
}

.by-3-light-grey {
  border-bottom: 0.1875rem solid #ccd7df;
  border-top: 0.1875rem solid #ccd7df;
}

.by-3-lighter-grey {
  border-bottom: 0.1875rem solid #e7eef3;
  border-top: 0.1875rem solid #e7eef3;
}

.by-3-primary {
  border-bottom: 0.1875rem solid #B30044;
  border-top: 0.1875rem solid #B30044;
}

.by-3-secondary {
  border-bottom: 0.1875rem solid #2D5931;
  border-top: 0.1875rem solid #2D5931;
}

.by-3-white {
  border-bottom: 0.1875rem solid #f5f8fa;
  border-top: 0.1875rem solid #f5f8fa;
}

.by-4-accent {
  border-bottom: 0.25rem solid #c9e2d1;
  border-top: 0.25rem solid #c9e2d1;
}

.by-4-black {
  border-bottom: 0.25rem solid #141c27;
  border-top: 0.25rem solid #141c27;
}

.by-4-dark-grey {
  border-bottom: 0.25rem solid #424C59;
  border-top: 0.25rem solid #424C59;
}

.by-4-grey {
  border-bottom: 0.25rem solid #82939F;
  border-top: 0.25rem solid #82939F;
}

.by-4-light-grey {
  border-bottom: 0.25rem solid #ccd7df;
  border-top: 0.25rem solid #ccd7df;
}

.by-4-lighter-grey {
  border-bottom: 0.25rem solid #e7eef3;
  border-top: 0.25rem solid #e7eef3;
}

.by-4-primary {
  border-bottom: 0.25rem solid #B30044;
  border-top: 0.25rem solid #B30044;
}

.by-4-secondary {
  border-bottom: 0.25rem solid #2D5931;
  border-top: 0.25rem solid #2D5931;
}

.by-4-white {
  border-bottom: 0.25rem solid #f5f8fa;
  border-top: 0.25rem solid #f5f8fa;
}

.ba-0 {
  border: 0;
}

.bb-0 {
  border-bottom: 0;
}

.bl-0 {
  border-left: 0;
}

.br-0 {
  border-right: 0;
}

.bt-0 {
  border-top: 0;
}

.bx-0 {
  border-left: 0;
  border-right: 0;
}

.by-0 {
  border-bottom: 0;
  border-top: 0;
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  line-height: normal;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
}
.btn:disabled {
  opacity: 0.5;
  color: #f5f8fa;
  cursor: not-allowed;
}

.btn-accent {
  background-color: #c9e2d1;
  color: #f5f8fa;
}

.btn-black {
  background-color: #141c27;
  color: #f5f8fa;
}

.btn-dark-grey {
  background-color: #424C59;
  color: #f5f8fa;
}

.btn-grey {
  background-color: #82939F;
  color: #f5f8fa;
}

.btn-light-grey {
  background-color: #ccd7df;
  color: #f5f8fa;
}

.btn-lighter-grey {
  background-color: #e7eef3;
  color: #f5f8fa;
}

.btn-primary {
  background-color: #B30044;
  color: #f5f8fa;
}

.btn-secondary {
  background-color: #2D5931;
  color: #f5f8fa;
}

.btn-white {
  background-color: #f5f8fa;
  color: #f5f8fa;
}

.btn-icon {
  border-radius: 50%;
  font-size: 0.875rem;
  height: 1.5rem;
  line-height: normal;
  padding: 0.25rem;
  text-align: center;
  width: 1.5rem;
}
.btn-icon i.fa {
  margin-right: 0;
}
.btn-icon.btn-small {
  font-size: 0.625rem;
  height: 1rem;
  padding: 0.125rem;
  width: 1rem;
}

.btn-text {
  line-height: 1;
  padding: 0;
  text-transform: inherit;
}

.add-trait-to-pool {
  cursor: pointer;
}

.icon, .die-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 1.25rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  position: relative;
  width: 1.25rem;
}
.icon.pp, .pp.die-icon {
  background-image: url("../assets/plot-point/plot-point.png");
  vertical-align: bottom;
}

.d-block {
  display: block;
}

.columns-1 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.columns-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.columns-3 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.columns-4 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.column-gap-0 {
  -webkit-column-gap: 0rem;
  -moz-column-gap: 0rem;
  column-gap: 0rem;
}

.column-gap-1 {
  -webkit-column-gap: 0.25rem;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
}

.column-gap-2 {
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.column-gap-3 {
  -webkit-column-gap: 0.75rem;
  -moz-column-gap: 0.75rem;
  column-gap: 0.75rem;
}

.column-gap-4 {
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.column-gap-5 {
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

.column-gap-6 {
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}

.column-gap-7 {
  -webkit-column-gap: 1.75rem;
  -moz-column-gap: 1.75rem;
  column-gap: 1.75rem;
}

.column-gap-8 {
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.column-gap-9 {
  -webkit-column-gap: 2.25rem;
  -moz-column-gap: 2.25rem;
  column-gap: 2.25rem;
}

.column-gap-10 {
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
}

.column-gap-11 {
  -webkit-column-gap: 2.75rem;
  -moz-column-gap: 2.75rem;
  column-gap: 2.75rem;
}

.column-gap-12 {
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
}

.column-item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.flex, .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.flex-row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.flex-col {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: auto;
}

.col-1 {
  max-width: 8.3333333333%;
  width: 100%;
}

.col-2 {
  max-width: 16.6666666667%;
  width: 100%;
}

.col-3 {
  max-width: 25%;
  width: 100%;
}

.col-4 {
  max-width: 33.3333333333%;
  width: 100%;
}

.col-5 {
  max-width: 41.6666666667%;
  width: 100%;
}

.col-6 {
  max-width: 50%;
  width: 100%;
}

.col-7 {
  max-width: 58.3333333333%;
  width: 100%;
}

.col-8 {
  max-width: 66.6666666667%;
  width: 100%;
}

.col-9 {
  max-width: 75%;
  width: 100%;
}

.col-10 {
  max-width: 83.3333333333%;
  width: 100%;
}

.col-11 {
  max-width: 91.6666666667%;
  width: 100%;
}

.col-12 {
  max-width: 100%;
  width: 100%;
}

.flex-as {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-ac {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-ae {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-ab {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.flex-as-self {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.flex-ac-self {
  -ms-flex-item-align: center;
  align-self: center;
}

.flex-ae-self {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.flex-ab-self {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.flex-js {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-jc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-je {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-jsa {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-jsb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-jse {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.flex-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.ma-0 {
  margin-bottom: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
}

.ma-1 {
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
}

.ma-2 {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.ma-3 {
  margin-bottom: 0.75rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
}

.ma-4 {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.ma-5 {
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
}

.ma-6 {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

.ma-7 {
  margin-bottom: 1.75rem;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  margin-top: 1.75rem;
}

.ma-8 {
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.ma-9 {
  margin-bottom: 2.25rem;
  margin-left: 2.25rem;
  margin-right: 2.25rem;
  margin-top: 2.25rem;
}

.ma-10 {
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 2.5rem;
}

.ma-11 {
  margin-bottom: 2.75rem;
  margin-left: 2.75rem;
  margin-right: 2.75rem;
  margin-top: 2.75rem;
}

.ma-12 {
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
}

.pa-0 {
  padding-bottom: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
}

.pa-1 {
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
}

.pa-2 {
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.pa-3 {
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
}

.pa-4 {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.pa-5 {
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
}

.pa-6 {
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}

.pa-7 {
  padding-bottom: 1.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1.75rem;
}

.pa-8 {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.pa-9 {
  padding-bottom: 2.25rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-top: 2.25rem;
}

.pa-10 {
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
}

.pa-11 {
  padding-bottom: 2.75rem;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  padding-top: 2.75rem;
}

.pa-12 {
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-11 {
  margin-left: 2.75rem;
}

.ml-12 {
  margin-left: 3rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-11 {
  padding-left: 2.75rem;
}

.pl-12 {
  padding-left: 3rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.mr-11 {
  margin-right: 2.75rem;
}

.mr-12 {
  margin-right: 3rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-11 {
  padding-right: 2.75rem;
}

.pr-12 {
  padding-right: 3rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-12 {
  margin-top: 3rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pt-12 {
  padding-top: 3rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.mx-11 {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
}

.mx-12 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-11 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.my-0 {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.my-1 {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.my-2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.my-3 {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.my-5 {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.my-7 {
  margin-bottom: 1.75rem;
  margin-top: 1.75rem;
}

.my-8 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.my-9 {
  margin-bottom: 2.25rem;
  margin-top: 2.25rem;
}

.my-10 {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.my-11 {
  margin-bottom: 2.75rem;
  margin-top: 2.75rem;
}

.my-12 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.py-0 {
  padding-bottom: 0rem;
  padding-top: 0rem;
}

.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.py-2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.py-3 {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.py-4 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.py-5 {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.py-7 {
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;
}

.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.py-9 {
  padding-bottom: 2.25rem;
  padding-top: 2.25rem;
}

.py-10 {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.py-11 {
  padding-bottom: 2.75rem;
  padding-top: 2.75rem;
}

.py-12 {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.my-auto {
  margin-left: auto;
  margin-right: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.default-image, .profile-image {
  cursor: pointer;
  width: 100%;
}

.hide {
  display: none;
}

.bkg-accent {
  background-color: #c9e2d1;
}

.text-accent {
  color: #c9e2d1;
}

.bkg-black {
  background-color: #141c27;
}

.text-black {
  color: #141c27;
}

.bkg-dark-grey {
  background-color: #424C59;
}

.text-dark-grey {
  color: #424C59;
}

.bkg-grey {
  background-color: #82939F;
}

.text-grey {
  color: #82939F;
}

.bkg-light-grey {
  background-color: #ccd7df;
}

.text-light-grey {
  color: #ccd7df;
}

.bkg-lighter-grey {
  background-color: #e7eef3;
}

.text-lighter-grey {
  color: #e7eef3;
}

.bkg-primary {
  background-color: #B30044;
}

.text-primary {
  color: #B30044;
}

.bkg-secondary {
  background-color: #2D5931;
}

.text-secondary {
  color: #2D5931;
}

.bkg-white {
  background-color: #f5f8fa;
}

.text-white {
  color: #f5f8fa;
}

.shutdown {
  opacity: 0.5;
}
.shutdown .shutdown {
  opacity: 1;
}

.list-style-none {
  list-style: none;
}

.list-alt-bkg li:nth-child(even) {
  background-color: #e7eef3;
}

.add-to-pool {
  cursor: pointer;
}
.add-to-pool::before {
  font-family: "Font Awesome 5 Free";
  content: "\f522";
}

#controls ol.cortexprime-controls {
  padding-left: 20px;
}

input[type=text].color {
  border-bottom: 2px solid #2D5931;
  max-width: 6.25rem;
}

input[type=color][data-edit][data-edit] {
  border: none;
  cursor: pointer;
  margin-left: 0;
  max-width: 1.625rem;
}

/* Styles limited to cortexprime sheets */
.cortexprime input, .cortexprime select, .cortexprime textarea {
  background-color: #c9e2d1;
  border-radius: 0;
}
.cortexprime input, .cortexprime select, .cortexprime textarea {
  border: 0;
}
.cortexprime input, .cortexprime textarea {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}
.cortexprime input {
  vertical-align: middle;
}
.cortexprime .notes-field {
  font-size: 1rem;
  height: 21.875rem;
}
.cortexprime nav.sheet-tabs {
  height: auto;
  margin: 0 -0.25rem 0.5rem;
  border: 0;
  padding: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.cortexprime .breadcrumb {
  color: #B30044;
}
.cortexprime .breadcrumb:hover {
  text-decoration: underline;
  cursor: pointer;
}
.cortexprime .breadcrumb.active {
  color: #141c27;
}
.cortexprime .breadcrumb.active:hover {
  text-decoration: none;
  cursor: default;
}
.cortexprime .sheet-cpt {
  background-color: var(--sheet-background-color, #dedede);
  color: var(--body-font-color, #000000);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: var(--body-font-weight, 400);
  position: relative;
  z-index: 0;
}
.cortexprime .sheet-cpt .sheet-image {
  background-image: var(--sheet-background-image, none);
  background-position: var(--sheet-background-position, center);
  background-repeat: var(--sheet-background-repeat, no-repeat);
  background-size: var(--sheet-background-size, cover);
  height: 100%;
  left: 0;
  opacity: var(--sheet-background-image-opacity, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.cortexprime .sheet-cpt .sheet-content {
  position: relative;
  z-index: 2;
  height: 100%;
}
.cortexprime .section-cpt {
  background: transparent;
  border: 0;
  border-color: var(--section-border-color, #2d5931);
  border-style: var(--section-border-style, solid);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.cortexprime .section-cpt .section-background, .cortexprime .section-cpt .section-background-alternate, .cortexprime .section-cpt .section-image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.cortexprime .section-cpt .section-background {
  background-color: var(--section-background-color, transparent);
  opacity: var(--section-background-color-opacity, 1);
  z-index: 3;
}
.cortexprime .section-cpt .section-background-alternate {
  background-color: var(--section-alternate-background-color, #ccd7df);
  opacity: var(--section-background-color-opacity, 1);
  z-index: 3;
}
.cortexprime .section-cpt .section-image {
  background-image: var(--section-background-image, none);
  background-position: var(--section-background-position, center);
  background-repeat: var(--ssection-background-repeat, no-repeat);
  background-size: var(--section-background-size, cover);
  opacity: var(--section-background-image-opacity, 0);
  z-index: 4;
}
.cortexprime .section-cpt .section-content {
  position: relative;
  z-index: 5;
  height: 100%;
}
.cortexprime .ba-1 {
  border-width: 0.0625rem;
}
.cortexprime .ba-2 {
  border-width: 0.125rem;
}
.cortexprime .ba-3 {
  border-width: 0.1875rem;
}
.cortexprime .ba-4 {
  border-width: 0.25rem;
}
.cortexprime .bb-1 {
  border-bottom-width: 0.0625rem;
}
.cortexprime .bb-2 {
  border-bottom-width: 0.125rem;
}
.cortexprime .bb-3 {
  border-bottom-width: 0.1875rem;
}
.cortexprime .bb-4 {
  border-bottom-width: 0.25rem;
}
.cortexprime .bl-1 {
  border-left-width: 0.0625rem;
}
.cortexprime .bl-2 {
  border-left-width: 0.125rem;
}
.cortexprime .bl-3 {
  border-left-width: 0.1875rem;
}
.cortexprime .bl-4 {
  border-left-width: 0.25rem;
}
.cortexprime .br-1 {
  border-right-width: 0.0625rem;
}
.cortexprime .br-2 {
  border-right-width: 0.125rem;
}
.cortexprime .br-3 {
  border-right-width: 0.1875rem;
}
.cortexprime .br-4 {
  border-right-width: 0.25rem;
}
.cortexprime .bt-1 {
  border-top-width: 0.0625rem;
}
.cortexprime .bt-2 {
  border-top-width: 0.125rem;
}
.cortexprime .bt-3 {
  border-top-width: 0.1875rem;
}
.cortexprime .bt-4 {
  border-top-width: 0.25rem;
}
.cortexprime .bx-1 {
  border-left-width: 0.0625rem;
  border-right-width: 0.0625rem;
}
.cortexprime .bx-2 {
  border-left-width: 0.125rem;
  border-right-width: 0.125rem;
}
.cortexprime .bx-3 {
  border-left-width: 0.1875rem;
  border-right-width: 0.1875rem;
}
.cortexprime .bx-4 {
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
}
.cortexprime .by-1 {
  border-bottom-width: 0.0625rem;
  border-top-width: 0.0625rem;
}
.cortexprime .by-2 {
  border-bottom-width: 0.125rem;
  border-top-width: 0.125rem;
}
.cortexprime .by-3 {
  border-bottom-width: 0.1875rem;
  border-top-width: 0.1875rem;
}
.cortexprime .by-4 {
  border-bottom-width: 0.25rem;
  border-top-width: 0.25rem;
}
.cortexprime .relative-section {
  position: relative;
}
.cortexprime .relative-section .section-background, .cortexprime .relative-section .section-background-alternate {
  z-index: -1;
}
.cortexprime .btn-primary-cpt {
  background-color: var(--button-primary-color, #2d5931);
  color: var(--button-primary-font-color, #ffffff);
}
.cortexprime .btn:hover, .cortexprime .btn:focus {
  -webkit-box-shadow: 0 0 5px var(--input-focus-color, #b30044);
  box-shadow: 0 0 5px var(--input-focus-color, #b30044);
}
.cortexprime .btn.btn-square-cpt {
  border-radius: 0;
}
.cortexprime .btn.btn-icon.btn-square-cpt {
  border-radius: 0;
}
.cortexprime .btn.btn-pp {
  line-height: 0;
  padding: 0;
  border-radius: 50%;
}
.cortexprime .btn-secondary-cpt {
  background-color: var(--button-secondary-color, #b30044);
  color: var(--button-secondary-font-color, #ffffff);
}
.cortexprime .btn-icon-plain-cpt {
  background-color: transparent;
  color: var(--body-font-color, #000000);
}
.cortexprime .dialog-buttons .dialog-button.confirm {
  background-color: var(--button-primary-color, #2d5931);
  border: 0;
  color: var(--button-primary-font-color, #ffffff);
  cursor: pointer;
}
.cortexprime .die-cpt {
  height: 2rem;
  position: relative;
  width: 2rem;
}
.cortexprime .die-cpt .number {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cortexprime .d4-cpt .number {
  -webkit-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
}
.cortexprime .chosen-cpt .fill {
  fill: var(--chosen-fill, #ffffff);
}
.cortexprime .chosen-cpt .stroke {
  fill: var(--chosen-stroke, #b30044);
}
.cortexprime .chosen-cpt .number {
  color: var(--chosen-number, #1f2834);
}
.cortexprime .die-rating-cpt .fill {
  fill: var(--die-rating-fill, #b30044);
}
.cortexprime .die-rating-cpt .stroke {
  fill: var(--die-rating-stroke, #b30044);
}
.cortexprime .die-rating-cpt .number {
  color: var(--die-rating-number, #ffffff);
}
.cortexprime .effect-cpt .fill {
  fill: var(--effect-fill, #2d5931);
}
.cortexprime .effect-cpt .stroke {
  fill: var(--effect-stroke, #2d5931);
}
.cortexprime .effect-cpt .number {
  color: var(--effect-number, #ffffff);
}
.cortexprime .hitch-cpt .fill {
  fill: var(--hitch-fill, #141c27);
}
.cortexprime .hitch-cpt .stroke {
  fill: var(--hitch-stroke, #b30044);
}
.cortexprime .hitch-cpt .number {
  color: var(--hitch-number, #ffffff);
}
.cortexprime .pp-cpt {
  background-color: var(--plot-point-fill, #c9e2d1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0.125rem solid var(--plot-point-stroke, #c9e2d1);
  border-radius: 50%;
  position: relative;
  height: 2rem;
  width: 2rem;
}
.cortexprime .pp-cpt .pp-text-cpt {
  position: absolute;
  color: var(--plot-point-text, #141c27);
  font-weight: 700;
  font-size: 1.125rem;
  left: 50%;
  line-height: 1;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cortexprime .pp-cpt.pp-lg {
  height: 4rem;
  width: 4rem;
  border-width: 0.25rem;
}
.cortexprime .pp-cpt.pp-lg .pp-text-cpt {
  font-size: 2.25rem;
}
.cortexprime .selected-cpt .fill {
  fill: var(--selected-fill, #c9e2d1);
}
.cortexprime .selected-cpt .stroke {
  fill: var(--selected-stroke, #b30044);
}
.cortexprime .selected-cpt .number {
  color: var(--selected-number, #141c27);
}
.cortexprime .unchosen-cpt .fill {
  fill: var(--unchosen-fill, #dedede);
}
.cortexprime .unchosen-cpt .stroke {
  fill: var(--unchosen-stroke, #424c59);
}
.cortexprime .unchosen-cpt .number {
  color: var(--unchosen-number, #424c59);
}
.cortexprime .descriptor-label-cpt {
  color: var(--descriptor-label-font-color, #000000);
  font-size: 14px;
  font-style: var(--descriptor-label-font-style, italic);
  font-weight: var(--descriptor-label-font-weight, 700);
  text-transform: var(--descriptor-label-text-transform, none);
}
.cortexprime .section-primary-title-cpt {
  border: 0;
  color: var(--section-primary-title-font-color, #b30044);
  font-size: 20px;
  font-style: var(--section-primary-title-font-style, normal);
  font-weight: var(--section-primary-title-font-weight, 700);
  text-transform: var(--section-primary-title-text-transform, uppercase);
}
.cortexprime .sfx-bullet-cpt {
  color: var(--sfx-bullet-color, #b30044);
}
.cortexprime .sfx-label-cpt {
  color: var(--sfx-label-font-color, #2d5931);
  font-size: 14px;
  font-style: var(--sfx-label-font-style, italic);
  font-weight: var(--sfx-label-font-weight, 700);
  text-transform: var(--sfx-label-text-transform, capitalize);
}
.cortexprime .section-secondary-title-cpt {
  border: 0;
  color: var(--section-secondary-title-font-color, #2d5931);
  font-size: 16px;
  font-style: var(--section-secondary-title-font-style, normal);
  font-weight: var(--section-secondary-title-font-weight, 700);
  text-transform: var(--section-secondary-title-text-transform, uppercase);
}
.cortexprime .sub-trait-label-cpt {
  color: var(--sub-trait-label-font-color, #2d5931);
  font-size: 14px;
  font-style: var(--sub-trait-label-font-style, normal);
  font-weight: var(--sub-trait-label-font-weight, 700);
  text-transform: var(--sub-trait-label-text-transform, uppercase);
}
.cortexprime .tab-cpt {
  background-color: var(--button-secondary-color, #b30044);
  color: var(--button-secondary-font-color, #ffffff);
  line-height: 1;
  margin: 0 0.125rem 0.125rem;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}
.cortexprime .tab-cpt:hover, .cortexprime .tab-cpt:focus {
  text-shadow: none;
  -webkit-box-shadow: 0 0 5px var(--input-focus-color, #b30044);
  box-shadow: 0 0 5px var(--input-focus-color, #b30044);
}
.cortexprime .tab-cpt.active {
  background-color: var(--button-primary-color, #2d5931);
  color: var(--button-primary-font-color, #ffffff);
  text-shadow: none;
}
.cortexprime .tab-cpt.tab-rounded-cpt {
  border-radius: 0.75rem 0.75rem 0 0;
}
.cortexprime .trait-sub-title-cpt {
  color: var(--trait-sub-title-font-color, #b30044);
  font-size: 14px;
  font-style: var(--trait-sub-title-font-style, italic);
  font-weight: var(--trait-sub-title-font-weight, 700);
  text-transform: var(--trait-sub-title-text-transform, none);
}
.cortexprime .trait-title-cpt {
  color: var(--trait-title-font-color, #424c59);
  font-size: 16px;
  font-style: var(--trait-title-font-style, normal);
  font-weight: var(--trait-title-font-weight, 700);
  text-transform: var(--trait-title-text-transform, uppercase);
}
.cortexprime .input-image-select-cpt {
  border: var(--input-border-width, 2px) var(--input-border-style, solid) var(--input-border-color, #2d5931);
}
.cortexprime .input-cpt, .cortexprime .color-picker input.color {
  background-color: var(--input-background-color, #c9e2d1);
  border: 0;
  border-color: var(--input-border-color, #2d5931);
  border-style: var(--input-border-style, solid);
  color: var(--input-color, #000000);
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: var(--body-font-weight, 400);
  height: auto;
  padding: 0.1875rem 0.375rem;
}
.cortexprime .input-cpt:focus, .cortexprime .color-picker input.color:focus {
  -webkit-box-shadow: 0 0 5px var(--input-focus-color, #b30044);
  box-shadow: 0 0 5px var(--input-focus-color, #b30044);
}
.cortexprime .input-cpt option, .cortexprime .color-picker input.color option {
  color: black;
}
.cortexprime .input-cpt.ba-1, .cortexprime .color-picker input.color.ba-1 {
  border-width: 0.0625rem;
}
.cortexprime .input-cpt.ba-2, .cortexprime .color-picker input.color.ba-2 {
  border-width: 0.125rem;
}
.cortexprime .input-cpt.ba-3, .cortexprime .color-picker input.color.ba-3 {
  border-width: 0.1875rem;
}
.cortexprime .input-cpt.ba-4, .cortexprime .color-picker input.color.ba-4 {
  border-width: 0.25rem;
}
.cortexprime .input-cpt.bb-1, .cortexprime .color-picker input.color.bb-1 {
  border-bottom-width: 0.0625rem;
}
.cortexprime .input-cpt.bb-2, .cortexprime .color-picker input.color.bb-2 {
  border-bottom-width: 0.125rem;
}
.cortexprime .input-cpt.bb-3, .cortexprime .color-picker input.color.bb-3 {
  border-bottom-width: 0.1875rem;
}
.cortexprime .input-cpt.bb-4, .cortexprime .color-picker input.color.bb-4 {
  border-bottom-width: 0.25rem;
}
.cortexprime .input-cpt.bl-1, .cortexprime .color-picker input.color.bl-1 {
  border-left-width: 0.0625rem;
}
.cortexprime .input-cpt.bl-2, .cortexprime .color-picker input.color.bl-2 {
  border-left-width: 0.125rem;
}
.cortexprime .input-cpt.bl-3, .cortexprime .color-picker input.color.bl-3 {
  border-left-width: 0.1875rem;
}
.cortexprime .input-cpt.bl-4, .cortexprime .color-picker input.color.bl-4 {
  border-left-width: 0.25rem;
}
.cortexprime .input-cpt.br-1, .cortexprime .color-picker input.color.br-1 {
  border-right-width: 0.0625rem;
}
.cortexprime .input-cpt.br-2, .cortexprime .color-picker input.color.br-2 {
  border-right-width: 0.125rem;
}
.cortexprime .input-cpt.br-3, .cortexprime .color-picker input.color.br-3 {
  border-right-width: 0.1875rem;
}
.cortexprime .input-cpt.br-4, .cortexprime .color-picker input.color.br-4 {
  border-right-width: 0.25rem;
}
.cortexprime .input-cpt.bt-1, .cortexprime .color-picker input.color.bt-1 {
  border-top-width: 0.0625rem;
}
.cortexprime .input-cpt.bt-2, .cortexprime .color-picker input.color.bt-2 {
  border-top-width: 0.125rem;
}
.cortexprime .input-cpt.bt-3, .cortexprime .color-picker input.color.bt-3 {
  border-top-width: 0.1875rem;
}
.cortexprime .input-cpt.bt-4, .cortexprime .color-picker input.color.bt-4 {
  border-top-width: 0.25rem;
}
.cortexprime .input-cpt.bx-1, .cortexprime .color-picker input.color.bx-1 {
  border-left-width: 0.0625rem;
  border-right-width: 0.0625rem;
}
.cortexprime .input-cpt.bx-2, .cortexprime .color-picker input.color.bx-2 {
  border-left-width: 0.125rem;
  border-right-width: 0.125rem;
}
.cortexprime .input-cpt.bx-3, .cortexprime .color-picker input.color.bx-3 {
  border-left-width: 0.1875rem;
  border-right-width: 0.1875rem;
}
.cortexprime .input-cpt.bx-4, .cortexprime .color-picker input.color.bx-4 {
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
}
.cortexprime .input-cpt.by-1, .cortexprime .color-picker input.color.by-1 {
  border-bottom-width: 0.0625rem;
  border-top-width: 0.0625rem;
}
.cortexprime .input-cpt.by-2, .cortexprime .color-picker input.color.by-2 {
  border-bottom-width: 0.125rem;
  border-top-width: 0.125rem;
}
.cortexprime .input-cpt.by-3, .cortexprime .color-picker input.color.by-3 {
  border-bottom-width: 0.1875rem;
  border-top-width: 0.1875rem;
}
.cortexprime .input-cpt.by-4, .cortexprime .color-picker input.color.by-4 {
  border-bottom-width: 0.25rem;
  border-top-width: 0.25rem;
}
.cortexprime .checkmark-cpt {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.875rem;
  width: 1.875rem;
  background-color: var(--input-checkbox-color, #2d5931);
}
.cortexprime .checkmark-cpt:after {
  content: "";
  position: absolute;
  z-index: 2;
  display: none;
}
.cortexprime .checkmark-container {
  display: block;
  position: relative;
  height: 1.875rem;
  width: 1.875rem;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cortexprime .checkmark-container:hover .input-checkbox-cpt ~ .checkmark-cpt {
  background-color: var(--input-focus-color, #b30044);
}
.cortexprime .checkmark-container .input-checkbox-cpt {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  position: absolute;
  height: 1.875rem;
  width: 1.875rem;
  z-index: 3;
}
.cortexprime .checkmark-container .input-checkbox-cpt:checked ~ .checkmark-cpt:after {
  display: block;
}
.cortexprime .checkmark-container .checkmark-cpt:after {
  left: 0.5rem;
  top: 0.0625rem;
  width: 0.5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 0.375rem 0.375rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cortexprime .input-label-cpt {
  color: var(--input-label-color, #424C59);
  font-style: var(--input-label-font-style, normal);
  font-weight: var(--input-label-font-weight, 700);
  text-transform: var(--input-label-text-transform, capitalize);
  margin-bottom: 0.25rem;
}
.cortexprime .separator-cpt {
  border-bottom: var(--separator-weight, 2px) var(--separator-style, solid) var(--separator-color, #b30044);
  width: 100%;
}
.cortexprime .editor {
  height: 100%;
  width: 100%;
}
.cortexprime .editor .editor-content {
  border: var(--input-border-width, 2px) var(--input-border-style, solid) var(--input-border-color, #2d5931);
  padding: 0.5rem;
}
.cortexprime .editor .tox-edit-area {
  background-color: #ffffff;
  border: var(--input-border-width, 2px) var(--input-border-style, solid) var(--input-border-color, #2d5931);
}

.die-icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.75rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1.75rem;
}
.die-icon .value {
  color: #f5f8fa;
  font-size: 0.925rem;
  font-weight: bold;
}
.die-icon.lg {
  height: 2.5rem;
  width: 2.5rem;
}
.die-icon.lg .value {
  font-weight: bold;
  font-size: 1.125rem;
}
.die-icon.d4 {
  background-image: url("../assets/dice/d4.svg");
}
.die-icon.d4.effect {
  background-image: url("../assets/dice/effect-d4.svg");
}
.die-icon.d4.hitch {
  background-image: url("../assets/dice/hitch-d4.svg");
}
.die-icon.d4.result {
  background-image: url("../assets/dice/result-d4.svg");
}
.die-icon.d4.selected {
  background-image: url("../assets/dice/selected-d4.svg");
}
.die-icon.d4.chosen {
  background-image: url("../assets/dice/chosen-d4.svg");
}
.die-icon.d6 {
  background-image: url("../assets/dice/d6.svg");
}
.die-icon.d6.effect {
  background-image: url("../assets/dice/effect-d6.svg");
}
.die-icon.d6.hitch {
  background-image: url("../assets/dice/hitch-d6.svg");
}
.die-icon.d6.result {
  background-image: url("../assets/dice/result-d6.svg");
}
.die-icon.d6.selected {
  background-image: url("../assets/dice/selected-d6.svg");
}
.die-icon.d6.chosen {
  background-image: url("../assets/dice/chosen-d6.svg");
}
.die-icon.d8 {
  background-image: url("../assets/dice/d8.svg");
}
.die-icon.d8.effect {
  background-image: url("../assets/dice/effect-d8.svg");
}
.die-icon.d8.hitch {
  background-image: url("../assets/dice/hitch-d8.svg");
}
.die-icon.d8.result {
  background-image: url("../assets/dice/result-d8.svg");
}
.die-icon.d8.selected {
  background-image: url("../assets/dice/selected-d8.svg");
}
.die-icon.d8.chosen {
  background-image: url("../assets/dice/chosen-d8.svg");
}
.die-icon.d10 {
  background-image: url("../assets/dice/d10.svg");
}
.die-icon.d10.effect {
  background-image: url("../assets/dice/effect-d10.svg");
}
.die-icon.d10.hitch {
  background-image: url("../assets/dice/hitch-d10.svg");
}
.die-icon.d10.result {
  background-image: url("../assets/dice/result-d10.svg");
}
.die-icon.d10.selected {
  background-image: url("../assets/dice/selected-d10.svg");
}
.die-icon.d10.chosen {
  background-image: url("../assets/dice/chosen-d10.svg");
}
.die-icon.d12 {
  background-image: url("../assets/dice/d12.svg");
}
.die-icon.d12.effect {
  background-image: url("../assets/dice/effect-d12.svg");
}
.die-icon.d12.hitch {
  background-image: url("../assets/dice/hitch-d12.svg");
}
.die-icon.d12.result {
  background-image: url("../assets/dice/result-d12.svg");
}
.die-icon.d12.selected {
  background-image: url("../assets/dice/selected-d12.svg");
}
.die-icon.d12.chosen {
  background-image: url("../assets/dice/chosen-d12.svg");
}
.die-icon.d4 .value {
  padding-bottom: 0.35rem;
}
.die-icon.d6 {
  background-size: 75%;
}
.die-icon.result .value {
  color: #424C59;
}
.die-icon.selected .value {
  color: #B30044;
}
.die-icon.chosen .value {
  color: #f5f8fa;
}

.dice-container {
  position: relative;
}
.dice-container .die-container {
  height: 32px;
  width: 32px;
  position: absolute;
  z-index: -1;
}

.die-select {
  border: none !important;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;
  cursor: pointer;
  height: 2rem;
  position: relative;
  text-align: center;
  text-align-last: center;
  width: 2rem;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 1;
}
.die-select ::-ms-expand {
  display: none;
}
.die-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.die-select option {
  color: black;
  font-weight: 600;
}