<div class="flex-col">
  <p class="bold mb-1">
    {{label}}
  </p>
  <div class="flex-col">
    <div class="flex-row">
      <select class="input-cpt" name="{{name}}">
        {{#select value}}
          <option value="no-repeat">{{localize 'NoRepeat'}}</option>
          <option value="repeat">{{localize 'Repeat'}}</option>
          <option value="repeat-x">{{localize 'RepeatX'}}</option>
          <option value="repeat-y">{{localize 'RepeatY'}}</option>
        {{/select}}
      </select>
    </div>
  </div>
</div>