<div class="flex-col">
    <p class="input-label-cpt mb-1">
      {{label}}
    </p>
    <div class="flex-col">
      <div class="flex-row">
        <select class="input-cpt" name="{{name}}">
          <option value="center"{{ternary (eq value 'center') ' selected' ''}}>{{localize 'Center'}}</option>
          <option value="top"{{ternary (eq value 'top') ' selected' ''}}>{{localize 'Top'}}</option>
          <option value="bottom"{{ternary (eq value 'bottom') ' selected' ''}}>{{localize 'Bottom'}}</option>
          <option value="left"{{ternary (eq value 'left') ' selected' ''}}>{{localize 'Left'}}</option>
          <option value="right"{{ternary (eq value 'right') ' selected' ''}}>{{localize 'Right'}}</option>
        </select>
      </div>
    </div>
  </div>