<div class="flex-col">
  <p class="input-label-cpt mb-1">
    {{label}}
  </p>
  <div class="flex-col">
    <div class="flex-row">
      <select class="input-cpt" name="{{name}}">
        <option value="no-repeat"{{ternary (eq value 'no-repeat') ' selected' ''}}>{{localize 'NoRepeat'}}</option>
        <option value="repeat"{{ternary (eq value 'repeat') ' selected' ''}}>{{localize 'Repeat'}}</option>
        <option value="repeat-x"{{ternary (eq value 'repeat-x') ' selected' ''}}>{{localize 'RepeatX'}}</option>
        <option value="repeat-y"{{ternary (eq value 'repeat-y') ' selected' ''}}>{{localize 'RepeatY'}}</option>
      </select>
    </div>
  </div>
</div>