<div class="flex-col">
    <p class="input-label-cpt mb-1">
      {{label}}
    </p>
    <div class="flex-col">
      <div class="flex-row">
        <select class="input-cpt" name="{{name}}">
          {{#select value}}
            <option value="center">{{localize 'Center'}}</option>
            <option value="top">{{localize 'Top'}}</option>
            <option value="bottom">{{localize 'Bottom'}}</option>
            <option value="left">{{localize 'Left'}}</option>
            <option value="right">{{localize 'Right'}}</option>
          {{/select}}
        </select>
      </div>
    </div>
  </div>