<div class="section-cpt my-2 px-2 col-12 b{{?? themes.list.Default.sectionBorderPosition 'a'}}-{{?? themes.list.Default.sectionBorderWidth '2'}}">
  <div class="section-image"></div>
  <div class="section-background"></div>
  <div class="section-content">
    <h2 class="section-primary-title-cpt my-2">{{localize 'Body'}}</h2>
    <div class="separator-cpt mt-2 mb-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'Font'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.bodyFontColor
        label=(localize 'Color')
        name='themes.currentSettings.bodyFontColor'
        value=themes.currentSettings.bodyFontColor
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-weight.html"
        label=(localize 'Weight')
        name='themes.currentSettings.bodyFontWeight'
        value=themes.currentSettings.bodyFontWeight
      }}
    </div>
    <div class="separator-cpt my-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'Background'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default='transparent'
        label=(localize 'Color')
        name='themes.currentSettings.sheetBackgroundColor'
        value=themes.currentSettings.sheetBackgroundColor
      }}
    </div>
    <div class="flex-row flex-ae my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/image.html"
        label=(localize 'Image')
        targetSetting='sheetBackgroundImage'
        value=themes.currentSettings.sheetBackgroundImage
      }}
    </div>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/opacity.html"
        label=(localize 'Opacity')
        name='themes.currentSettings.sheetBackgroundImageOpacity'
        value=themes.currentSettings.sheetBackgroundImageOpacity
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/background-position.html"
        label=(localize 'Position')
        name='themes.currentSettings.sheetBackgroundPosition'
        value=themes.currentSettings.sheetBackgroundPosition
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/background-repeat.html"
        label=(localize 'Repeat')
        name='themes.currentSettings.sheetBackgroundRepeat'
        value=themes.currentSettings.sheetBackgroundRepeat
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/background-size.html"
        label=(localize 'Size')
        name='themes.currentSettings.sheetBackgroundSize'
        value=themes.currentSettings.sheetBackgroundSize
      }}
    </div>
  </div>
</div>