<h3 class="section-secondary-title-cpt">{{label}}</h3>
<div class="flex mb-2 flex-ac">
  <div class="mr-1">
    {{> "systems/cortexprime/templates/partials/dice/d4.html"
      type=type
      number='4'
    }}
  </div>
  <div class="my-1">
    {{> "systems/cortexprime/templates/partials/dice/d6.html"
      type=type
      number='6'
    }}
  </div>
  <div class="my-1">
    {{> "systems/cortexprime/templates/partials/dice/d8.html"
      type=type
      number='8'
    }}
  </div> 
  <div class="my-1">
    {{> "systems/cortexprime/templates/partials/dice/d10.html"
      type=type
      number='10'
    }}
  </div>
  <div class="ml-1">
    {{> "systems/cortexprime/templates/partials/dice/d12.html"
      type=type
      number='12'
    }}
  </div>
</div>
<div class="flex-row my-2">
  {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
    default=fillDefault
    label=(localize 'Fill')
    name=fillName
    value=fillValue
  }}
  {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
    default=strokeDefault
    label=(localize 'Stroke')
    name=strokeName
    value=strokeValue
  }}
  {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
    default=numberDefault
    label=(localize 'Number')
    name=numberName
    value=numberValue
  }}
</div>