<p class="flex-col col-12 bold">{{localize 'ExampleActorSheet'}}:</p>
<div class="col-12 sheet-cpt mt-2 py-8 by-2-black">
  <div class="sheet-background"></div>
  <div class="sheet-image"></div>
  <div class="sheet-content">
    <div class="flex flex-ac flex-wrap">
      <div class="flex-col col-4">
        <p class="input-label-cpt">Input Label</p>
        <input type="text" class="input-cpt b{{?? settings.inputBorderPosition 'b'}}-{{?? settings.inputBorderWidth '2'}}" value="Test Input Field">
      </div>
      <div class="flex-col col-4">
        <p class="input-label-cpt">Input Label</p>
        <select class="col-12 input-cpt b{{?? settings.inputBorderPosition 'b'}}-{{?? settings.inputBorderWidth '2'}}">
          <option value="1">test 1</option>
          <option value="2">test 2</option>
          <option value="3">test 3</option>
        </select>
      </div>
      <div class="flex-col col-12 my-4">
        <p class="input-label-cpt">Input Label</p>
        <textarea class="input-cpt b{{?? settings.inputBorderPosition 'b'}}-{{?? settings.inputBorderWidth '2'}}">Example text area</textarea>
      </div>
    </div>
  </div>
</div>