<div class="section-cpt my-2 px-2 col-12">
  <div class="section-image"></div>
  <div class="section-background"></div>
  <div class="section-content">
    <h2 class="section-primary-title-cpt my-2">{{localize 'Inputs'}}</h2>
    <div class="separator-cpt mt-2 mb-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'Colors'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.inputBackgroundColor
        label=(localize 'Background')
        name='themes.currentSettings.inputBackgroundColor'
        value=themes.currentSettings.inputBackgroundColor
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.inputColor
        label=(localize 'Font')
        name='themes.currentSettings.inputColor'
        value=themes.currentSettings.inputColor
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.inputFocusColor
        label=(localize 'Focus')
        name='themes.currentSettings.inputFocusColor'
        value=themes.currentSettings.inputFocusColor
      }}
    </div>
    <div class="separator-cpt my-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'Border'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.inputBorderColor
        label=(localize 'Color')
        name='themes.currentSettings.inputBorderColor'
        value=themes.currentSettings.inputBorderColor
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/border-style.html"
        label=(localize 'Style')
        name='themes.currentSettings.inputBorderStyle'
        value=themes.currentSettings.inputBorderStyle
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/border-width.html"
        label=(localize 'Width')
        name='themes.currentSettings.inputBorderWidth'
        value=themes.currentSettings.inputBorderWidth
      }}
    </div>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/border-position.html"
        label=(localize 'Position')
        name='themes.currentSettings.inputBorderPosition'
        value=themes.currentSettings.inputBorderPosition
      }}
    </div>
    <div class="separator-cpt my-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'Label'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.inputLabelColor
        label=(localize 'Color')
        name='themes.currentSettings.inputLabelColor'
        value=themes.currentSettings.inputLabelColor
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-weight.html"
        label=(localize 'Weight')
        name='themes.currentSettings.inputLabelFontWeight'
        value=themes.currentSettings.inputLabelFontWeight
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-style.html"
        label=(localize 'Style')
        name='themes.currentSettings.inputLabelFontStyle'
        value=themes.currentSettings.inputLabelFontStyle
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/text-transform.html"
        label=(localize 'Casing')
        name='themes.currentSettings.inputLabelTextTransform'
        value=themes.currentSettings.inputLabelTextTransform
      }}
    </div>
    <div class="separator-cpt my-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'Checkbox'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.inputCheckboxColor
        label=(localize 'Color')
        name='themes.currentSettings.inputCheckboxColor'
        value=themes.currentSettings.inputCheckboxColor
      }}
    </div>
  </div>
</div>