<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
</style>
<style>
  {{target}} {
    --body-font-color: {{or settings.bodyFontColor '#000000'}};
    --body-font-weight: {{or settings.bodyFontWeight 400}};
    --button-primary-color: {{or settings.buttonPrimaryColor '#2d5931'}};
    --button-primary-font-color: {{or settings.buttonPrimaryFontColor '#ffffff'}};
    --button-secondary-color: {{or settings.buttonSecondaryColor '#b30044'}};
    --button-secondary-font-color: {{or settings.buttonSecondaryFontColor '#ffffff'}};
    --chosen-fill: {{or settings.chosenFill '#ffffff'}};
    --chosen-stroke: {{or settings.chosenStroke '#b30044'}};
    --chosen-number: {{or settings.chosenNumber '#1f2834'}};
    --die-rating-fill: {{or settings.dieRatingFill '#b30044'}};
    --die-rating-stroke: {{or settings.dieRatingStroke '#b30044'}};
    --die-rating-number: {{or settings.dieRatingNumber '#ffffff'}};
    --effect-fill: {{or settings.effectFill '#2d5931'}};
    --effect-stroke: {{or settings.effectStroke '#2d5931'}};
    --effect-number: {{or settings.effectNumber '#ffffff'}};
    --hitch-fill: {{or settings.hitchFill '#141c27'}};
    --hitch-stroke: {{or settings.hitchStroke '#b30044'}};
    --hitch-number: {{or settings.hitchNumber '#ffffff'}};
    --descriptor-label-font-color: {{or settings.descriptorLabelFontColor '#000000'}};
    --descriptor-label-font-style: {{or settings.descriptorLabelFontStyle 'italic'}};
    --descriptor-label-font-weight: {{or settings.descriptorLabelFontWeight 700}};
    --descriptor-label-text-transform: {{or settings.descriptorLabelTextTransform 'none'}};
    --input-background-color: {{or settings.inputBackgroundColor '#c9e2d1'}};
    --input-border-color: {{or settings.inputBorderColor '#2d5931'}};
    --input-border-width: {{or settings.inputBorderWidth '2'}}px;
    --input-border-style: {{or settings.inputBorderStyle 'solid'}};
    --input-checkbox-color: {{or settings.inputCheckboxColor '#2d5931'}};
    --input-focus-color: {{or settings.inputFocusColor '#b30044'}};
    --input-color: {{or settings.inputColor '#000000'}};
    --input-label-color: {{or settings.inputLabelColor '#424c59'}};
    --input-label-font-style: {{or settings.inputLabelFontStyle 'normal'}};
    --input-label-font-weight: {{or settings.inputLabelFontWeight 700}};
    --input-label-text-transform: {{or settings.inputLabelTextTransform 'capitalize'}};
    --plot-point-fill: {{or settings.plotPointFill '#c9e2d1'}};
    --plot-point-stroke: {{or settings.plotPointStroke '#c9e2d1'}};
    --plot-point-text: {{or settings.plotPointText '#141c27'}};
    --section-alternate-background-color: {{or settings.sectionAlternateBackgroundColor '#ccd7df'}};
    --section-background-color: {{or settings.sectionBackgroundColor 'transparent'}};
    --section-background-color-opacity: {{or settings.sectionBackgroundColorOpacity '1'}};
    --section-background-image: {{ternary settings.sectionBackgroundImage (concat 'url(/' settings.sectionBackgroundImage ')') 'none'}};
    --section-background-image-opacity: {{or settings.sectionBackgroundImageOpacity '0'}};
    --section-background-position: {{or settings.sectionBackgroundRepeat 'center'}};
    --section-background-repeat: {{or settings.sectionBackgroundRepeat 'no-repeat'}};
    --section-background-size: {{or settings.sectionBackgroundSize 'cover'}};
    --section-border-color: {{or settings.sectionBorderColor '#2d5931'}};
    --section-border-style: {{or settings.sectionBorderStyle 'solid'}};
    --section-primary-title-font-color: {{or settings.sectionPrimaryTitleFontColor '#b30044'}};
    --section-primary-title-font-style: {{or settings.sectionPrimaryTitleFontStyle 'normal'}};
    --section-primary-title-font-weight: {{or settings.sectionPrimaryTitleFontWeight 700}};
    --section-primary-title-text-transform: {{or settings.sectionPrimaryTitleTextTransform 'uppercase'}};
    --section-secondary-title-font-color: {{or settings.sectionSecondaryTitleFontColor '#2d5931'}};
    --section-secondary-title-font-style: {{or settings.sectionSecondaryTitleFontStyle 'normal'}};
    --section-secondary-title-font-weight: {{or settings.sectionSecondaryTitleFontWeight 700}};
    --section-secondary-title-text-transform: {{or settings.sectionSecondaryTitleTextTransform 'uppercase'}};
    --selected-fill: {{or settings.selectedFill '#c9e2d1'}};
    --selected-stroke: {{or settings.selectedStroke '#b30044'}};
    --selected-number: {{or settings.selectedNumber '#141c27'}};
    --separator-color: {{or settings.separatorColor '#b30044'}};
    --separator-style: {{or settings.separatorStyle 'solid'}};
    --separator-weight: {{or settings.separatorWeight '2'}}px;
    --sfx-bullet-color: {{or settings.sfxBulletColor '#b30044'}};
    --sfx-label-font-color: {{or settings.sfxLabelFontColor '#2d5931'}};
    --sfx-label-font-style: {{or settings.sfxLabelFontStyle 'italic'}};
    --sfx-label-font-weight: {{or settings.sfxLabelFontWeight 700}};
    --sfx-label-text-transform: {{or settings.sfxLabelTextTransform 'capitalize'}};
    --sheet-background-color: {{or settings.sheetBackgroundColor '#dedede'}};
    --sheet-background-image: {{ternary settings.sheetBackgroundImage (concat 'url(/' settings.sheetBackgroundImage ')') 'none'}};
    --sheet-background-image-opacity: {{or settings.sheetBackgroundImageOpacity '0.5'}};
    --sheet-background-position: {{or settings.sheetBackgroundRepeat 'center'}};
    --sheet-background-repeat: {{or settings.sheetBackgroundRepeat 'no-repeat'}};
    --sheet-background-size: {{or settings.sheetBackgroundSize 'cover'}};
    --sub-trait-label-font-color: {{or settings.subTraitLabelFontColor '#2d5931'}};
    --sub-trait-label-font-style: {{or settings.subTraitLabelFontStyle 'normal'}};
    --sub-trait-label-font-weight: {{or settings.subTraitLabelFontWeight 700}};
    --sub-trait-label-text-transform: {{or settings.subTraitLabelTextTransform 'uppercase'}};
    --trait-sub-title-font-color: {{or settings.traitSubTitleFontColor '#b30044'}};
    --trait-sub-title-font-style: {{or settings.traitSubTitleFontStyle 'italic'}};
    --trait-sub-title-font-weight: {{or settings.traitSubTitleFontWeight 700}};
    --trait-sub-title-text-transform: {{or settings.traitSubTitleTextTransform 'none'}};
    --trait-title-font-color: {{or settings.traitTitleFontColor '#424c59'}};
    --trait-title-font-style: {{or settings.traitTitleFontStyle 'normal'}};
    --trait-title-font-weight: {{or settings.traitTitleFontWeight 700}};
    --trait-title-text-transform: {{or settings.traitTitleTextTransform 'uppercase'}};
    --unchosen-fill: {{or settings.unchosenFill '#dedede'}};
    --unchosen-stroke: {{or settings.unchosenStroke '#424c59'}};
    --unchosen-number: {{or settings.unchosenNumber '#424c59'}};
  }
</style>
