<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
</style>
<style>
  {{target}} {
    --cp-body-font-color: {{or settings.bodyFontColor '#000000'}};
    --cp-body-font-size: {{or settings.bodyFontSize 15}}px;
    --cp-body-font-weight: {{or settings.bodyFontWeight 400}};
    --cp-button-primary-color: {{or settings.buttonPrimaryColor '#2d5931'}};
    --cp-button-primary-font-color: {{or settings.buttonPrimaryFontColor '#ffffff'}};
    --cp-button-secondary-color: {{or settings.buttonSecondaryColor '#b30044'}};
    --cp-button-secondary-font-color: {{or settings.buttonSecondaryFontColor '#ffffff'}};
    --cp-chosen-fill: {{or settings.chosenFill '#ffffff'}};
    --cp-chosen-stroke: {{or settings.chosenStroke '#b30044'}};
    --cp-chosen-number: {{or settings.chosenNumber '#1f2834'}};
    --cp-descriptor-label-font-color: {{or settings.descriptorLabelFontColor '#000000'}};
    --cp-descriptor-label-font-size: {{or settings.descriptorLabelFontSize 14}}px;
    --cp-descriptor-label-font-style: {{or settings.descriptorLabelFontStyle 'italic'}};
    --cp-descriptor-label-font-weight: {{or settings.descriptorLabelFontWeight 700}};
    --cp-descriptor-label-text-transform: {{or settings.descriptorLabelTextTransform 'none'}};
    --cp-die-rating-fill: {{or settings.dieRatingFill '#b30044'}};
    --cp-die-rating-stroke: {{or settings.dieRatingStroke '#b30044'}};
    --cp-die-rating-number: {{or settings.dieRatingNumber '#ffffff'}};
    --cp-effect-fill: {{or settings.effectFill '#2d5931'}};
    --cp-effect-stroke: {{or settings.effectStroke '#2d5931'}};
    --cp-effect-number: {{or settings.effectNumber '#ffffff'}};
    --cp-hitch-fill: {{or settings.hitchFill '#141c27'}};
    --cp-hitch-stroke: {{or settings.hitchStroke '#b30044'}};
    --cp-hitch-number: {{or settings.hitchNumber '#ffffff'}};
    --cp-input-background-color: {{or settings.inputBackgroundColor '#c9e2d1'}};
    --cp-input-border-color: {{or settings.inputBorderColor '#2d5931'}};
    --cp-input-border-position: {{borderPosition settings.inputBorderPosition settings.inputBorderWidth}};
    --cp-input-border-width: {{or settings.inputBorderWidth '2'}}px;
    --cp-input-border-style: {{or settings.inputBorderStyle 'solid'}};
    --cp-input-checkbox-color: {{or settings.inputCheckboxColor '#2d5931'}};
    --cp-input-focus-color: {{or settings.inputFocusColor '#b30044'}};
    --cp-input-color: {{or settings.inputColor '#000000'}};
    --cp-input-label-color: {{or settings.inputLabelColor '#424c59'}};
    --cp-input-label-font-size: {{or settings.inputLabelFontSize 14}}px;
    --cp-input-label-font-style: {{or settings.inputLabelFontStyle 'normal'}};
    --cp-input-label-font-weight: {{or settings.inputLabelFontWeight 700}};
    --cp-input-label-text-transform: {{or settings.inputLabelTextTransform 'capitalize'}};
    --cp-plot-point-fill: {{or settings.plotPointFill '#c9e2d1'}};
    --cp-plot-point-stroke: {{or settings.plotPointStroke '#c9e2d1'}};
    --cp-plot-point-text: {{or settings.plotPointText '#141c27'}};
    --cp-section-alternate-background-color: {{or settings.sectionAlternateBackgroundColor '#ccd7df'}};
    --cp-section-background-color: {{or settings.sectionBackgroundColor '#f5f8fa'}};
    --cp-section-background-color-opacity: {{or settings.sectionBackgroundColorOpacity '1'}};
    --cp-section-background-image: {{ternary settings.sectionBackgroundImage (concat 'url(/' settings.sectionBackgroundImage ')') 'none'}};
    --cp-section-background-image-opacity: {{or settings.sectionBackgroundImageOpacity '0'}};
    --cp-section-background-position: {{or settings.sectionBackgroundPosition 'center'}};
    --cp-section-background-repeat: {{or settings.sectionBackgroundRepeat 'no-repeat'}};
    --cp-section-background-size: {{or settings.sectionBackgroundSize 'cover'}};
    --cp-section-border-color: {{or settings.sectionBorderColor '#2d5931'}};
    --cp-section-border-position: {{borderPosition settings.sectionBorderPosition settings.sectionBorderWidth}};
    --cp-section-border-style: {{or settings.sectionBorderStyle 'solid'}};
    --cp-section-primary-title-font-color: {{or settings.sectionPrimaryTitleFontColor '#b30044'}};
    --cp-section-primary-title-font-size: {{or settings.sectionPrimaryTitleFontSize 19}}px;
    --cp-section-primary-title-font-style: {{or settings.sectionPrimaryTitleFontStyle 'normal'}};
    --cp-section-primary-title-font-weight: {{or settings.sectionPrimaryTitleFontWeight 700}};
    --cp-section-primary-title-text-transform: {{or settings.sectionPrimaryTitleTextTransform 'uppercase'}};
    --cp-section-secondary-title-font-color: {{or settings.sectionSecondaryTitleFontColor '#2d5931'}};
    --cp-section-secondary-title-font-size: {{or settings.sectionSecondaryTitleFontSize 17}}px;
    --cp-section-secondary-title-font-style: {{or settings.sectionSecondaryTitleFontStyle 'normal'}};
    --cp-section-secondary-title-font-weight: {{or settings.sectionSecondaryTitleFontWeight 700}};
    --cp-section-secondary-title-text-transform: {{or settings.sectionSecondaryTitleTextTransform 'uppercase'}};
    --cp-selected-fill: {{or settings.selectedFill '#c9e2d1'}};
    --cp-selected-stroke: {{or settings.selectedStroke '#b30044'}};
    --cp-selected-number: {{or settings.selectedNumber '#141c27'}};
    --cp-separator-color: {{or settings.separatorColor '#b30044'}};
    --cp-separator-style: {{or settings.separatorStyle 'solid'}};
    --cp-separator-weight: {{or settings.separatorWeight '2'}}px;
    --cp-sfx-bullet-color: {{or settings.sfxBulletColor '#b30044'}};
    --cp-sfx-label-font-color: {{or settings.sfxLabelFontColor '#2d5931'}};
    --cp-sfx-label-font-size: {{or settings.sfxLabelFontSize 15}}px;
    --cp-sfx-label-font-style: {{or settings.sfxLabelFontStyle 'italic'}};
    --cp-sfx-label-font-weight: {{or settings.sfxLabelFontWeight 700}};
    --cp-sfx-label-text-transform: {{or settings.sfxLabelTextTransform 'capitalize'}};
    --cp-sheet-background-color: {{or settings.sheetBackgroundColor '#dedede'}};
    --cp-sheet-background-image: {{ternary settings.sheetBackgroundImage (concat 'url(/' settings.sheetBackgroundImage ')') 'none'}};
    --cp-sheet-background-image-opacity: {{or settings.sheetBackgroundImageOpacity '0.5'}};
    --cp-sheet-background-position: {{or settings.sheetBackgroundPosition 'center'}};
    --cp-sheet-background-repeat: {{or settings.sheetBackgroundRepeat 'no-repeat'}};
    --cp-sheet-background-size: {{or settings.sheetBackgroundSize 'cover'}};
    --cp-sub-trait-label-font-color: {{or settings.subTraitLabelFontColor '#2d5931'}};
    --cp-sub-trait-label-font-size: {{or settings.subTraitLabelFontSize 14}}px;
    --cp-sub-trait-label-font-style: {{or settings.subTraitLabelFontStyle 'normal'}};
    --cp-sub-trait-label-font-weight: {{or settings.subTraitLabelFontWeight 700}};
    --cp-sub-trait-label-text-transform: {{or settings.subTraitLabelTextTransform 'uppercase'}};
    --cp-trait-sub-title-font-color: {{or settings.traitSubTitleFontColor '#b30044'}};
    --cp-trait-sub-title-font-size: {{or settings.traitSubTitleFontSize 15}}px;
    --cp-trait-sub-title-font-style: {{or settings.traitSubTitleFontStyle 'italic'}};
    --cp-trait-sub-title-font-weight: {{or settings.traitSubTitleFontWeight 700}};
    --cp-trait-sub-title-text-transform: {{or settings.traitSubTitleTextTransform 'none'}};
    --cp-trait-title-font-color: {{or settings.traitTitleFontColor '#424c59'}};
    --cp-trait-title-font-size: {{or settings.traitTitleFontSize 16}}px;
    --cp-trait-title-font-style: {{or settings.traitTitleFontStyle 'normal'}};
    --cp-trait-title-font-weight: {{or settings.traitTitleFontWeight 700}};
    --cp-trait-title-text-transform: {{or settings.traitTitleTextTransform 'uppercase'}};
    --cp-unchosen-fill: {{or settings.unchosenFill '#dedede'}};
    --cp-unchosen-stroke: {{or settings.unchosenStroke '#424c59'}};
    --cp-unchosen-number: {{or settings.unchosenNumber '#424c59'}};
  }
</style>
