<div class="flex-col">
  <p class="input-label-cpt mb-1">
    {{label}}
  </p>
  <div class="flex-col">
    <div class="flex-row">
      <select class="input-cpt" name="{{name}}">
          <option value="none"{{ternary (eq value 'none') ' selected' ''}}>{{localize 'None'}}</option>
          <option value="capitalize"{{ternary (eq value 'capitalize') ' selected' ''}}>{{localize 'Capitalize'}}</option>
          <option value="lowercase"{{ternary (eq value 'lowercase') ' selected' ''}}>{{localize 'Lowercase'}}</option>
          <option value="uppercase"{{ternary (eq value 'uppercase') ' selected' ''}}>{{localize 'Uppercase'}}</option>
      </select>
    </div>
  </div>
</div>