<div class="flex-col">
  <p class="bold mb-1">
    {{label}}
  </p>
  <div class="flex-col">
    <div class="flex-row">
      <select class="input-cpt" name="{{name}}">
        {{#select value}}
          <option value="none">{{localize 'None'}}</option>
          <option value="capitalize">{{localize 'Capitalize'}}</option>
          <option value="lowercase">{{localize 'Lowercase'}}</option>
          <option value="uppercase">{{localize 'Uppercase'}}</option>
        {{/select}}
      </select>
    </div>
  </div>
</div>