@import 'functions';
@import 'colors';
@import 'mixins';

.cortexprime {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-size: 1rem;

  .window-title {
    line-height: inherit;
  }

  @import './global/normalize';
  @import './global/fields';
  @import './global/buttons';
  @import './global/misc';
  
  @import './modules/backgrounds';
  @import './modules/containers';
  @import './modules/drag-drop';
  @import './modules/typography';
  @import './modules/dice';
  
  @import './modules/DicePicker';
  @import './modules/DicePool';
  @import './modules/ItemSettings';
  @import './modules/RollResult';

  @import './theme';

  @import './layout/flex';
  @import './layout/spacing';

  @import './modules/ThemeEditor';
}
