// Import utilities.
@import 'utils/colors';
@import 'utils/functions';
@import 'utils/typography';
@import 'utils/spacing';


/* Global styles */
@import 'global/reset';
@import 'global/text';
@import 'global/borders';
@import 'global/buttons';
@import 'global/icons';
@import 'global/layout';
@import 'global/spacing';
@import 'global/misc';

/* Styles limited to cortexprime sheets */
.cortexprime {
  @import 'components/forms';
  @import 'components/tabs';
  @import 'components/breadcrumbs';
}

@import 'components/dice';
