// Import utilities.
@import 'utils/colors';
@import 'utils/functions';
@import 'utils/typography';
@import 'utils/mixins';
@import 'utils/variables';


/* Global styles */
@import 'global/window';
@import 'global/text';
@import 'global/borders';
@import 'global/buttons';
@import 'global/flex';
@import 'global/spacing';
@import 'global/misc';

/* Styles limited to cortexprime sheets */
.cortexprime {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/tabs';
  @import 'components/items';
}

@import 'components/dice';
