.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 1.25rem;
  margin-left: toRem(2px);
  margin-right: toRem(2px);
  position: relative;
  width: 1.25rem;

  &.pp {
    background-image: url("../assets/plot-point/plot-point.png");
    vertical-align: bottom;
  }
}