<div class="breadcrumbs">
  {{#each breadcrumbs as |breadcrumb breadcrumbIndex|}}
    {{#if (gt breadcrumbIndex  0)}}
      <span class="mb-2">/</span>
    {{/if}}
    {{#if breadcrumb.active}}
      <span class="breadcrumb active">{{ ternary breadcrumb.localize (localize breadcrumb.name) breadcrumb.name }}</span>
    {{else}}
      <span class="breadcrumb" data-to="{{breadcrumb.target}}">{{ ternary breadcrumb.localize (localize breadcrumb.name) breadcrumb.name }}</span>
    {{/if}}
  {{/each}}
</div>