<div>
  <section class="my-2">
    <h2 class="section-heading flex-col col-12"></h2>
    <header class="flex-row flex-ac">
      <h2 class="section-heading flex-col col-12">{{localize "CortexPrime.Complications"}}</h2>
      <div class="flex-col">
        <button class="btn btn-icon btn-secondary add-new-complication" type="button">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </header>
    <div>
      {{#each data.complications as |complication complicationIndex|}}
        <div class="flex-row flex-ac">
          {{#if ../data.showEdit}}
            <div class="flex-col col-12">
              <label class="label">{{localize 'CortexPrime.ComplicationName'}}</label>
              <input name="data.complications.{{complicationIndex}}.name" type="text" value="{{complication.name}}">
            </div>
          {{else}}
            <div class="flex-col">
              <p class="add-trait-to-target trait-label" data-trait-target="data.complications.{{complicationIndex}}">{{complication.name}}</p>
            </div>
          {{/if}}
          <div class="flex-col">
            {{> "systems/cortexprime/templates/partials/dice/select.html" dice=complication.dice.values selectName=(concat
            "data.complications." complicationIndex ".dice") minDice=traitSet.minDice }}
          </div>
          <div class="flex-col">
            <button class="remove-complication btn btn-icon btn-small btn-black" data-key="{{complicationIndex}}">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</div>