<article>
  <header class="mb-2">
    <h1 class="primary-heading">Character Sheet Help</h1>
  </header>
  <p>This page will explain how to use this character sheet.</p>
  <section class="my-4">
    <header class="mb-2">
      <h2 class="section-heading">Editing</h2>
    </header>
    <p class="mb-2">Throughout the character sheet you will see the <i class="far fa-edit"></i> icon. Clicking this will
      allow you to edit that section. Once in edit mode the icon will turn solid (<i class="fas fa-edit"></i>). Many areas
      are purposefuly made so that it requires to be in edit mode to change, so that mistake isn't accidentally made when
      viewing regulary.</p>
    <p>You can have more than one section/item in edit view at the same time.</p>
  </section>
  <section class="my-4">
    <header class="mb-2">
      <h2 class="section-heading">Shutdown</h2>
    </header>
    <p>Throughout the character sheet you will see the <i class="fas fa-toggle-on text-primary"></i> icon. This means that the section or item is "on". Clicking this will
      allow you to shutodwn that section or item. Once shutdown the icon will change to the off position (<i class="fas fa-toggle-off text-primary"></i>). While shutdown, any rollable traits will not add to the Dice Pool. Also, section or item will be faded while in read view.</p>
  </section>
  <section class="my-4">
    <header class="mb-2">
      <h2 class="section-heading">Detail Lists</h2>
    </header>
    <p class="mb-2">A few items thorughout the character sheet may have the options of "Detail Lists". Whether or not these are present are determined in the System Settings. Things like traits and signature assets may have this option.</p>
    <p class="mb-2">The point of detail lists is to be a catch all for things like tags, SFX, and any other lists you may add to an item.</p>
    <p>Detail Lists can have any amount of list items.</p>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Name</h3>
      </header>
      <p>This is intended to be the unique name of the detail item, it will appear in bold</p>
    </section>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Type</h3>
      </header>
      <p>This is intended to be the category or tag type to the detail item, e.g. SFX, limit, etc. It will appear in bold and italic.</p>
    </section>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Unlock</h3>
      </header>
      <p class="mb-2">When checked, the icon before the detail item in read view will be a solid circle: <i class="fas fa-circle text-primary"></i>. When unchecked it will be an unfilled circle: <i class="far fa-circle text-primary"></i></p>
      <p>This option's intended purpose is to show whether or not an SFX is unlocked. However, you could of course use it for a different purpose, depending on your context.</p>
    </section>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Value</h3>
      </header>
      <p>This can be a description, a comma separated list of values, etc. This obviously depends on the context and what the detail's item type is.</p>
    </section>
  </section>
  <section class="my-4">
    <header class="mb-2">
      <h2 class="section-heading">Plot Point</h2>
    </header>
    <p class="mb-2">The Plot Points section of the character sheet is fairly simple to use. Simply click on the big PP symbol to spend a plot point, assuming you have one. The number below the icon indicates how many plot points you have. Clicking on the <i class="fas fa-plus-circle text-secondary"></i> icon will add a plot point.</p>
    <p class="mb-2">Adding or spending a plot point will display the appropriate message in the chat.</p>
    <p>Plot Point spending is hooked up with the DiceSoNice module to show a PP token when spent.</p>
  </section>
  <section class="my-4">
    <header class="mb-2">
      <h2 class="section-heading">Trait Set</h2>
    </header>
    <p class="mb-2">The Plot Points section of the character sheet is fairly simple to use. Simply click on the big PP
      symbol to spend a plot point, assuming you have one. The number below the icon indicates how many plot points you
      have. Clicking on the <i class="fas fa-plus-circle text-secondary"></i> icon will add a plot point.</p>
    <p class="mb-2">Adding or spending a plot point will display the appropriate message in the chat.</p>
    <p>Plot Point spending is hooked up with the DiceSoNice module to show a PP token when spent.</p>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Shutdown (<i class="fas fa-toggle-on text-primary"></i>/<i class="fas fa-toggle-off text-primary"></i>)</h3>
      </header>
      <p>Clicking this will allow you to shutdown or reverse the shutdown of this trait set and all of its associated traits. For more detailed information, see
        the shutdown section above.</p>
    </section>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Add Trait (green plus button)</h3>
      </header>
      <p>Clicking this icon will allow you to add a trait to the trait set. Whether or not you can add a trait to a trait set depends on the settings in the System Settings set up by the GM. If you cannot add a trait, this button will not appear.</p>
    </section>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Set Description</h3>
      </header>
      <p>A general description of the trait set.</p>
    </section>
  </section>
  <section class="my-4">
    <header class="mb-2">
      <h2 class="section-heading">Traits</h2>
    </header>
    <p>Each trait may have different options for the associated trait set depending upon the System Settings. However, below is a description of each option you may find in a trait and it's subsequent traits.</p>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Trait Name</h3>
      </header>
      <p>The name of your trait.</p>
    </section>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Die Rating</h3>
      </header>
      <p>In read view it simply shows what die or dice you have associated with this trait. You may change the die rating or add dice to the trait in the edit view. What die ratings you may choose, minimum and maximum dice you may have on a trait in this trait set is determined by the trait set settings in the System Settings, set up by the GM.</p>
    </section>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Shutdown (<i class="fas fa-toggle-on text-primary"></i>/<i class="fas fa-toggle-off text-primary"></i>)</h3>
      </header>
      <p>Clicking this will allow you to shutdown or reverse the shutdown of this trait. For more detailed information, see the shutdown section above.</p>
    </section>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Trait Description</h3>
      </header>
      <p>A general description of the trait.</p>
    </section>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Detail List</h3>
      </header>
      <p>Some trait sets allow detail lists in their traits as determined in the System Settings by the GM. For more information on Detail Lists see Detail Lists above.</p>
    </section>
  </section>
  <section class="my-4">
    <header class="mb-2">
      <h2 class="section-heading">Misc Traits</h2>
    </header>
    <p class="mb-2">The miscellaneous traits appear on the right side of the character sheet (e.g. Signature Assets, Assets,
      Complications, etc.). Some of these miscellaneous traits will not appear if they are not included by the GM in the
      System Settings.</p>
    <p>The options that you see in these traits work essentially the same as those in the Traits section above.</p>
  </section>
  <section class="my-4">
    <header class="mb-2">
      <h2 class="section-heading">Dice Pool</h2>
    </header>
    <p>This area of the character sheet is to prepare and modify your dice for rolling.</p>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Add Custom Dice</h3>
      </header>
      <p>Here you can add any die or dice to your pool. You can optionally use the label field to add a label as it appears in your pool. You can also modify or add dice to this label. There is a reset button which will clear out the label for you and set the die configuration to a d8 for your next add. Finally, there is an add button to add your custom die/dice to the dice pool.</p>
    </section>
    <section>
      <header class="my-2">
        <h3 class="section-sub-heading">Gray Pool Box</h3>
      </header>
      <p class="mb-2">This is where all dice you have selected from your various traits (by clicking on their names while in the read view), as well as any custom dice you may have added. While in this box you can modify the dice or add more to them.</p>
      <p>At the bottom right is a clear button to clear the pool of any dice and a roll button to roll the dice in the dice pool.</p>
    </section>
  </section>
</article>