<section class="trait-sets-container my-4">
  <input class="reset-field" type="hidden" name="reset" value="">
  {{#each traitSets as |traitSet traitSetKey|}}
  <div class="trait-set collapse-parent">
    <div class="trait-set-header flex flex-ac collapse-header">
      <input name="traitSets.{{traitSetKey}}.name" type="text" value="{{traitSet.name}}" />
      <button class="btn btn-icon remove-parent-element" data-selector=".trait-set" type="button">
        <i class="fa fa-trash"></i>
      </button>
      <button class="btn btn-icon collapse-toggle" data-target="traitSets.{{traitSetKey}}" type="button">
        <i class="fa {{ternary traitSet.isHidden 'fa-chevron-down' 'fa-chevron-up'}}"></i>
      </button>
      <input class="collapse-value hide" type="checkbox" name="traitSets.{{traitSetKey}}.isHidden" {{checked traitSet.isHidden}} />
    </div>
    <div class="flex-row flex-wrap collapse-body{{ternary traitSet.isHidden ' hide' ''}}">
      <label class="flex-col col-12 my-1">
        <span>{{localize 'Description'}}</span>
        <textarea name="traitSets.{{traitSetKey}}.description">{{traitSet.description}}</textarea>
      </label>
      <label class="flex-col my-1">
        <span class="label text-primary">{{localize 'HasDice'}}</span>
        <input class="display-toggle" data-scope=".trait-set" data-selector=".dice-field-set"
          name="traitSets.{{traitSetKey}}.hasDice" type="checkbox" {{checked traitSet.hasDice}} />
      </label>
      <div class="flex-col col-12 my-1">
        <fieldset class="dice-field-set{{ternary traitSet.hasDice '' ' hide'}}">
          <legend class="section-sub-heading">{{localize 'Dice'}}</legend>
          <div class="flex-row flex-wrap flex-as">
            <div class="flex-col col-6 my-1">
              <label class="flex-row flex-ac">
                <span class="flex-col col-12 label text-primary">{{localize 'MinDice'}}</span>
                <span class="flex-col">
                  <input id="edit-trait-set-min-dice" max="10" min="0" name="traitSets.{{traitSetKey}}.minDice"
                    type="number" value="{{traitSet.minDice}}" style="width: 3.25rem; text-align: center;" />
                </span>
              </label>
              <p class="mt-1">{{localize 'MinDiceD'}}</p>
            </div>
            <div class="flex-col col-6 my-1">
              <label class="flex-row flex-ac">
                <span class="flex-col col-12 label text-primary">{{localize 'MaxDice'}}</span>
                <span class="flex-col">
                  <input id="edit-trait-set-max-dice" min="-1" name="traitSets.{{traitSetKey}}.maxDice" type="number"
                    value="{{traitSet.maxDice}}" style="width: 3.25rem; text-align: center;" />
                </span>
              </label>
              <p class="mt-1">{{localize 'MaxDiceD'}}</p>
            </div>
            <div class="flex-col col-6 my-1">
              <label class="flex-row flex-ac">
                <span class="flex-col col-12 label text-primary">{{localize 'MinDieRating'}}</span>
                <span class="flex-col">
                  <select id="edit-trait-set-min-die-rating" name="traitSets.{{traitSetKey}}.minDieRating"
                    value="{{traitSet.minDieRating}}">
                    {{#select traitSet.minDieRating}}
                    {{> "systems/cortexprime/templates/partials/dice/select-options.html" max=12 min=0 zeroOption="0"}}
                    {{/select}}
                  </select>
                </span>
              </label>
              <p class="mt-1">{{localize 'MinDieRatingD'}}</p>
            </div>
            <div class="flex-col col-6 my-1">
              <label class="flex-row flex-ac">
                <span class="flex-col col-12 label text-primary">{{localize 'MaxDieRating'}}</span>
                <span class="flex-col">
                  <select id="edit-trait-set-max-die-rating" name="traitSets.{{traitSetKey}}.maxDieRating"
                    value="{{traitSet.maxDieRating}}">
                    {{#select traitSet.maxDieRating}}
                    {{> "systems/cortexprime/templates/partials/dice/select-options.html" max=12 min=4}}
                    {{/select}}
                  </select>
                </span>
              </label>
              <p class="mt-1">{{localize 'MaxDieRatingD'}}</p>
            </div>
          </div>
        </fieldset>
      </div>
      <section class="flex-col col-12 my-1 traits">
        <header class="flex-row flex-ac">
          <h3 class="section-sub-heading flex-col col-12">{{localize 'Traits'}}</h3>
          <div>
            <button class="add-trait flex-col btn btn-secondary" data-trait-set="{{traitSetKey}}" type="button">
              {{localize 'AddTrait'}}
            </button>
          </div>
        </header>
        <label class="my-1">
          <span class="label text-primary">{{localize 'AllowCustomTraits'}}</span>
          <input name="traitSets.{{traitSetKey}}.allowCustomTraits" type="checkbox" {{checked traitSet.allowCustomTraits}} />
        </label>
        <label class="my-1">
          <span class="label text-primary">{{localize 'HasLabels'}}</span>
          <input name="traitSets.{{traitSetKey}}.hasLabel" type="checkbox" {{checked traitSet.hasLabel}} />
        </label>
        <label class="my-1">
          <span class="label text-primary">{{localize 'HasDetails'}}</span>
          <input class="display-toggle" data-scope=".trait-set" data-selector=".details-container"
            name="traitSets.{{traitSetKey}}.hasDetails" type="checkbox" {{checked traitSet.hasDetails}} />
        </label>
        <div class="traits-container">
          {{#each traitSet.traits as |trait traitKey|}}
          <div class="trait collapse-parent">
            <div class="trait-header flex flex-ac">
              <input name="traitSets.{{traitSetKey}}.traits.{{traitKey}}.name" type="text" value="{{trait.name}}" />
              <button class="btn btn-icon remove-parent-element" data-selector=".trait" type="button">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-icon collapse-toggle" data-target="traitSets.{{traitSetKey}}.traits.{{traitKey}}" type="button">
                <i class="fa {{ternary trait.isHidden 'fa-chevron-down' 'fa-chevron-up'}}"></i>
              </button>
              <input class="collapse-value hide" type="checkbox" name="traitSets.{{traitSetKey}}.traits.{{traitKey}}.isHidden" {{checked
                trait.isHidden}} />
            </div>
            <div class="trait-body collapse-body{{ternary trait.isHidden ' hide' ''}}">
              <label>
                <span>{{localize 'Description'}}</span>
                <textarea
                  name="traitSets.{{traitSetKey}}.traits.{{traitKey}}.description">{{trait.description}}</textarea>
              </label>
              <div class="flex-col col-12 my-1 details-container{{ternary traitSet.hasDetails '' ' hide'}}">
                <fieldset>
                  <legend>{{localize 'Details'}}</legend>
                  <div class="details">
                    <button class="btn btn-secondary add-detail" data-trait-set="{{traitSetKey}}" data-trait="{{traitKey}}">{{localize 'AddDetail'}}</button>
                    {{#each trait.details as |detail detailKey|}}
                      <div class="detail{{ternary (gt detailKey 0) ' bt-1-primary mt-2 pt-2' ''}}">
                        <div class="flex-row flex-ae">
                          <div class="flex-col">
                            <label class="label">{{localize 'Name'}}</label>
                            <input name="traitSets.{{traitSetKey}}.traits.{{traitKey}}.details.{{detailKey}}.name" value="{{detail.name}}" />
                          </div>
                          <div class="flex-col">
                            <label class="label">{{localize 'Type'}}</label>
                            <input name="traitSets.{{traitSetKey}}.traits.{{traitKey}}.details.{{detailKey}}.type" value="{{detail.type}}" />
                          </div>
                          <div class="flex-col">
                            <label class="label">
                              <span>{{localize 'Unlocked'}}</span>
                              <input name="traitSets.{{traitSetKey}}.traits.{{traitKey}}.details.{{detailKey}}.unlocked" type="checkbox"
                                {{checked detail.unlocked}} />
                            </label>
                          </div>
                          <div class="flex-col">
                            <button class="btn btn-icon remove-parent-element" data-selector=".detail" type="button">
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                        <div>
                          <label class="label">{{localize 'Value'}}</label>
                          <textarea name="traitSets.{{traitSetKey}}.traits.{{traitKey}}.details.{{detailKey}}.value">{{detail.value}}</textarea>
                        </div>
                      </div>
                    {{/each}}
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </section>
    </div>
  </div>
  {{/each}}
</section>
