<div class="ba-1-secondary pa-2">
  <div class="flex-row flex-ac">
    <div
      class="{{ternary big 'section-heading' 'label'}} add-trait-to-pool flex-col"
      data-label="{{name}}"
      data-trait-target="{{path}}.{{type}}"
    >
      {{name}}
    </div>
    <div class="flex-col">
      {{> "systems/cortexprime/templates/partials/dice/select.html"
        dice=value.values
        edit=value.edit
        selectName=(concat path "." type)
      }}
    </div>
    <div class="flex-col">
      <button class="toggle-item btn btn-icon" data-path="data.{{type}}.edit">
        <i class="{{ternary value.edit 'fas' 'far'}} fa-edit"></i>
      </button>
    </div>
  </div>
</div>