<div>
  {{#each data.traitSets as |traitSet traitSetKey|}}
    <section class="my-2">
      <div class="ba-1-secondary flex-container py-2">
        <header class="flex-row flex-ac">
          <h3 class="section-heading flex-col col-12{{ternary traitSet.shutdown ' shutdown' ''}}">{{traitSet.name}}</h3>
          {{#if traitSet.edit}}
            <div class="flex-col">
              <button class="btn btn-icon text-primary toggle-item" data-path="data.traitSets.{{traitSetKey}}.shutdown" type="button">
                <i class="fas {{ternary traitSet.shutdown 'fa-toggle-off' 'fa-toggle-on'}}"></i>
              </button>
            </div>
            {{#if traitSet.allowCustomTraits}}
              <div class="flex-col">
                <button class="btn btn-icon btn-secondary add-new-trait" data-set-key="{{traitSetKey}}" type="button">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            {{/if}}
          {{/if}}
          <div class="flex-col">
            <button class="toggle-item btn btn-icon" data-path="data.traitSets.{{traitSetKey}}.edit" type="button">
              <i class="{{ternary traitSet.edit 'fas' 'far'}} fa-edit"></i>
            </button>
          </div>
        </header>
        {{#if traitSet.edit}}
          <label class="label">{{localize "CortexPrime.TraitSetDescription"}}</label>
          <textarea name="data.traitSets.{{traitSetKey}}.description">{{traitSet.description}}</textarea>
        {{else}}
          <div class="{{ternary traitSet.shutdown 'shutdown' ''}}">
            {{#if traitSet.description}}
              <p>{{traitSet.description}}</p>
            {{/if}}
          </div>
        {{/if}}
        <div>
          {{#each traitSet.traits as |trait traitKey|}}
            <section>
              <header>
                {{#if (or (and trait.edit traitSet.hasLabel) (and traitSet.hasLabel trait.label))}}
                  <p class="section-sub-heading mt-1 flex-col col-12{{ternary (and (not trait.edit) (or traitSet.shutdown trait.shutdown)) ' shutdown' ''}}">{{trait.name}}</p>
                {{/if}}
                <div class="flex-row {{ternary trait.edit 'flex-ae' 'flex-ac'}}">
                  {{#if trait.edit}}
                    <div class="flex-col col-12">
                      {{#unless traitSet.hasLabel}}
                        <label class="label">{{localize 'CortexPrime.TraitName'}}</label>
                        <input name="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}.name" type="text" value="{{trait.name}}">
                      {{else}}
                        <label class="label">{{localize 'CortexPrime.TraitLabel'}}</label>
                        <input name="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}.label" type="text" value="{{trait.label}}">
                      {{/unless}}
                    </div>
                    <div class="flex-col">
                      <button class="btn btn-icon text-primary toggle-item" data-path="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}.shutdown" type="button">
                        <i class="fas {{ternary trait.shutdown 'fa-toggle-off' 'fa-toggle-on'}}"></i>
                      </button>
                    </div>
                  {{else}}
                    <div class="flex-col{{ternary (or traitSet.shutdown trait.shutdown) ' shutdown' ''}}">
                      <div class="flex-row">
                        {{#unless (and traitSet.hasLabel trait.label)}}
                        <p class="{{ternary (and (not traitSet.shutdown) (not trait.shutdown)) 'add-trait-to-pool ' ''}}trait-label flex-col col-12" data-label="{{trait.name}}"
                          data-trait-target="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}">{{trait.name}}</p>
                        {{else}}
                        <p class="{{ternary (and (not traitSet.shutdown) (not trait.shutdown)) 'add-trait-to-pool ' ''}}trait-label flex-col col-12" data-label="{{trait.label}}"
                          data-trait-target="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}">{{trait.label}}</p>
                        {{/unless}}
                      </div>
                    </div>
                  {{/if}}
                  <div class="flex-col">
                    {{> "systems/cortexprime/templates/partials/dice/select.html"
                      dice=trait.dice.values selectName=(concat "data.traitSets." traitSetKey ".traits." traitKey ".dice")
                      max=traitSet.maxDieRating
                      min=traitSet.minDieRating
                      maxDice=traitSet.maxDice
                      minDice=traitSet.minDice
                      shutdown=(or traitSet.shutdown trait.shutdown)
                    }}
                  </div>
                  {{#if (and trait.edit trait.isCustomTrait)}}
                    <div class="flex-col flex-ac-self">
                      <button class="remove-item btn btn-icon btn-small btn-black" data-path="data.traitSets.{{traitSetKey}}" data-target="traits" data-key="{{traitKey}}">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  {{/if}}
                  <div class="flex-col">
                    <button class="toggle-item btn btn-icon" data-path="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}.edit" type="button">
                      <i class="{{ternary trait.edit 'fas' 'far'}} fa-edit"></i>
                    </button>
                  </div>
                </div>
              </header>
              {{#if trait.edit}}
                <div>
                  <div class="mt-1">
                    <label class="label">{{localize "CortexPrime.TraitDescription"}}</label>
                    <textarea class="mt-1"
                      name="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}.description">{{trait.description}}</textarea>
                  </div>
                </div>
                {{#if traitSet.hasDetails}}
                  <div class="mt-1">
                    <div class="flex-row flex-ac">
                      <h4 class="section-sub-heading flex-col col-12">{{localize 'CortexPrime.DetailList'}}</h4>
                      <div class="flex-col">
                        <button class="add-new-detail btn btn-icon btn-secondary" data-trait-set="{{traitSetKey}}"
                          data-trait="{{traitKey}}">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    {{#each trait.details as |detail detailKey|}}
                      <div class="detail mt-2{{ternary (gt detailKey 0) ' pt-2 bt-1-primary' ''}}">
                        <div class="flex-row flex-as">
                          <div class="flex-col">
                            <label class="label">{{localize 'CortexPrime.Name'}}</label>
                            <input type="text" name="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}.details.{{detailKey}}.name"
                              value="{{detail.name}}">
                          </div>
                          <div class="flex-col">
                            <label class="label">{{localize 'CortexPrime.Type'}}</label>
                            <input type="text" name="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}.details.{{detailKey}}.type"
                              value="{{detail.type}}">
                          </div>
                          <div class="flex-col">
                            <label class="label">{{localize 'CortexPrime.Unlocked'}}</label>
                            <input type="checkbox"
                              name="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}.details.{{detailKey}}.unlocked" {{checked
                              detail.unlocked}}>
                          </div>
                          <div class="flex-col">
                            <button class="remove-item btn btn-icon btn-small btn-black" data-path="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}" data-target="details" data-key="{{detailKey}}">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <div>
                          <label class="label">{{localize 'CortexPrime.Value'}}</label>
                          <textarea type="text"
                            name="data.traitSets.{{traitSetKey}}.traits.{{traitKey}}.details.{{detailKey}}.value">{{detail.value}}</textarea>
                        </div>
                      </div>
                    {{/each}}
                  </div>
                {{/if}}
              {{else}}
                <div class="{{ternary (or traitSet.shutdown trait.shutdown) 'shutdown' ''}}">
                  {{#if trait.description}}
                    <div class="mt-1">{{trait.description}}</div>
                  {{/if}}
                  {{#if traitSet.hasDetails}}
                    <div class="mt-1">
                      <div>
                        {{#each trait.details as |detail detailKey|}}
                        <div class="my-2">
                          <i class="text-primary mr-2 {{ternary detail.unlocked 'fas' 'far'}} fa-circle"></i>
                          {{#if detail.type}}
                          <span class="bold mr-1 text-secondary italic">{{detail.type}}</span>
                          {{/if}}
                          {{#if detail.name}}
                          <span class="bold text-dark-grey mr-1">{{detail.name}}</span>
                          {{/if}}
                          {{#if detail.value}}
                          <p class="ml-7 mt-1">{{{detail.value}}}</p>
                          {{/if}}
                        </div>
                        {{/each}}
                      </div>
                    </div>
                  {{/if}}
                </div>
              {{/if}}
            </section>
          {{/each}}
        </div>
      </div>
    </section>
  {{/each}}
</div>