@mixin element-invisible {
  position: absolute;

  width: toRem(1px);
  height: toRem(1px);
  margin: toRem(-1px);
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin hide {
  display: none;
}
