<div class="cortexprime dice-picker">
  <div class="sheet-cpt">
    <div class="sheet-background"></div>
    <div class="sheet-image"></div>
    {{> "systems/cortexprime/templates/partials/settings/theme/style.html"
      settings=theme
      target='.dice-picker'
    }}
    <div class="sheet-content pa-2">
      <div class="pa-2 section-cpt b{{?? theme.sectionBorderPosition 'a'}}-{{?? theme.sectionBorderWidth '2'}}">
        <div class="section-image"></div>
        <div class="section-background-alternate"></div>
        <div class="section-content">
          <div class="flex flex-c flex-wrap dice-box">
            {{#each rollResults.results as |rollResult rollResultIndex|}}
              <div class="die-icon-wrapper my-1">
                <div class="cursor-pointer result-die d{{rollResult.faces}} selectable result" data-faces="{{rollResult.faces}}" data-key="{{rollResultIndex}}" data-result="{{rollResult.result}}">
                  {{> (concat "systems/cortexprime/templates/partials/dice/d" rollResult.faces ".html")
                    number=rollResult.result
                    type='unchosen'
                  }}
                </div>
                <div class="bold descriptor-label-cpt">d{{rollResult.faces}}</div>
              </div>
            {{/each}}
            {{#each rollResults.hitches as |rollResult|}}
            <div class="die-icon-wrapper my-1">
              <div class="d{{rollResult.faces}} hitch">
                {{> (concat "systems/cortexprime/templates/partials/dice/d" rollResult.faces ".html")
                  number=1
                  type='hitch'
                }}
              </div>
              <div class="bold descriptor-label-cpt">d{{rollResult.faces}}</div>
            </div>
            {{/each}}
          </div>
          <div class="action-buttons flex-row flex-c">
            <div class="flex-col">
              <button class="btn btn-icon btn-secondary-cpt reset-selection" disabled type="button">
                <i class="fa fa-undo"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row my-2">
        <div class="flex-col col-6">
          <div class="section-cpt b{{?? theme.sectionBorderPosition 'a'}}-{{?? theme.sectionBorderWidth '2'}}">
            <div class="section-image"></div>
            <div class="section-background"></div>
            <div class="section-content pa-2 text-center">
              <h3 class="section-primary-title-cpt">{{localize 'Total'}}</h3>
              <div class="flex-row flex-c mt-1">
                <div class="px-1">
                  <button class="btn btn-icon btn-secondary-cpt select-by-total" type="button">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
                <div class="px-1">
                  <button class="btn btn-icon btn-primary-cpt add-to-total" disabled type="button">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <p class="total-value pt-2 pb-1 section-secondary-title-cpt">0</p>
            </div>
          </div>
        </div>
        <div class="flex-col col-6">
          <div class="section-cpt b{{?? theme.sectionBorderPosition 'a'}}-{{?? theme.sectionBorderWidth '2'}}">
            <div class="section-image"></div>
            <div class="section-background"></div>
            <div class="section-content pa-2 text-center">
              <h3 class="section-primary-title-cpt">{{localize 'EffectDice'}}</h3>
              <div class="flex-row flex-c my-1">
                <div class="px-1">
                  <button class="btn btn-icon btn-secondary-cpt select-by-effect" type="button">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
                <div class="px-1">
                  <button class="btn btn-icon btn-primary-cpt add-to-effect" disabled type="button">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <div class="effect-dice flex-row flex-c flex-wrap">
                <div class="die-icon-wrapper my-1 default">
                  {{> (concat "systems/cortexprime/templates/partials/dice/d4.html")
                    number=4
                    type='effect'
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>