.btn {
  @include btn;
  
  &.btn-icon {
    @include btn-icon;
  }

  &.display-toggle {
    &:hover, &:focus {
      box-shadow: none;
    }
  }
}


.btn-icon-text {
  background-color: transparent;
  border: solid transparent;
  border-width: 0;
  color: var(--body-font-color, color('body-font'));
}

.btn-secondary {
  @include btn-secondary;
}

.btn-small {
  font-size: toRem(10px);
  height: toRem(16px);
  padding: toRem(2px);
  width: toRem(16px);
}

.btn-text {
  background-color: inherit;
  border: solid transparent;
  border-width: 0;
  border-radius: 0;
  color: inherit;
  display: block;
  height: auto;
  line-height: 1;
  padding: 0 0.25rem;
  width: 100%;
}