.btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: toRem(14px);
  line-height: normal;
  min-height: auto;
  padding: toRem(4px) toRem(8px);
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;

  &:disabled {
    opacity: 0.5;
    color: #ffffff;
    cursor: not-allowed;
  }

  &.btn-small {
    font-size: toRem(10px);
    height: toRem(16px);
    padding: toRem(2px);
    width: toRem(16px);
  }
}

.btn-icon {
  border-radius: 50%;
  font-size: toRem(14px);
  height: toRem(24px);
  line-height: normal;
  padding: toRem(4px);
  text-align: center;
  width: toRem(24px);

  i.fa {
    margin-right: 0;
  }
}

.add-trait-to-pool {
  cursor: pointer;
}
