.field {
  display: block;
}

.field-hint {
  font-style: italic;
}

.field-input {
  background-color: var(--input-background-color, color('input-background'));
  border: var(--input-border, solid color('input-border'));
  border-width: var(--input-border-width, 0 0 2px);
  border-radius: var(--input-border-radius, 0);
  color: var(--input-font-color, color('input-font'));
  height: toRem(26px);
  padding: 0 toRem(4px);
  width: 100%;

  &:disabled {
    cursor: not-allowed;
    opacity: 50%;
  }

  optgroup, option {
    color: color('select-option-font');
  }
}

.field-label {
  color: var(--input-label-color, color('input-label'));
  display: block;
  font-size: var(--input-label-size, toRem(12px));
  font-style: var(--input-label-style, normal);
  font-weight: var(--input-label-weight, 700);
  margin-bottom: toRem(4px);
  text-transform: var(--input-label-casing, capitalize);
}

.field-wrapper {
  display: block;
}

.field-checkbox {
  .field-label {
    cursor: pointer;
    margin-bottom: 0;
  }
}

.field-disabled {
  .field-label {
    opacity: 0.5;
  }
}