.field {
  display: block;
}

.field-hint {
  font-style: italic;
  margin-top: toRem(4px);

  a {
    text-decoration: underline;
  }
}

.field-input, .color {
  background-color: var(--input-background-color, color('input-background'));
  border: var(--input-border, solid color('input-border'));
  border-width: var(--input-border-width, 0 0 2px);
  border-radius: var(--input-border-radius, 0);
  color: var(--input-font-color, color('input-font'));
  height: toRem(26px);
  padding: 0 toRem(4px);
  width: 100%;

  &:disabled {
    cursor: not-allowed;
    opacity: 50%;
  }

  optgroup, option {
    color: color('select-option-font');
  }
}

.field-label {
  color: var(--input-label-color, color('input-label'));
  display: block;
  font-size: var(--input-label-size, toRem(12px));
  font-style: var(--input-label-style, normal);
  font-weight: var(--input-label-weight, 700);
  margin-bottom: toRem(4px);
  text-transform: var(--input-label-casing, capitalize);
}

.field-wrapper {
  display: block;
}

.field-color-picker {
  .swatch {
    border: 1px solid black;
    box-sizing: border-box;
    height: toRem(26px);
    pointer-events: none;
    position: relative;
    width: toRem(26px);

    &.transparent::before {
      border-bottom: 2px solid red;
      content: '';
      display: block;
      height: toRem(34px);
      left: toRem(11px);
      position: absolute;
      top: toRem(-28px);
      transform: rotate(45deg);
      transform-origin: left;
      width: toRem(34px);
    }
  }

  .field-color {
    display: flex;
    gap: toRem(8px);
    position: relative;
    width: toRem(116px);
  
    input[type="color"] {
      border: 0;
      cursor: pointer;
      flex: none;
      margin: 0;
      padding: 0;
      height: toRem(26px);
      width: toRem(26px);
    }

    .swatch {
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }
}

.field-color-view {
  display: flex;
  gap: toRem(8px);
  width: toRem(116px);
}

.field-checkbox {
  .field-label {
    cursor: pointer;
    margin-bottom: 0;
  }

  &.field-disabled {
    .field-label {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.field-view {
  width: auto;
}

.field-view-value {
  height: toRem(26px);
  padding: toRem(4px);
}
