.d-block {
  display: block;
}

@for $i from 1 through 4 {
  .columns-#{$i} {
    column-count: 2;
    column-gap: 0;
  }
}

@for $i from 0 through 12 {
  .column-gap-#{$i} {
    column-gap: $i * $spacing-sm;
  }
}

.column-item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.flex, .flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-container {
  padding-left: $side-gutters - calc($horizontal-gutters / 2);
  padding-right: $side-gutters - calc($horizontal-gutters / 2);
}

.flex-row {
  margin-left: ($side-gutters - calc($horizontal-gutters / 2)) * -1;
  margin-right: ($side-gutters - calc($horizontal-gutters / 2)) * -1;
}

.flex-col {
  flex-basis: auto;
  flex-grow: 0;
  max-width: 100%;
  padding-left: calc($horizontal-gutters / 2);
  padding-right: calc($horizontal-gutters / 2);
  width: auto;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    max-width: percentage(calc($i / 12));
    width: 100%;
  }
}

.flex-as {
  align-items: flex-start;
}

.flex-ac {
  align-items: center;
}

.flex-ae {
  align-items: flex-end;
}

.flex-ab {
  align-items: baseline;
}

.flex-as-self {
  align-self: flex-start;
}

.flex-ac-self {
  align-self: center;
}

.flex-ae-self {
  align-self: flex-end;
}

.flex-ab-self {
  align-self: baseline;
}

.flex-js {
  justify-content: flex-start;
}

.flex-jc {
  justify-content: center;
}

.flex-je {
  justify-content: flex-end;
}

.flex-jsa {
  justify-content: space-around;
}

.flex-jsb {
  justify-content: space-between;
}

.flex-jse {
  justify-content: space-evenly;
}

.flex-c {
  align-items: center;
  justify-content: center;
  text-align: center;
}
