.hide {
  display: none !important;
}

.separator {
  width: 100%;
  height: 0;
  border-bottom: var(--separator-width, 2px) var(--separator-style, solid) var(--separator-color, color('separator'));
}