.window-app {
  font-family: $font-primary;

  .window-content {
    background: color('white');
  }
}

.cortexprime.window-app {
  .window-content {
    background: none;
    padding: 0;
  }
}

.dice-picker {
  &.window-app {
    .window-content {
      background: none;
      padding: 0;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  border: 0;
}

p {
  margin: 0;
}
