.label {
  color: color('dark-grey');
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  vertical-align: center;
}

.pp-number {
  font-weight: bold;
  font-size: 1.5rem;
  color: color('dark-grey')
}

.section-heading {
  border: 0;
  color: color('primary');
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.section-sub-heading {
  color: color('secondary');
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.trait-name {
  font-size: 1.25rem;
  cursor: pointer;
}

.trait-label {
  @extend .label;
  font-size: 1rem;
  cursor: pointer;
}

.shutdown {
  &.trait-label, .trait-label {
    cursor: not-allowed;
  }
}
