.label {
  color: color('dark-grey');
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  vertical-align: center;
}

.primary-heading {
  border: 0;
  color: color('dark-grey');
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.section-heading {
  border: 0;
  color: color('primary');
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.section-sub-heading {
  color: color('secondary');
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.trait-name {
  font-size: 1.25rem;
  cursor: pointer;
}

.truncate {
  width: toRem(340px);
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

@each $color, $value in $colors {
  .text-#{$color} {
    color: $value;
  }

  .bkg-#{$color} {
    background-color: $value;
  }
}
