.window-app {
  font-family: $font-primary;

  .window-content {
    background: color('white');
  }
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 toRem(10px) red;
    cursor: pointer;
  }
}

p {
  margin: 0;
}

input {
  vertical-align: middle;
}
