<div class="field field-color-picker{{tern noEdit ' field-view' ''}}{{tern class (concat ' ' class) ''}}">
  {{#if (and label (not noEdit))}}
    <label class="field-wrapper">
  {{else}}
    <div class="field-wrapper">
  {{/if}}
    {{#if label}}
      <span class="field-label">{{label}}</span>
    {{/if}}
    {{#if noEdit}}
      <div class="field-color-view field-view-value flex justify-between">
        <span class="view-color">{{tern value value 'none'}}</span>
        <span class="swatch{{tern value '' ' transparent'}}" style="background-color: {{tern value value '#ffffff'}};"></span>
      </div>
    {{else}}
      <div class="field-color">
        <span class="swatch{{tern value '' ' transparent'}}" style="background-color: {{tern value value '#ffffff'}};"></span>
        {{
          colorPicker
          default=default
          name=name
          value=value
        }}
      </div>
    {{/if}}
  {{#if (and label (not noEdit))}}
    </label>
  {{else}}
    </div>
  {{/if}}
  {{#if (and hint (not noEdit))}}
    <p class="field-hint">{{hint}}</p>
  {{/if}}
</div>