<div class="field field-color-picker{{ifThen noEdit ' field-view' ''}}{{ifThen class (concat ' ' class) ''}}">
  {{#if (and label (not noEdit))}}
    <label class="field-wrapper">
  {{else}}
    <div class="field-wrapper">
  {{/if}}
    {{#if label}}
      <span class="field-label">{{label}}</span>
    {{/if}}
    {{#if noEdit}}
      <div class="field-color-view field-view-value flex justify-between">
        <span class="view-color">{{ifThen value value 'transparent'}}</span>
        <span 
          class="swatch{{ifThen value '' ' transparent'}}"
          style="background-color: {{ifThen value value '#ffffff'}};"
        ></span>
      </div>
    {{else}}
      <div class="field-color">
        <span
          class="swatch{{ifThen value '' ' transparent'}}"
          style="background-color: {{ifThen value value '#ffffff'}};"
        ></span>
        <color-picker
          default="{{default}}"
          name="{{name}}"
          value="{{value}}"
        ></color-picker>
      </div>
    {{/if}}
  {{#if (and label (not noEdit))}}
    </label>
  {{else}}
    </div>
  {{/if}}
  {{#if (and hint (not noEdit))}}
    <p class="field-hint">{{hint}}</p>
  {{/if}}
</div>