<div class="field field-image-picker{{ifThen noEdit ' field-view' ''}}{{ifThen class (concat ' ' class) ''}}">
  <div class="field-wrapper">
    {{#if label}}
      <span class="field-label">{{label}}</span>
    {{/if}}
    <div class="field-img-wrapper">
      <div
        class="field-img"
        style="{{ifThen value (concat 'background-image: url(' value ');') ''}}"
      >
       {{#unless noEdit}}
          <input
            class="field-hidden-image-picker"
            name={{name}}
            type="hidden"
            value="{{value}}"
          />
          <file-picker
            type="image"
            target="{{name}}"
          ></file-picker>
          <button
            class="btn btn-icon btn-secondary{{ifThen value '' ' hide'}} image-remove"
            type="button"
          >
            <i class="fa fa-trash"></i>
          </button>
        {{/unless}}
        <p class="{{ifThen value 'hide ' ''}}no-image-msg">{{localize 'CP.NoImageSelected'}}</p>
      </div>
    </div>
    <p class="field-img-value mt-1 p-1"{{ifThen value (concat ' title="' value '"') ''}}>{{ifThen value value (localize 'CP.NoImage')}}</p>
  </div>
  {{#if (and hint (not noEdit))}}
    <p class="field-hint">{{hint}}</p>
  {{/if}}
</div>