<form class="{{cssClass}}" autocomplete="off">
  {{#unless data.data.actorType}}
    <div class="flex-row flex-c bkg-grey" style="height: 100%">
      <div class="flex-col ba-1-primary bkg-white pa-4">
        <label class="section-sub-heading text-primary col-12">{{localize 'ActorType'}}</label>
        <select class="actor-type-select col-12 my-2">
          {{#each actorTypeOptions as |actorType actorTypeIndex|}}
            <option value="{{actorTypeIndex}}">{{or actorType (concat '[' (localize 'NoName') ']')}}</option>
          {{/each}}
        </select>
        <button class="btn btn-secondary actor-type-confirm col-12" type="button">{{localize 'Confirm'}}</button>
      </div>
    </div>
  {{else}}
    {{#if (and (or data.data.actorType.traitSetEdit (eq data.data.actorType.traitSetEdit 0)) owner)}}
      {{> "systems/cortexprime/templates/partials/actor-sheet/trait-set-edit.html"
        traitSet=(lookup data.data.actorType.traitSets data.data.actorType.traitSetEdit)
        traitSetIndex=data.data.actorType.traitSetEdit
        path="data.actorType.traitSets"
      }}
    {{else}}
      <div class="mb-2">
        <nav class="sheet-tabs tabs mb-4" data-group="primary">
          <a class="item" data-tab="traits">{{localize 'Traits'}}</a>
          {{#if data.data.actorType.hasNotesPage}}
            <a class="item" data-tab="notes">{{localize 'Notes'}}</a>
          {{/if}}
          <a class="item" href="https://docs.google.com/document/d/1LNrvmVqJtE-B_IMRl66fQmDwHpHPOGX6gF7Vl-kn-dc/edit?usp=sharing">{{localize 'Help'}}</a>
        </nav>
      </div>
      <div class="sheet-body">
        <article class="tab sets active" data-group="primary" data-tab="traits">
          <div class="flex-row">
            {{> "systems/cortexprime/templates/partials/actor-sheet/sidebar.html"
              actor=actor
              actorType=data.data.actorType
              pp=data.data.pp
            }}
            <section class="flex-col col-9">
              {{> "systems/cortexprime/templates/partials/actor-sheet/trait-sets.html"
                traitSets=data.data.actorType.traitSets
                path="data.actorType.traitSets"
              }}
              {{#if (and data.data.actorType.traitSets.[0] (or data.data.actorType.hasAssets data.data.actorType.hasComplications))}}
                <div class="bb-2-primary my-4"></div>
              {{/if}}
              {{#if (or data.data.actorType.hasAssets data.data.actorType.hasComplications)}}
                {{> "systems/cortexprime/templates/partials/actor-sheet/temporary-traits.html"
                  data=data.data.actorType
                  path="data.actorType"
                }}
              {{/if}}
            </section>
          </div>
        </article>
        {{#if data.data.actorType.hasNotesPage}}
          <section class="tab notes" data-group="primary" data-tab="notes">
            <article>
              <header class="my-2">
                <h2 class="section-heading">{{localize 'Description'}}</h2>
              </header>
              <div class="notes-field">
                {{editor content=data.data.actorType.description
                target="data.actorType.description" button=true owner=owner
                editable=editable}}
              </div>
            </article>
            <article>
              <header class="my-2">
                <h2 class="section-heading">{{localize 'Notes'}}</h2>
              </header>
              <div class="notes-field">
                {{editor content=data.data.actorType.notes
                target="data.actorType.notes" button=true owner=owner
                editable=editable}}
              </div>
            </article>
          </section>
        {{/if}}
      </div>
    {{/if}}
  {{/unless}}
</form>