<form class="{{cssClass}}" autocomplete="off">
  {{#unless data.actorType}}
    <div class="flex-row flex-c bkg-grey" style="height: 100%">
      <div class="flex-col ba-1-primary bkg-white pa-4">
        <label class="section-sub-heading text-primary col-12">{{localize 'ActorType'}}</label>
        <select class="actor-type-select col-12 my-2">
          {{#each actorTypeOptions as |actorType actorTypeIndex|}}
            <option value="{{actorTypeIndex}}">{{or actorType (concat '[' (localize 'NoName') ']')}}</option>
          {{/each}}
        </select>
        <button class="btn btn-secondary actor-type-confirm col-12" type="button">{{localize 'Confirm'}}</button>
      </div>
    </div>
  {{else}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="traits">{{localize 'Traits'}}</a>
      <!-- <a class="item" data-tab="notes">{{localize 'Notes'}}</a> -->
      <!-- <a class="item" data-tab="help"><i class="fas fa-question-circle"></i></a> -->
    </nav>
    <div class="sheet-body">
      <article class="tab sets active" data-group="primary" data-tab="traits">
        <div class="flex-row">
          {{> "systems/cortexprime/templates/partials/actor-sheet/sidebar.html"
            actor=actor
            actorType=data.actorType
          }}
          {{> "systems/cortexprime/templates/partials/actor-sheet/trait-sets.html"
            traitSets=data.actorType.traitSets
          }}
        </div>
      </article>
      <!-- <div class="tab help" data-group="primary" data-tab="help">
        {{> "systems/cortexprime/templates/partials/mc-help.html" }}
      </div> -->
    </div>
  {{/unless}}
</form>