<div class="flex-col">
  <p class="input-label-cpt mb-1">
    {{label}}
  </p>
  <div class="flex-col">
    <div class="flex-row">
      <select class="input-cpt" name="{{name}}">
        {{#select value}}
          <option value="none">{{localize 'None'}}</option>
          <option value="solid">{{localize 'Solid'}}</option>
          <option value="dotted">{{localize 'Dotted'}}</option>
          <option value="dashed">{{localize 'Dashed'}}</option>
          <option value="groove">{{localize 'Groove'}}</option>
          <option value="ridge">{{localize 'Ridge'}}</option>
          <option value="inset">{{localize 'Inset'}}</option>
          <option value="outset">{{localize 'Outset'}}</option>
        {{/select}}
      </select>
    </div>
  </div>
</div>