<div class="section-cpt my-2 px-2 col-12">
  <div class="section-image"></div>
  <div class="section-background"></div>
  <div class="section-content">
    <h2 class="section-primary-title-cpt my-2">{{localize 'Traits'}}</h2>
    <div class="separator-cpt mt-2 mb-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'TraitTitles'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.traitTitleFontColor
        label=(localize 'Color')
        name='themes.currentSettings.traitTitleFontColor'
        value=themes.currentSettings.traitTitleFontColor
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-weight.html"
        label=(localize 'Weight')
        name='themes.currentSettings.traitTitleFontWeight'
        value=themes.currentSettings.traitTitleFontWeight
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-style.html"
        label=(localize 'Style')
        name='themes.currentSettings.traitTitleFontStyle'
        value=themes.currentSettings.traitTitleFontStyle
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/text-transform.html"
        label=(localize 'Casing')
        name='themes.currentSettings.traitTitleTextTransform'
        value=themes.currentSettings.traitTitleTextTransform
      }}
    </div>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/font-size.html"
        label=(localize 'Size')
        name='themes.currentSettings.traitTitleFontSize'
        value=themes.currentSettings.traitTitleFontSize
      }}
    </div>
    <div class="separator-cpt my-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'TraitSubTitles'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.traitSubTitleFontColor
        label=(localize 'Color')
        name='themes.currentSettings.traitSubTitleFontColor'
        value=themes.currentSettings.traitSubTitleFontColor
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-weight.html"
        label=(localize 'Weight')
        name='themes.currentSettings.traitSubTitleFontWeight'
        value=themes.currentSettings.traitSubTitleFontWeight
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-style.html"
        label=(localize 'Style')
        name='themes.currentSettings.traitSubTitleFontStyle'
        value=themes.currentSettings.traitSubTitleFontStyle
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/text-transform.html"
        label=(localize 'Casing')
        name='themes.currentSettings.traitSubTitleTextTransform'
        value=themes.currentSettings.traitSubTitleTextTransform
      }}
    </div>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/font-size.html"
        label=(localize 'Size')
        name='themes.currentSettings.traitSubTitleFontSize'
        value=themes.currentSettings.traitSubTitleFontSize
      }}
    </div>
    <div class="separator-cpt my-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'SubTraitLabels'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.subTraitLabelFontColor
        label=(localize 'Color')
        name='themes.currentSettings.subTraitLabelFontColor'
        value=themes.currentSettings.subTraitLabelFontColor
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-weight.html"
        label=(localize 'Weight')
        name='themes.currentSettings.subTraitLabelFontWeight'
        value=themes.currentSettings.subTraitLabelFontWeight
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-style.html"
        label=(localize 'Style')
        name='themes.currentSettings.subTraitLabelFontStyle'
        value=themes.currentSettings.subTraitLabelFontStyle
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/text-transform.html"
        label=(localize 'Casing')
        name='themes.currentSettings.subTraitLabelTextTransform'
        value=themes.currentSettings.subTraitLabelTextTransform
      }}
    </div>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/font-size.html"
        label=(localize 'Size')
        name='themes.currentSettings.subTraitLabelFontSize'
        value=themes.currentSettings.subTraitLabelFontSize
      }}
    </div>
    <div class="separator-cpt my-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'DescriptorLabels'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.descriptorLabelFontColor
        label=(localize 'Color')
        name='themes.currentSettings.descriptorLabelFontColor'
        value=themes.currentSettings.descriptorLabelFontColor
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-weight.html"
        label=(localize 'Weight')
        name='themes.currentSettings.descriptorLabelFontWeight'
        value=themes.currentSettings.descriptorLabelFontWeight
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-style.html"
        label=(localize 'Style')
        name='themes.currentSettings.descriptorLabelFontStyle'
        value=themes.currentSettings.descriptorLabelFontStyle
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/text-transform.html"
        label=(localize 'Casing')
        name='themes.currentSettings.descriptorLabelTextTransform'
        value=themes.currentSettings.descriptorLabelTextTransform
      }}
    </div>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/font-size.html"
        label=(localize 'Size')
        name='themes.currentSettings.descriptorLabelFontSize'
        value=themes.currentSettings.descriptorLabelFontSize
      }}
    </div>
    <div class="separator-cpt my-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'SfxLabel'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.sfxLabelFontColor
        label=(localize 'Color')
        name='themes.currentSettings.sfxLabelFontColor'
        value=themes.currentSettings.sfxLabelFontColor
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-weight.html"
        label=(localize 'Weight')
        name='themes.currentSettings.sfxLabelFontWeight'
        value=themes.currentSettings.sfxLabelFontWeight
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/font-style.html"
        label=(localize 'Style')
        name='themes.currentSettings.sfxLabelFontStyle'
        value=themes.currentSettings.sfxLabelFontStyle
      }}
      {{> "systems/cortexprime/templates/partials/settings/theme/text-transform.html"
        label=(localize 'Casing')
        name='themes.currentSettings.sfxLabelTextTransform'
        value=themes.currentSettings.sfxLabelTextTransform
      }}
    </div>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/font-size.html"
        label=(localize 'Size')
        name='themes.currentSettings.sfxLabelFontSize'
        value=themes.currentSettings.sfxLabelFontSize
      }}
    </div>
    <div class="separator-cpt my-4"></div>
    <h3 class="section-secondary-title-cpt">{{localize 'SfxBullet'}}</h3>
    <div class="flex-row my-2">
      {{> "systems/cortexprime/templates/partials/settings/theme/color.html"
        default=themes.list.Default.sfxBulletColor
        label=(localize 'Color')
        name='themes.currentSettings.sfxBulletColor'
        value=themes.currentSettings.sfxBulletColor
      }}
    </div>
  </div>
</div>