<ul class="list-style-none my-0 px-0 list-alt-bkg">
  {{#each data.descriptors as |descriptor descriptorIndex|}}
    <li class="flex-row flex-wrap pa-2">
      <div class="flex-col col-12">
        <div class="flex-row flex-ae mb-1">
          <div class="flex-col col-12">
            <label>
              <span class="label">{{localize 'Label'}}</span>
              <input name="{{concat ../fieldPath '.' descriptorIndex '.label'}}" type="text" value="{{descriptor.label}}">
            </label>
          </div>
          <div class="flex-col">
            {{> "systems/cortexprime/templates/partials/remove-button.html"
              group=../path
              itemKey=descriptorIndex
              itemName=descriptor.label
              path=../path
              setting='actorTypes'
              stayOnPage=true
              target='descriptors'
              type="trash"
            }}
          </div>
        </div>
      </div>
      <div class="flex-col col-12">
        <label>
          <span class="label">{{localize 'Value'}}</span>
          <textarea name="{{concat ../fieldPath '.' descriptorIndex '.value'}}">{{descriptor.value}}</textarea>
        </label>
      </div>
    </li>
  {{/each}}
</ul>