<div>
  {{#if edit}}
    <div class="flex-row flex-ac">
      <div class="flex-col">
        <input class="input-cpt {{?? borderClass 'bb-2'}}" name="{{concat fieldPath '.value'}}" type="number" value="{{data.number.value}}">
      </div>
      {{#if data.settings.hasMaxNumber}}
        <span class="flex-col">/</span>
        <div class="flex-col">
          <input class="input-cpt {{?? borderClass 'bb-2'}}" name="{{concat fieldPath '.max'}}" type="number" value="{{data.number.max}}">
        </div>
      {{/if}}
    </div>
  {{else}}
    <p>
      <span>{{ternary (or data.number.value (eq data.number.value 0)) data.number.value '-'}}</span>
      {{#if data.settings.hasMaxNumber}}
        <span>/</span>
        <span>{{ternary (or data.number.max (eq data.number.max 0)) data.number.max '-'}}</span>
      {{/if}}
    </p>
  {{/if}}
</div>