<div>
  <ul class="list-style-none my-0 px-0">
    {{#each data.subTraits as |subTrait subTraitIndex|}}
      <li class="flex flex-wrap flex-ae pa-2 relative-section">
        <div class="{{ternary (eq (mod subTraitIndex 2) 0) 'section-background-alternate' 'section-background'}}"></div>
        <div class="flex-col flex-g-1">
          <label>
            <span class="input-label-cpt">{{localize 'Label'}}</span>
            <input class="input-cpt {{../borderClass}}" name="{{concat ../fieldPath '.' subTraitIndex '.label'}}" type="text" value="{{subTrait.label}}">
          </label>
        </div>
        <div class="flex-col flex-s-1 max-50">
          <div class="flex-row flex-ac">
            {{#if ../settings.subTraitsHaveDice}}
              {{> "systems/cortexprime/templates/partials/dice/select.html"
                addToPool=true
                consumable=../settings.subTraitsDiceConsumable
                dice=subTrait.dice.value
                minDice=0
                label=subTrait.label
                path=(concat ../path '.subTraits.' subTraitIndex '.dice')
              }}
            {{/if}}
            <div class="flex-col">
              {{> "systems/cortexprime/templates/partials/remove-button.html"
                group=(concat ../path '.subTraits')
                itemKey=subTraitIndex
                itemName=subTrait.label
                path=../path
                setting='actorTypes'
                target='subTraits'
                stayOnPage=true
                type="trash"
              }}
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>