<section class="theme-section ThemeSettings-body-section">
  <div class="theme-section-background-image"></div>
  <div class="theme-section-background-color"></div>
  <div class="px-2 theme-section-content">
    <button
      class="btn btn-text display-toggle px-0 py-2 ThemeSettings-body-section-toggle"
      data-parent=".ThemeSettings-body-section"
      data-section="body"
      data-target=".ThemeSettings-body-section-content"
      type="button"
    >
      <div class="flex justify-between">
        <h2 class="heading-1 ThemeSettings-body-section-heading">{{localize 'CP.Body'}}</h2>
        <div class="icon">
          <i class="fa fa-chevron-down toggler-icon"></i>
        </div>
      </div>
    </button>
    <div class="{{ifThen (not (includes expandedSections 'body')) 'hide ' ''}}ThemeSettings-body-section-content">
      <section>
        <h3 class="heading-2 my-2">{{localize 'CP.Background'}}</h3>
        <p class="my-1">{{localize 'CP.BackgroundColorImageHint'}}</p>
        <div class="flex items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/image.html"
            default=currentSettings.bodyBackground_image
            class="my-3 ThemeSettings-field-body-background-image"
            label=(localize 'CP.Image')
            name="currentSettings.bodyBackground_image"
            noEdit=isPresetTheme
            value=currentSettings.bodyBackground_image
          }}
          <div>
            {{
              fieldNumber
              currentSettings.bodyBackgroundImageOpacity
              class="my-3 ThemeSettings-field-body-background-image-opacity"
              hint=(localize 'CP.OpacityHint')
              inputClass="ThemeSettings-field-opacity-input"
              label=(localize 'CP.ImageOpacity')
              max=1
              min=0
              name="currentSettings.bodyBackgroundImageOpacity"
              noEdit=isPresetTheme
              step=0.01
            }}
            {{
              fieldText
              currentSettings.bodyBackgroundImagePosition
              class="my-3 ThemeSettings-field-body-background-image-position"
              hint=(concat '<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/background-position">' (localize 'CP.ClickForDetails') '</a>')
              inputClass="ThemeSettings-field-background-position-input"
              label=(localize 'CP.ImagePosition')
              name="currentSettings.bodyBackgroundImagePosition"
              noEdit=isPresetTheme
            }}
          </div>
          <div>
            {{
              fieldText
              currentSettings.bodyBackgroundImageRepeat
              class="my-3 ThemeSettings-field-body-background-image-repeat"
              hint=(concat '<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/background-repeat">' (localize 'CP.ClickForDetails') '</a>')
              inputClass="ThemeSettings-field-background-repeat-input"
              label=(localize 'CP.ImageRepeat')
              name="currentSettings.bodyBackgroundImageRepeat"
              noEdit=isPresetTheme
            }}
            {{
              fieldText
              currentSettings.bodyBackgroundImageSize
              class="my-3 ThemeSettings-field-body-background-image-size"
              hint=(concat '<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/background-size">' (localize 'CP.ClickForDetails') '</a>')
              inputClass="ThemeSettings-field-background-size-input"
              label=(localize 'CP.ImageSize')
              name="currentSettings.bodyBackgroundImageSize"
              noEdit=isPresetTheme
            }}
          </div>
        </div>
        <div class="flex items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.bodyBackground_color
            class="my-3 ThemeSettings-field-body-background-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.Color')
            noEdit=isPresetTheme
            name="currentSettings.bodyBackground_color"
            value=currentSettings.bodyBackground_color
          }}
          {{
            fieldNumber
            currentSettings.bodyBackgroundColorOpacity
            class="my-3 ThemeSettings-field-body-background-color-opacity"
            hint=(localize 'CP.OpacityHint')
            inputClass="ThemeSettings-field-opacity-input"
            label=(localize 'CP.ColorOpacity')
            max=1
            min=0
            name="currentSettings.bodyBackgroundColorOpacity"
            noEdit=isPresetTheme
            step=0.01
          }}
        </div>
      </section>
      <div class="my-4 separator"></div>
      <section>
        <h3 class="heading-2 my-2">{{localize 'CP.Font'}}</h3>
        <div class="flex flex-wrap items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.bodyFont_color
            class="my-3 ThemeSettings-field-body-font-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.Color')
            noEdit=isPresetTheme
            name="currentSettings.bodyFont_color"
            value=currentSettings.bodyFont_color
          }}
          {{
            fieldNumber
            currentSettings.bodyFontSize_rem
            append="px"
            class="my-3 ThemeSettings-field-body-font-size"
            inputClass="ThemeSettings-field-font-size"
            label=(localize 'CP.Size')
            min=1
            name="currentSettings.bodyFontSize_rem"
            noEdit=isPresetTheme
            step=1
          }}
          {{
            fieldText
            currentSettings.bodyFontWeight
            class="my-3 ThemeSettings-field-body-font-weight"
            hint=(concat '<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight">' (localize 'CP.ClickForDetails') '</a>')
            inputClass="ThemeSettings-field-font-weight"
            label=(localize 'CP.Weight')
            name="currentSettings.bodyFontWeight"
            noEdit=isPresetTheme
          }}
        </div>
      </section>
    </div>
  </div>
</section>