<section class="my-4 theme-section ThemeSettings-buttons-section">
  <div class="theme-section-background-image"></div>
  <div class="theme-section-background-color"></div>
  <div class="px-2 theme-section-content">
    <button
      class="btn btn-text display-toggle px-0 py-2 ThemeSettings-buttons-section-toggle"
      data-parent=".ThemeSettings-buttons-section"
      data-section="buttons"
      data-target=".ThemeSettings-buttons-section-content"
      type="button"
    >
      <div class="flex justify-between">
        <h2 class="heading-1 ThemeSettings-buttons-section-heading">{{localize 'CP.Buttons'}}</h2>
        <div class="icon">
          <i class="fa fa-chevron-down"></i>
        </div>
      </div>
    </button>
    <div class="{{ifThen (not (includes expandedSections 'buttons')) 'hide ' ''}}ThemeSettings-buttons-section-content">
      <section>
        <h3 class="heading-2 my-2">{{localize 'CP.Color'}}</h3>
        <div class="flex items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.buttonBackgroundPrimary_color
            class="my-3 ThemeSettings-field-button-background-primary-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.PrimaryBackgroundColor')
            name="currentSettings.buttonBackgroundPrimary_color"
            noEdit=isPresetTheme
            value=currentSettings.buttonBackgroundPrimary_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.buttonFontPrimary_color
            class="my-3 ThemeSettings-field-button-font-primary-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.PrimaryFontColor')
            name="currentSettings.buttonFontPrimary_color"
            noEdit=isPresetTheme
            value=currentSettings.buttonFontPrimary_color
          }}
        </div>
        <div class="flex items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.buttonBackgroundSecondary_color
            class="my-3 ThemeSettings-field-button-background-secondary-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.SecondaryBackgroundColor')
            name="currentSettings.buttonBackgroundSecondary_color"
            noEdit=isPresetTheme
            value=currentSettings.buttonBackgroundSecondary_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.buttonFontSecondary_color
            class="my-3 ThemeSettings-field-button-font-secondary-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.SecondaryFontColor')
            name="currentSettings.buttonFontSecondary_color"
            noEdit=isPresetTheme
            value=currentSettings.buttonFontSecondary_color
          }}
        </div>
      </section>
      <div class="my-4 separator"></div>
      <section>
        <h3 class="heading-2 my-2">{{localize 'CP.PrimaryButtonBorder'}}</h3>
        <div class="flex items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.border_primaryButton_color
            class="my-3 ThemeSettings-field-button-primary-border-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.Color')
            name="currentSettings.border_buttonPrimary_color"
            noEdit=isPresetTheme
            value=currentSettings.border_buttonPrimary_color
          }}
          {{
            fieldNumber
            currentSettings.border_buttonPrimary_width
            append="px"
            class="my-3 ThemeSettings-field-button-primary-border-width"
            inputClass="ThemeSettings-field-border-width"
            label=(localize 'CP.Width')
            min=0
            name="currentSettings.border_buttonPrimary_width"
            noEdit=isPresetTheme
            step=1
          }}
          {{
            fieldNumber
            currentSettings.buttonPrimaryBorderRadius_rem
            append="px"
            class="my-3 ThemeSettings-field-button-primary-border-radius"
            inputClass="ThemeSettings-field-border-radius"
            label=(localize 'CP.Radius')
            min=0
            name="currentSettings.buttonPrimaryBorderRadius_rem"
            noEdit=isPresetTheme
            step=1
          }}
        </div>
        <div class="flex items-start">
          {{
            fieldSelect
            currentSettings.border_buttonPrimary_position
            borderPositions
            'name'
            'value'
            class="my-3 ThemeSettings-field-button-primary-border-position"
            inputClass="ThemeSettings-field-border-position"
            label=(localize 'CP.Position')
            name="currentSettings.border_buttonPrimary_position"
            noEdit=isPresetTheme
          }}
          {{
            fieldText
            currentSettings.border_buttonPrimary_style
            class="my-3 ThemeSettings-field-button=primary-border-style"
            hint=(concat '<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/border-style">' (localize 'CP.ClickForDetails') '</a>')
            inputClass="ThemeSettings-field-border-style"
            label=(localize 'CP.Style')
            name="currentSettings.border_buttonPrimary_style"
            noEdit=isPresetTheme
          }}
        </div>
      </section>
      <div class="my-4 separator"></div>
      <section>
        <h3 class="heading-2 my-2">{{localize 'CP.SecondaryButtonBorder'}}</h3>
        <div class="flex items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.border_buttonSecondary_color
            class="my-3 ThemeSettings-field-button-secondary-border-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.Color')
            name="currentSettings.border_buttonSecondary_color"
            noEdit=isPresetTheme
            value=currentSettings.border_buttonSecondary_color
          }}
          {{
            fieldNumber
            currentSettings.border_buttonSecondary_width
            append="px"
            class="my-3 ThemeSettings-field-button-secondary-border-width"
            inputClass="ThemeSettings-field-border-width"
            label=(localize 'CP.Width')
            min=0
            name="currentSettings.border_buttonSecondary_width"
            noEdit=isPresetTheme
            step=1
          }}
          {{
            fieldNumber
            currentSettings.buttonSecondaryBorderRadius_rem
            append="px"
            class="my-3 ThemeSettings-field-button-secondary-border-radius"
            inputClass="ThemeSettings-field-border-radius"
            label=(localize 'CP.Radius')
            min=0
            name="currentSettings.buttonSecondaryBorderRadius_rem"
            noEdit=isPresetTheme
            step=1
          }}
        </div>
        <div class="flex items-start">
          {{
            fieldSelect
            currentSettings.border_buttonSecondary_position
            borderPositions
            'name'
            'value'
            class="my-3 ThemeSettings-field-button-secondary-border-position"
            inputClass="ThemeSettings-field-border-position"
            label=(localize 'CP.Position')
            name="currentSettings.border_buttonSecondary_position"
            noEdit=isPresetTheme
          }}
          {{
            fieldText
            currentSettings.border_buttonSecondary_style
            class="my-3 ThemeSettings-field-button-secondary-border-style"
            hint=(concat '<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/border-style">' (localize 'CP.ClickForDetails') '</a>')
            inputClass="ThemeSettings-field-border-style"
            label=(localize 'CP.Style')
            name="currentSettings.border_buttonSecondary_style"
            noEdit=isPresetTheme
          }}
        </div>
      </section>
    </div>
  </div>
</section>
