<section class="my-4 theme-section ThemeSettings-dice-section">
  <div class="theme-section-background-image"></div>
  <div class="theme-section-background-color"></div>
  <div class="px-2 theme-section-content">
    <button
      class="btn btn-text display-toggle px-0 py-2 ThemeSettings-dice-section-toggle"
      data-parent=".ThemeSettings-dice-section"
      data-section="dice"
      data-target=".ThemeSettings-dice-section-content"
      type="button"
    >
      <div class="flex justify-between">
        <h2 class="heading-1 ThemeSettings-dice-section-heading">{{localize 'CP.Dice'}}</h2>
        <div class="icon">
          <i class="fa fa-chevron-down"></i>
        </div>
      </div>
    </button>
    <div class="{{ifThen (not (includes expandedSections 'dice')) 'hide ' ''}}ThemeSettings-dice-section-content">
      <section>
        <h3 class="heading-2 my-2">{{localize 'CP.DieRating'}}</h3>
        <div class="flex items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.dieRatingFill_color
            class="my-3 ThemeSettings-field-die-rating-fill-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.FillColor')
            name="currentSettings.dieRatingFill_color"
            noEdit=isPresetTheme
            value=currentSettings.dieRatingFill_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.dieRatingStroke_color
            class="my-3 ThemeSettings-field-die-rating-stroke-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.StrokeColor')
            name="currentSettings.dieRatingStroke_color"
            noEdit=isPresetTheme
            value=currentSettings.dieRatingStroke_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.dieRatingNumber_color
            class="my-3 ThemeSettings-field-die-rating-number-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.NumberColor')
            name="currentSettings.dieRatingNumber_color"
            noEdit=isPresetTheme
            value=currentSettings.dieRatingNumber_color
          }}
        </div>
      </section>
      <div class="mb-4 separator"></div>
      <section>
        <h3 class="heading-2 my-2">{{localize 'CP.Chosen'}}</h3>
        <div class="flex items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.chosenFill_color
            class="my-3 ThemeSettings-field-chosen-fill-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.FillColor')
            name="currentSettings.chosenFill_color"
            noEdit=isPresetTheme
            value=currentSettings.chosenFill_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.chosenStroke_color
            class="my-3 ThemeSettings-field-chosen-stroke-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.StrokeColor')
            name="currentSettings.chosenStroke_color"
            noEdit=isPresetTheme
            value=currentSettings.chosenStroke_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.chosenNumber_color
            class="my-3 ThemeSettings-field-chosen-number-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.NumberColor')
            name="currentSettings.chosenNumber_color"
            noEdit=isPresetTheme
            value=currentSettings.chosenNumber_color
          }}
        </div>
      </section>
      <div class="mb-4 separator"></div>
      <section>
        <h3 class="heading-2 my-2">{{localize 'CP.Effect'}}</h3>
        <div class="flex items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.effectFill_color
            class="my-3 ThemeSettings-field-effect-fill-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.FillColor')
            name="currentSettings.effectFill_color"
            noEdit=isPresetTheme
            value=currentSettings.effectFill_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.effectStroke_color
            class="my-3 ThemeSettings-field-effect-stroke-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.StrokeColor')
            name="currentSettings.effectStroke_color"
            noEdit=isPresetTheme
            value=currentSettings.effectStroke_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.effectNumber_color
            class="my-3 ThemeSettings-field-effect-number-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.NumberColor')
            name="currentSettings.effectNumber_color"
            noEdit=isPresetTheme
            value=currentSettings.effectNumber_color
          }}
        </div>
      </section>
      <div class="mb-4 separator"></div>
      <section>
        <h3 class="heading-2 my-2">{{localize 'CP.Unchosen'}}</h3>
        <div class="flex items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.unchosenFill_color
            class="my-3 ThemeSettings-field-unchosen-fill-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.FillColor')
            name="currentSettings.unchosenFill_color"
            noEdit=isPresetTheme
            value=currentSettings.unchosenFill_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.unchosenStroke_color
            class="my-3 ThemeSettings-field-unchosen-stroke-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.StrokeColor')
            name="currentSettings.unchosenStroke_color"
            noEdit=isPresetTheme
            value=currentSettings.unchosenStroke_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.unchosenNumber_color
            class="my-3 ThemeSettings-field-unchosen-number-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.NumberColor')
            name="currentSettings.unchosenNumber_color"
            noEdit=isPresetTheme
            value=currentSettings.unchosenNumber_color
          }}
        </div>
      </section>
      <div class="mb-4 separator"></div>
      <section>
        <h3 class="heading-2 my-2">{{localize 'CP.Selected'}}</h3>
        <div class="flex items-start">
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.selectedFill_color
            class="my-3 ThemeSettings-field-selected-fill-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.FillColor')
            name="currentSettings.selectedFill_color"
            noEdit=isPresetTheme
            value=currentSettings.selectedFill_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.selectedStroke_color
            class="my-3 ThemeSettings-field-selected-stroke-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.StrokeColor')
            name="currentSettings.selectedStroke_color"
            noEdit=isPresetTheme
            value=currentSettings.selectedStroke_color
          }}
          {{>
            "systems/cortexprime/system/templates/partials/fields/color.html"
            default=currentSettings.selectedNumber_color
            class="my-3 ThemeSettings-field-selected-number-color"
            hint=(localize 'CP.ColorHint')
            label=(localize 'CP.NumberColor')
            name="currentSettings.selectedNumber_color"
            noEdit=isPresetTheme
            value=currentSettings.selectedNumber_color
          }}
        </div>
      </section>
    </div>
  </div>
</section>
