<section class="theme-section Theme-misc-section my-4">
  <div class="theme-section-background-image"></div>
  <div class="theme-section-background-color"></div>
  <div class="theme-section-content px-2">
    <button
      class="btn btn-text display-toggle px-0 py-2 Theme-misc-section-toggle"
      data-parent=".Theme-misc-section"
      data-section="misc"
      data-target=".Theme-misc-section-content"
      type="button"
    >
      <div class="flex justify-between">
        <h2 class="Theme-misc-section-heading heading-1">{{localize 'CP.Miscellaneous'}}</h2>
        <div class="icon">
          <i class="fa fa-chevron-down"></i>
        </div>
      </div>
    </button>
    <div class="{{tern (not (includes expandedSections 'misc')) 'hide ' ''}}Theme-misc-section-content">
      <section>
        <h3 class="heading-2 my-2">{{localize 'CP.Separator'}}</h3>
        {{>
          "systems/cortexprime/system/templates/partials/fields/color.html"
          default=currentSettings.separator_color
          class="Theme-field-separator-color my-3"
          hint=(localize 'CP.ColorHint')
          label=(localize 'CP.Color')
          noEdit=isPresetTheme
          name="currentSettings.separator_color"
          value=currentSettings.separator_color
        }}
      </section>
    </div>
  </div>
</section>
