$dieSides: 4, 6, 8, 10, 12;

.die-icon {
  @extend .icon;
  align-items: center;
  display: flex;
  height: toRem(28px);
  justify-content: center;
  width: toRem(28px);

  .value {
    color: color('white');
    font-size: 0.925rem;
    font-weight: bold;
  }

  &.lg {
    height: toRem(40px);
    width: toRem(40px);

    .value {
      font-weight: bold;
      font-size: 1.125rem;
    }
  }

  @each $i in $dieSides {
    &.d#{$i} {
      background-image: url("../assets/dice/d#{$i}.svg");

      &.effect {
        background-image: url("../assets/dice/effect-d#{$i}.svg");
      }

      &.hitch {
        background-image: url("../assets/dice/hitch-d#{$i}.svg");
      }

      &.result {
        background-image: url("../assets/dice/result-d#{$i}.svg");
      }

      &.selected {
        background-image: url("../assets/dice/selected-d#{$i}.svg");
      }

      &.chosen {
        background-image: url("../assets/dice/chosen-d#{$i}.svg");
      }
    }
  }

  &.d4 {
    .value {
      padding-bottom: 0.35rem;
    }
  }

  &.d6 {
    background-size: 75%;
  }

  &.result {

    .value {
      color: color('dark-grey');
    }
  }

  &.selected {

    .value {
      color: color('primary');
    }
  }

  &.chosen {

    .value {
      color: color('white');
    }
  }
}

.die-select {
  border: none !important;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;
  height: toRem(28px);
  text-align: center;
  text-align-last: center;
  width: toRem(28px);
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  ::-ms-expand {
    display: none;
  }

  option {
    color: black;
    font-weight: 600;
  }

  &.d4 {
    background-image: url("../assets/dice/d4.svg");
  }

  &.d6 {
    background-image: url("../assets/dice/d6.svg");
    background-size: 75%;
  }

  &.d8 {
    background-image: url("../assets/dice/d8.svg");
  }

  &.d10 {
    background-image: url("../assets/dice/d10.svg");
  }

  &.d12 {
    background-image: url("../assets/dice/d12.svg");
  }
}
