.dice-pool {
  border: 1px solid black;
  background-color: $c-grey;
  padding: $padding-md;
}

.dice-pool-item {
  background-color: $c-white;
  border: 1px solid $c-primary;
  border-radius: 10px;
  display: inline-block;
  margin: $padding-sm;
  padding: $padding-sm;
  white-space: nowrap;
}

.pool-die-label {
  font-weight: 600;
  text-transform: uppercase;
}