.dice-container {
  position: relative;
  z-index: 1;

  .die-container {
    height: 32px;
    width: 32px;
    position: absolute;
    z-index: -1;
  }
}

.die-select {
  border: none !important;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;
  cursor: pointer;
  height: toRem(32px);
  position: relative;
  text-align: center;
  text-align-last: center;
  width: toRem(32px);
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  ::-ms-expand {
    display: none;
  }
  z-index: 1;

  &:focus {
    box-shadow: none;
  }

  option {
    color: black;
    font-weight: 600;
  }
}
