input, select, textarea {
  background-color: color('accent');
  border-radius: 0;
}

input, select {
  border: 0;
  border-bottom: toRem(2px) solid color('secondary')
}

input, textarea {
  font-family: $font-primary;
  font-size: toRem(14px);
}

input {
  vertical-align: middle;
}

textarea {
  border: toRem(2px) solid color('secondary')
}

.notes-field {
  font-size: toRem(16px);
  min-height: toRem(350px);
}
