input, select, textarea {
  background-color: color('accent');
  border-radius: 0;
}

input, select, textarea {
  border: 0;
}

input, textarea {
  font-family: $font-primary;
  font-size: toRem(14px);
}

input {
  vertical-align: middle;
}

.notes-field {
  font-size: toRem(16px);
  height: toRem(350px);
}
