header {
  &.sheet-header
  {
    align-items: start;

    .profile-img {
      max-height: toRem(150px);
      max-width: toRem(150px);
      height: auto;
      width: auto;
    }

    .item-img {
      max-height: toRem(75px);
      max-width: toRem(75px);
      height: auto;
      width: auto;
    }
  }
}