.tabs {
  height: toRem(40px);
  line-height: toRem(40px);

  .item {
    font-weight: bold;

    &.active
    {
      text-decoration: underline;
      text-shadow: none;
    }
  }
}

.tab
{
  height: 100%;
  padding: toRem(10px);
}
