nav.sheet-tabs {
  height: auto;
  margin: 0 toRem(-4px) toRem(8px);
  background-color: color('lighter-grey');
  border: 0;
}

.tabs {
  .item {
    border: toRem(2px) solid color('secondary');
    color: color('secondary');
    margin: 0 toRem(4px);
    font-weight: bold;
  }

  .item.active {
    border: toRem(2px) solid color('primary');
    color: color('primary');
    text-shadow: none;
  }
}
