{{#if (and (gte 4 min) (lte 4 max))}}
  <option {{ternary (eq selected 4) 'selected ' ''}}value="4">d4</option>
{{/if}}
{{#if (and (gte 6 min) (lte 6 max))}}
<option {{ternary (eq selected 6) 'selected ' ''}}value="6">d6</option>
{{/if}}
{{#if (and (gte 8 min) (lte 8 max))}}
    <option {{ternary (eq selected 8) 'selected ' ''}}value="8">d8</option>
{{/if}}
{{#if (and (gte 10 min) (lte 10 max))}}
  <option {{ternary (eq selected 10) 'selected ' ''}}value="10">d10</option>
{{/if}}
{{#if (and (gte 12 min) (lte 12 max))}}
  <option {{ternary (eq selected 12) 'selected ' ''}}value="12">d12</option>
{{/if}}
