<div class="flex flex-ac">
  <div class="die-select-container flex flex-ac">
    {{#each dice as |dieRating index|}}
      <select
        class="die-select d{{dieRating}}"
        data-key="{{index}}"
        data-target="{{../selectName}}"
        name="{{../selectName}}.values.{{index}}"
      >
        {{#select dieRating}}
          {{> "systems/cortexprime/templates/partials/dice/select-options.html" dice=../dice max=(existsOr ../max 12) min=(existsOr ../min 0) minDice=(existsOr ../minDice 1)}}
        {{/select}}
      </select>
    {{/each}}
  </div>
  {{#if (or (hasLess dice (existsOr maxDice -1)) (not dice)) }}
    <button
      class="new-die btn btn-icon btn-circle btn-small ml-1"
      data-target="{{selectName}}"
      type="button"
    >
      <i class="fa fa-plus"></i>
    </button>
  {{/if}}
</div>
