<form class="{{cssClass}} sheet-cpt" autocomplete="off">
  <div class="sheet-image"></div>
  {{> "systems/cortexprime/templates/partials/settings/theme/style.html"
    settings=theme
    target='.user-dice-pool'
  }}
  <div class="sheet-content pa-2">
    <div class="section-cpt b{{?? theme.sectionBorderPosition 'a'}}-{{?? theme.sectionBorderWidth '2'}}">
      <div class="section-image"></div>
      <div class="section-content">
        <div class="relative-section pb-2 pt-1">
          <div class="section-background"></div>
          <h3 class="section-primary-title-cpt px-2 mb-1">{{localize 'AddCustomDice'}}</h3>
          <div class="flex flex-ae">
            <div class="flex-col col-12">
              <div class="flex-row flex-ac">
                <label class="flex-col col-12">
                  <span class="input-label-cpt">{{localize 'Label'}}</span>
                  <input class="custom-dice-label input-cpt b{{?? theme.inputBorderPosition 'b'}}-{{?? theme.inputBorderWidth '2'}}" name="customAdd.label" type="text" value="{{customAdd.label}}">
                </label>
                <div class="flex-col">
                  <span class="input-label-cpt">{{localize 'Dice'}}</span>
                  {{> "systems/cortexprime/templates/partials/dice/select.html"
                    dice=customAdd.value
                    edit=true
                    selectName="customAdd"
                  }}
                </div>
              </div>
            </div>
            <div class="flex-col pr-1">
              <button class="reset-custom-pool-trait btn btn-secondary-cpt btn-icon" type="button">
                <i class="fa fa-undo"></i>
              </button>
            </div>
            <div class="flex-col pl-0">
              <button class="add-trait-to-pool btn btn-primary-cpt btn-icon" data-label="{{customAdd.label}}"
                data-trait-target="customAdd" type="button">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="separator-cpt"></div>
        <div class="relative-section pa-1">
          <div class="section-background-alternate"></div>
          <div>
            {{#each pool as |source sourceName|}}
              <div class="flex flex-ac flex-jsb py-1">
                <span class="section-secondary-title-cpt flex-col">{{sourceName}}</span>
                <div class="flex-col">
                  <button class="btn btn-secondary-cpt clear-source" data-source="{{sourceName}}" type="button">
                    {{localize 'Clear'}}
                  </button>
                </div>
              </div>
              <div class="flex flex-ac flex-wrap py-2">
                {{#each source as |trait traitKey|}}
                  <div class="flex-col ma-1 py-1" style="border: {{?? ../../theme.separatorWeight '2'}}px solid {{?? ../../theme.separatorColor '#b30044'}};">
                    <div class="flex-row flex-ac">
                      {{#if trait.label}}
                        <div class="flex-col pr-0">
                          <p class="bold trait-title-cpt">{{trait.label}}</p>
                        </div>
                      {{/if}}
                      <div class="flex-col pr-0">
                        {{> "systems/cortexprime/templates/partials/dice/select.html"
                          dice=trait.value
                          edit=true
                          selectName=(concat 'pool.' sourceName '.' traitKey)
                        }}
                      </div>
                      <div class="flex-col">
                        <button
                          class="remove-pool-trait btn btn-icon btn-secondary-cpt btn-small"
                          data-source="{{sourceName}}"
                          data-key="{{traitKey}}"
                          type="button"
                        >
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            {{else}}
              <div class="flex-col my-2">
                <p class="text-white trait-name">{{localize 'NoTraitsInPool'}}</p>
              </div>
            {{/each}}
          </div>
        </div>
        {{#if (listHasMore pool 0)}}
        <div class="separator-cpt"></div>
        <div class="relative-section">
          <div class="section-background"></div>
          <div class="flex-col col-12 flex flex-je py-2">
            <div class="flex-col">
              <button class="clear-dice-pool btn btn-secondary-cpt" type="button">{{localize 'Clear'}}</button>
            </div>
            <div class="flex-col pl-0">
              <button class="roll-dice-pool btn btn-primary-cpt" type="button">{{localize 'RollAndSelect'}}</button>
            </div>
            <div class="flex-col pl-0">
              <button class="roll-dice-pool roll-for-effect btn btn-primary-cpt" type="button">{{localize 'RollForEffect'}}</button>
            </div>
            <div class="flex-col pl-0">
              <button class="roll-dice-pool roll-for-total btn btn-primary-cpt" type="button">{{localize 'RollForTotal'}}</button>
            </div>
          </div>
        </div>
        {{/if}}
        </div>
      </div>
    </div>
  </div>
</form>