<form class="{{cssClass}}" autocomplete="off" style="background-color: #fff;">
  <main>
    <section
      class="attributes flex-container"
      id="setting-specific"
    >
      <header class="flex flex-ac my-2">
        <h2 class="flex-col col-12 section-heading">
          {{localize "CortexPrime.TraitSets"}}
        </h2>
        <div class="flex-col">
          <button class="btn btn-primary" id="add-trait-set" type="button">
            {{localize "CortexPrime.AddTraitSet"}}
          </button>
        </div>
      </header>
      {{> "systems/cortexprime/templates/partials/settings-trait-sets.html" traitSets=traitSets}}
    </section>
    <button
      class="btn btn-secondary"
      id="submit"
      type="button"
    >
      {{localize 'CortexPrime.Submit'}}
    </button>
  </main>
</form>