<section 
  class="ItemSettings-page hide list-item-page theme-section trait-page"
  data-id="{{trait.id}}"
>
  <div class="theme-section-background-image"></div>
  <div class="theme-section-background-color"></div>
  <div class="p-2 theme-section-content">
    <header class="flex">
      <button
        class="btn btn-secondary go-to-page"
        type="button"
        data-current-id="{{trait.id}}"
      >
        <i class="fa fa-chevron-left"></i>
        <span>{{localize 'CP.Back'}}</span>
      </button>
      <h3 class="heading-1 trait-page-name">{{trait.name}}</h3>
    </header>
    <div class="my-2 separator"></div>
    <div class="flex items-start">
      <div class="w-1-2">
        {{
          fieldText
          trait.name
          class="ItemSettings-trait-field-name mb-2"
          inputClass="ItemSettings-trait-field-name-input"
          label=(localize 'CP.Name')
          name=(concat 'traits.' trait.id '.name')
        }}
        {{
          fieldCheckbox
          trait.hasDescription
          class="ItemSettings-trait-field-has-description my-2"
          label=(localize 'CP.HasDescription')
          name=(concat 'traits.' trait.id '.hasDescription')
        }}
        {{
          fieldCheckbox
          trait.hasLabel
          class="ItemSettings-trait-field-has-label my-2"
          label=(localize 'CP.HasLabel')
          name=(concat 'traits.' trait.id '.hasLabel')
        }}
        {{
          fieldCheckbox
          trait.hasTags
          class="ItemSettings-trait-field-has-tags my-2"
          label=(localize 'CP.HasTags')
          name=(concat 'traits.' trait.id '.hasTags')
        }}
        {{
          fieldCheckbox
          trait.isUnlockable
          class="ItemSettings-trait-field-is-unlockable mt-2"
          label=(localize 'CP.Unlockable')
          name=(concat 'traits.' trait.id '.isUnlockable')
        }}
        <h4 class="heading-2 mt-3">{{localize 'CP.AssociatedSubtraits'}}</h4>
        <div class="ItemSettings-subtrait-types">
          {{#each subtraits as |subtrait subtraitIndex|}}
            {{>
              "systems/cortexprime/system/templates/partials/ItemSettings/SubtraitType.html"
              checked=(includes ../trait.subtraitTypes subtrait.id)
              subtraitId=subtrait.id
              traitId=../trait.id
              label=subtrait.name
            }}
          {{/each}}
        </div>
      </div>
      <div class="w-1-2">
        <div class="dice-settings-section">
          <h4 class="heading-2 mb-2">{{localize 'CP.Dice'}}</h4>
          {{
            fieldCheckbox
            trait.hasDice
            class="ItemSettings-trait-field-has-dice my-2"
            data-parent=".dice-settings-section"
            data-target=".dice-settings"
            inputClass="checkbox-display-toggle"
            label=(localize 'CP.HasDice')
            name=(concat 'traits.' trait.id '.hasDice')
          }}
          <div class="dice-settings{{ifThen trait.hasDice '' ' hide'}}">
            {{
              fieldCheckbox
              trait.hasConsumableDice
              class="ItemSettings-trait-field-has-consumable-dice my-2"
              disabled=(not trait.hasDice)
              label=(localize 'CP.HasConsumableDice')
              name=(concat 'traits.' trait.id '.hasConsumableDice')
            }}
            {{
              fieldCheckbox
              trait.isRolledSeparately
              class="input-rolls-separately ItemSettings-trait-field-is-rolled-separately my-2"
              disabled=(not trait.hasDice)
              label=(localize 'CP.RollsSeparately')
              name=(concat 'traits.' trait.id '.isRolledSeparately')
            }}
            {{
              fieldCheckbox
              (or trait.hasHitches (not trait.isRolledSeparately))
              class="input-has-hitches ItemSettings-trait-input-has-hitches my-2"
              disabled=(or (not trait.hasDice) (not trait.isRolledSeparately))
              label=(localize 'CP.HasHitches')
              name=(concat 'traits.' trait.id '.hasHitches')
            }}
            {{
              fieldCheckbox
              trait.allowMultipleDice
              class="ItemSettings-trait-field-allow-multiple-dice my-2"
              disabled=(not trait.hasDice)
              label=(localize 'CP.AllowMultipleDice')
              name=(concat 'traits.' trait.id '.allowMultipleDice')
            }}
            {{
              fieldCheckbox
              trait.allowNoDice
              class="ItemSettings-trait-field-allow-no-dice my-2"
              disabled=(not trait.hasDice)
              label=(localize 'CP.AllowNoDice')
              name=(concat  'traits.' trait.id '.allowNoDice')
            }}
            {{
              diceSelect
              trait.minDieRating
              class="shrink-1 ItemSettings-trait-field-min-die-rating min-die-rating my-2"
              disabled=(not trait.hasDice)
              label=(localize 'CP.MinimumDieRating')
              name=(concat  'traits.' trait.id '.minDieRating')
            }}
            {{
              diceSelect
              trait.maxDieRating
              class="shrink-1 ItemSettings-trait-field-max-die-rating max-die-rating mt-2"
              disabled=(not trait.hasDice)
              label=(localize 'CP.MaximumDieRating')
              name=(concat  'traits.' trait.id '.maxDieRating')
            }}
          </div>
        </div>
        <div class="descriptor-settings-section">
          <h4 class="heading-2 mb-2">{{localize 'CP.Descriptors'}}</h4>
          {{
            fieldCheckbox
            trait.hasDescriptors
            class="ItemSettings-trait-field-has-descriptors my-2"
            data-parent=".descriptor-settings-section"
            data-target=".descriptor-settings"
            inputClass="checkbox-display-toggle"
            label=(localize 'CP.HasDescriptors')
            name=(concat 'traits.' trait.id '.hasDescriptors')
          }}
          {{>
            "systems/cortexprime/system/templates/partials/ItemSettings/Descriptors.html"
            descriptors=trait.descriptors
            hasDescriptors=trait.hasDescriptors
            path=(concat 'traits.' trait.id)
          }}
        </div>
      </div>
    </div>
  </div>
</section>
