.dice-box {
  background-color: var(--dice-box-background-color, color('dice-box-background'));
  border: toRem(2px) solid var(--dice-box-border-color, color('dice-box-border'));
}

.result-box {
  background-color: var(--result-box-background-color, color('result-box-background'));
  border: toRem(2px) solid var(--result-box-border-color, color('result-box-border'));
}

.trait-tag {
  border: toRem(2px) solid var(--trait-border-color, color("trait-border"));
  background-color: var(--trait-background-color, color("trait-background"));
  padding: toRem(4px);

  &.rolls-separately {
    border-color: var(--separate-trait-border-color, color("separate-trait-border"));
    background-color: var(--separate-trait-background-color, color("separate-trait-background"));
  }
}