&.DicePicker {
  .dialog-buttons {
    .dialog-button {
      background-color: var(--cp-button-background-primary-color, color('button-background-primary'));
      border: none;
      border-radius: 0;
      color: var(--cp-button-font-primary-color, color('button-font-primary'));
      font-weight: bold;
      height: toRem(26px);
      line-height: 1;
      width: auto;
      padding: toRem(2px) toRem(8px) toRem(3px);
    }
  }
}

.DicePicker-die-result {
  .cp-die {
    cursor: pointer;

    &.cp-hitch {
      cursor: not-allowed;
    }
  }
}

.DicePicker-result-group-header {
  text-align: center;
}

.dialog-buttons {
  position: relative;
  z-index: 2;
}