.drag-sort-handle {
  cursor: pointer;
}

.drag-sort-item--active {
  border: var(--cp-separator-width, 2px) var(--cp-separator-style, solid) var(--cp-separator-color, color('separator'));
  padding: toRem(4px);
}
