.heading-1 {
  color: var(--cp-heading-1-color, color('heading-1'));
  font-size: var(--cp-heading-1-size, toRem(16px));
  font-style: var(--cp-heading-1-style, normal);
  text-transform: var(--cp-heading-1-casing, uppercase);
  font-weight: var(--cp-heading-1-weight, 700);
}

.heading-2 {
  color: var(--cp-heading-2-color, color('heading-2'));
  font-size: var(--cp-heading-2-size, toRem(15px));
  font-style: var(--cp-heading-2-style, normal);
  text-transform: var(--cp-heading-2-casing, uppercase);
  font-weight: var(--cp-heading-2-weight, 700);
}

.total-value {
  font-weight: bold;
  font-size: toRem(26px);
}

.trait-name {
  color: var(--cp-trait-color, color('trait'));
  font-size: var(--cp-trait-size, toRem(14px));
  font-style: var(--cp-trait-style, normal);
  text-transform: var(--cp-trait-casing, capitalize);
  font-weight: var(--cp-trait-weight, 700);
}