<article class="{{viewClasses (concat 'actorType-' actorTypeIndex) breadcrumbs}} actor-type">
  <header class="primary-heading flex-row flex-ac mb-4">
    <div class="flex-col col-12">
      <input class="breadcrumb-name-change" type="text" data-target="{{concat 'actorType-' actorTypeIndex}}" name="actorTypes.{{actorTypeIndex}}.name" value="{{actorType.name}}">
    </div>
    <div class="flex-col">
      {{> "systems/cortexprime/templates/partials/remove-button.html"
        itemKey=actorTypeIndex
        itemName=actorType.name
        setting="actorTypes"
        type="trash"
      }}
    </div>
  </header>
  <div>
    <div class="flex-row">
      <div class="flex-col col-3">
        <p class="section-sub-heading mb-1">{{localize 'DefaultImage'}}</p>
        <img class="default-image bkg-light-grey" src="{{or actorType.defaultImage 'icons/svg/mystery-man.svg'}}"
          data-actor-type-index="{{actorTypeIndex}}" title="{{localize 'DefaultImage'}}" />
      </div>
      <div class="flex-col col-9">
        <p class="section-sub-heading mb-1">{{localize 'GeneralActorSettings'}}</p>
        <div>
          <label>
            <input name="actorTypes.{{actorTypeIndex}}.showProfileImage" type="checkbox" {{checked actorType.showProfileImage}}>
            <span class="label">{{localize 'ShowProfileImage'}}</span>
          </label>
        </div>
        <div>
          <label>
            <input name="actorTypes.{{actorTypeIndex}}.hasNotesPage" type="checkbox" {{checked actorType.hasNotesPage}}>
            <span class="label">{{localize 'HasNotesPage'}}</span>
          </label>
        </div>
        <div>
          <label>
            <input name="actorTypes.{{actorTypeIndex}}.hasPlotPoints" type="checkbox" {{checked actorType.hasPlotPoints}}>
            <span class="label">{{localize 'HasPlotPoints'}}</span>
          </label>
        </div>
        <div>
          <label>
            <input name="actorTypes.{{actorTypeIndex}}.hasAssets" type="checkbox" {{checked actorType.hasAssets}}>
            <span class="label">{{localize 'HasAssets'}}</span>
          </label>
        </div>
        <div>
          <label>
            <input name="actorTypes.{{actorTypeIndex}}.hasComplications" type="checkbox" {{checked actorType.hasComplications}}>
            <span class="label">{{localize 'HasComplications'}}</span>
          </label>
        </div>
      </div>
    </div>
    <section class="my-4">
      <header>
        <div class="bkg-primary flex-row flex-ac flex-jsb mb-2 py-1">
          <h3 class="flex-col col-12 primary-heading text-white">{{localize 'TraitSets'}}</h3>
          <div class="flex-col">
            <button class="btn btn-secondary btn-icon add-trait-set" data-actor-type="{{actorTypeIndex}}" type="button">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="bkg-light-grey pa-2">
          <p>{{localize 'TraitSetsSettingDescription'}}</p>
        </div>
      </header>
      <ul class="list-style-none px-0 list-alt-bkg">
        {{#each actorType.traitSets as |traitSet traitSetIndex|}}
          <li class="pa-1 flex-row flex-ac">
            {{> "systems/cortexprime/templates/partials/reorder.html"
              class="flex-col pa-0"
              path=(concat ../actorTypeIndex '.traitSets')
              currentIndex=traitSetIndex
              setting="actorTypes"
            }}
            <span class="section-sub-heading text-primary flex-col">{{or traitSet.label (concat '[' (localize 'NoName' ) ']')}}</span>
            <button class="view-change btn flex-col" data-name="{{traitSet.label}}" data-to="traitSet-{{../actorTypeIndex}}-{{traitSetIndex}}">
              <i class="fa fa-edit ma-0"></i>
            </button>
          </li>
        {{/each}}
      </ul>
    </section>
    <section class="my-4">
      <header>
        <div class="bkg-primary flex-row flex-ac flex-jsb mb-2 py-1">
          <h3 class="flex-col col-12 primary-heading text-white">{{localize 'SimpleTraits'}}</h3>
          <div class="flex-col">
            <button class="btn btn-secondary btn-icon add-simple-trait" data-actor-type="{{actorTypeIndex}}" type="button">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="bkg-light-grey pa-2">
          <p>{{localize 'SimpleTraitsDescription'}}</p>
        </div>
      </header>
      <ul class="list-style-none px-0 list-alt-bkg">
        {{#each actorType.simpleTraits as |simpleTrait simpleTraitIndex|}}
          <li class="pa-1 flex-row flex-ac">
            {{> "systems/cortexprime/templates/partials/reorder.html"
              class="flex-col pa-0"
              path=(concat ../actorTypeIndex '.simpleTraits')
              currentIndex=simpleTraitIndex
              setting="actorTypes"
            }}
            <span class="section-sub-heading text-primary flex-col">{{or simpleTrait.label (concat '[' (localize 'NoName' )
              ']')}}</span>
            <button class="view-change btn flex-col" data-name="{{simpleTrait.label}}"
              data-to="simpleTrait-{{../actorTypeIndex}}-{{simpleTraitIndex}}">
              <i class="fa fa-edit ma-0"></i>
            </button>
          </li>
        {{/each}}
      </ul>
    </section>
  </div>
</article>