<section class="{{viewClasses 'actorTypes' breadcrumbs}} actor-types">
  <header class="mb-4">
    <div class="bkg-primary flex-row flex-ac flex-jsb mb-2 py-1">
      <h1 class="flex-col col primary-heading text-white">
        {{localize 'ActorTypes'}}
      </h1>
      <div class="flex-col">
        <button class="btn btn-secondary btn-icon" id="add-new-actor-type" type="button">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="bkg-light-grey pa-2">
      <p class="my-1">{{localize 'ActorTypesDescription'}}</p>
      <p><strong>{{localize 'Note'}}:</strong> {{localize 'ActorTypesNote'}}</p>
    </div>
  </header>
  <ul class="list-style-none px-0 list-alt-bkg">
    {{#each actorTypes as |actorType actorTypeIndex|}}
      <li class="pa-1 flex-row flex-ac">
        {{> "systems/cortexprime/templates/partials/reorder.html"
          class="flex-col pa-0"
          path=''
          currentIndex=actorTypeIndex
          setting="actorTypes"
        }}
        <span class="section-sub-heading text-primary flex-col">{{or actorType.name (concat '[' (localize 'NoName' ) ']')}}</span>
        <button class="view-change btn flex-col" data-name="{{actorType.name}}" data-to="actorType-{{actorTypeIndex}}">
          <i class="fa fa-edit ma-0"></i>
        </button>
      </li>
    {{/each}}
  </ul>
</section>