<article class="{{viewClasses (concat 'trait-' actorTypeIndex '-' traitSetIndex '-' traitIndex) breadcrumbs}} trait">
  <header class="flex flex-ac py-2 relative-section">
    <div class="section-background"></div>
    <div class="flex-col col-12">
      <input class="breadcrumb-name-change input-cpt" data-target="{{concat 'trait-' actorTypeIndex '-' traitSetIndex '-' traitIndex}}" name="{{concat 'actorTypes.' path '.' traitIndex '.name'}}" type="text" value="{{trait.name}}">
    </div>
    <div class="flex-col">
      {{> "systems/cortexprime/templates/partials/remove-button.html"
        group=path
        itemKey=traitIndex
        itemName=trait.name
        setting='actorTypes'
        type="trash"
      }}
    </div>
  </header>
  <div>
    {{#if settings.hasDescription}}
      <div class="relative-section pa-2">
        <div class="section-background"></div>
        <label class="input-label-cpt">{{localize 'Description'}}</label>
        <textarea class="input-cpt" name="{{concat 'actorTypes.' path '.' traitIndex '.description'}}">{{trait.description}}</textarea>
      </div>
    {{/if}}
    {{#if settings.hasDice}}
      {{> (concat "systems/cortexprime/templates/partials/settings/value-types/dice.html")
        path=(concat path '.' traitIndex)
        data=trait
      }}
    {{/if}}
    {{#if settings.hasSubTraits}}
      <div class="separator-cpt"></div>
      {{> (concat "systems/cortexprime/templates/partials/settings/value-types/sub-traits.html")
        path=(concat path '.' traitIndex)
        data=trait
        settings=settings
      }}
    {{/if}}
    {{#if settings.hasDescriptors}}
      <div class="separator-cpt"></div>
      {{> (concat "systems/cortexprime/templates/partials/settings/value-types/descriptors.html")
        path=(concat path '.' traitIndex)
        data=trait
      }}
    {{/if}}
    {{#if settings.hasSfx}}
      <div class="separator-cpt"></div>
      {{> (concat "systems/cortexprime/templates/partials/settings/value-types/sfx.html")
        path=(concat path '.' traitIndex)
        data=trait
      }}
    {{/if}}
  </div>
</article>