<article class="{{viewClasses (concat 'traitSet-' actorTypeIndex '-' traitSetIndex) breadcrumbs}} trait-set">
  <header class="primary-heading flex-row flex-ac">
    <div class="flex-col col-12">
      <input name="{{concat 'actorTypes.' path '.' traitSetIndex '.label'}}" type="text" value="{{traitSet.label}}">
    </div>
    <div class="flex-col">
      {{> "systems/cortexprime/templates/partials/remove-button.html"
        group=path
        itemKey=traitSetIndex
        itemName=traitSet.label
        setting='actorTypes'
        type="trash"
      }}
    </div>
  </header>
  <div>
    <div>
      <label>
        <input name="{{concat 'actorTypes.' path '.' traitSetIndex '.hasDescription'}}" type="checkbox" {{checked
          traitSet.hasDescription}}>
        <span class="label">Description</span>
      </label>
      {{#if traitSet.hasDescription}}
        <textarea name="{{concat 'actorTypes.' path '.' traitSetIndex '.description'}}">{{traitSet.description}}</textarea>
      {{/if}}
    </div>
  </div>
</article>
