<article class="{{viewClasses (concat 'traitSet-' actorTypeIndex '-' traitSetIndex) breadcrumbs}} trait-set">
  <header class="primary-heading flex-row flex-ac">
    <div class="flex-col col-12">
      <input name="{{concat 'actorTypes.' path '.' traitSetIndex '.label'}}" type="text" value="{{traitSet.label}}">
    </div>
    <div class="flex-col">
      {{> "systems/cortexprime/templates/partials/remove-button.html"
        group=path
        itemKey=traitSetIndex
        itemName=traitSet.label
        setting='actorTypes'
        type="trash"
      }}
    </div>
  </header>
  <div>
    <div>
      <label>
        <input name="{{concat 'actorTypes.' path '.' traitSetIndex '.hasDescription'}}" type="checkbox" {{checked
          traitSet.hasDescription}}>
        <span class="label">{{localize 'Description'}}</span>
      </label>
      {{#if traitSet.hasDescription}}
        <textarea name="{{concat 'actorTypes.' path '.' traitSetIndex '.description'}}">{{traitSet.description}}</textarea>
      {{/if}}
    </div>
  </div>
  <section>
    <header>
      <h2 class="sub-heading">{{localize 'TraitSettings'}}</h2>
    </header>
    <div class="flex-row flex-wrap">
      <div class="flex-col col-6">
        <label>
          <input name="{{concat 'actorTypes.' path '.' traitSetIndex '.settings.hasDescription'}}" type="checkbox" {{checked
            traitSet.settings.hasDescription}}>
          <span class="label">{{localize 'HasDescription'}}</span>
        </label>
      </div>
      <div class="flex-col col-6">
        <label>
          <input name="{{concat 'actorTypes.' path '.' traitSetIndex '.settings.hasLabel'}}" type="checkbox"
            {{checked traitSet.settings.hasLabel}}>
          <span class="label">{{localize 'HasLabels'}}</span>
        </label>
      </div>
      <div class="flex-col col-6">
        <label>
          <input name="{{concat 'actorTypes.' path '.' traitSetIndex '.settings.hasTags'}}" type="checkbox" {{checked
            traitSet.settings.hasTags}}>
          <span class="label">{{localize 'HasTags'}}</span>
        </label>
      </div>
      <div class="flex-col col-6">
        <label>
          <input name="{{concat 'actorTypes.' path '.' traitSetIndex '.settings.hasCustomTraits'}}" type="checkbox" {{checked
            traitSet.settings.hasCustomTraits}}>
          <span class="label">{{localize 'HasCustomTraits'}}</span>
        </label>
      </div>
      <div class="flex-col col-6">
        <label>
          <input name="{{concat 'actorTypes.' path '.' traitSetIndex '.settings.hasSubTraits'}}" type="checkbox"
            {{checked traitSet.settings.hasSubTraits}}>
          <span class="label">{{localize 'HasSubTraits'}}</span>
        </label>
      </div>
      <div class="flex-col col-6">
        <label>
          <input name="{{concat 'actorTypes.' path '.' traitSetIndex '.settings.hasDice'}}" type="checkbox"
            {{checked traitSet.settings.hasDice}}>
          <span class="label">{{localize 'HasDice'}}</span>
        </label>
      </div>
    </div>
    <div>
      <button class="btn btn-primary">{{localize 'AddTrait'}}</button>
    </div>
    <ul class="list-style-none px-0">
      {{#each traitSet.traits as |trait traitIndex|}}
        <li class="pa-1 flex-row flex-ac">
          {{> "systems/cortexprime/templates/partials/reorder.html"
            class="flex-col pa-0"
            path=(concat ../path '.' ../traitSetIndex '.traits')
            currentIndex=traitIndex
            setting="actorTypes"
          }}
          <span class="section-sub-heading text-primary flex-col">{{or trait.name (concat '[' (localize 'NoName' ) ']')}}</span>
          <button class="view-change btn flex-col" data-name="{{trait.name}}" data-to="trait-{{traitIndex}}">
            <i class="fa fa-edit ma-0"></i>
          </button>
        </li>
      {{/each}}
    </ul>
  </section>
</article>
