<article class="{{viewClasses (concat 'trait-' actorTypeIndex '-' traitSetIndex '-' traitIndex) breadcrumbs}} trait">
  <header class="primary-heading flex-row flex-ac">
    <div class="flex-col col-12">
      <input class="breadcrumb-name-change" data-target="{{concat 'trait-' actorTypeIndex '-' traitSetIndex '-' traitIndex}}" name="{{concat 'actorTypes.' path '.' traitIndex '.name'}}" type="text" value="{{trait.name}}">
    </div>
    <div class="flex-col">
      {{> "systems/cortexprime/templates/partials/remove-button.html"
        group=path
        itemKey=traitIndex
        itemName=trait.name
        setting='actorTypes'
        type="trash"
      }}
    </div>
  </header>
  <div>
    {{#if settings.hasDescription}}
      <div class="my-2">
        <label>
          <span class="label">{{localize 'Description'}}</span>
        </label>
        <textarea name="{{concat 'actorTypes.' path '.' traitIndex '.description'}}">{{trait.description}}</textarea>
      </div>
    {{/if}}
    <div class="my-2">
      {{#if settings.hasDice}}
        {{> (concat "systems/cortexprime/templates/partials/settings/value-types/dice.html")
          path=(concat path '.' traitIndex)
          data=trait
        }}
      {{/if}}
    </div>
    {{#if settings.hasSubTraits}}
      <div class="my-4">
        {{> (concat "systems/cortexprime/templates/partials/settings/value-types/sub-traits.html")
          path=(concat path '.' traitIndex)
          data=trait
          settings=settings
        }}
      </div>
    {{/if}}
    {{#if settings.hasSfx}}
      <div class="my-4">
        {{> (concat "systems/cortexprime/templates/partials/settings/value-types/sfx.html")
          path=(concat path '.' traitIndex)
          data=trait
        }}
      </div>
    {{/if}}
  </div>
</article>