<form class="theme-body ItemSheet-form">
  <div class="theme-body-background-image"></div>
  <div class="theme-body-background-color"></div>
  <section
    class="theme-body-content"
    id="ItemSheet-main"
  >
    {{#unless data.system.itemTypeId}}
      <div class="theme-section no-item-type-section">
        <div class="theme-section-background-image"></div>
        <div class="theme-section-background-color"></div>
        <div class="p-2 theme-section-content">
          <h2 class="heading-1 mb-1">{{ data.name }}</h2>
          <div class="flex items-end">
            {{
              fieldSelect
              null
              itemTypeOptions
              "name"
              "id"
              class="grow-1"
              label=(ifThen (eq data.type 'Trait') (localize 'CP.TraitType') (localize 'CP.SubtraitType'))
              name="system.itemTypeId"
            }}
          </div>
        </div>
      </div>
    {{else}}
      <div class="theme-section no-item-type-section">
        <div class="theme-section-background-image"></div>
        <div class="theme-section-background-color"></div>
        <div class="p-2 theme-section-content">
          <h2 class="heading-1 mb-1">{{ data.name }}</h2>
          <div class="flex items-end">
            {{
              fieldSelect
              data.system.itemTypeId
              itemTypeOptions
              "name"
              "id"
              class="grow-1"
              label=(ifThen (eq data.type 'Trait') (localize 'CP.TraitType') (localize 'CP.SubtraitType'))
              name="system.itemTypeId"
            }}
          </div>
        </div>
      </div>
    {{/unless}}
  </section>
</form>