<form class="theme-body ItemSheet-form">
  <div class="theme-body-background-image"></div>
  <div class="theme-body-background-color"></div>
  <section
    class="theme-body-content"
    id="ItemSheet-main"
  >
    {{#unless data.system.itemTypeId}}
      <div class="theme-section no-item-type-section">
        <div class="theme-section-background-image"></div>
        <div class="theme-section-background-color"></div>
        <div class="p-2 theme-section-content">
          <h2 class="heading-1 mb-1">{{ data.name }}</h2>
            {{
              fieldSelect
              null
              itemTypeOptions
              "name"
              "id"
              class="grow-1"
              label=(ifThen (eq data.type 'Trait') (localize 'CP.TraitType') (localize 'CP.SubtraitType'))
              name="data.system.itemTypeId"
            }}
        </div>
      </div>
    {{else}}
      <div class="theme-section no-item-type-section">
        <div class="theme-section-background-image"></div>
        <div class="theme-section-background-color"></div>
        <div class="p-2 theme-section-content">
          <div class="flex">
            {{
              fieldText
              data.name
              class="w-1-2"
              label=(localize 'CP.Name')
              name="data.name"
            }}
            {{
              fieldSelect
              data.system.itemTypeId
              itemTypeOptions
              "name"
              "id"
              class="w-1-2"
              label=(ifThen (eq data.type 'Trait') (localize 'CP.TraitType') (localize 'CP.SubtraitType'))
              name="data.system.itemTypeId"
            }}
          </div>
          {{#if itemSettings.hasLabel}}
            {{
              fieldText
              data.system.label
              label=(localize 'CP.Label')
              name="data.system.label"
            }}
          {{/if}}
          {{#if itemSettings.isUnlockable}}
            {{
              fieldCheckbox
              data.system.unlocked
              label=(localize 'CP.Unlocked')
              name="data.system.unlocked"
            }}
          {{/if}}
          {{#if itemSettings.hasDice}}
            {{
              diceSelect
              data.system.dice
              allowMultipleDice=itemSettings.allowMultipleDice
              allowNoDice=itemSettings.allowNoDice
              label=(localize 'CP.DieRating')
              max=itemSettings.maxDieRating
              min=itemSettings.minDieRating
              name="data.system.dice"
            }}
            <!-- Add in temporary dice -->
          {{/if}}
          {{#if itemSettings.hasTags}}
            <p>Has Tags</p>
            <div class="tags-section">
              {{#each data.system.tags as |tag|}}
                <!-- Allow reordering, sort alphabetically, or keep as added? -->
              {{/each}}
            </div>
          {{/if}}
          {{#if itemSettings.hasDescription}}
            {{
              fieldTextarea
              data.system.description
              label=(localize 'CP.Description')
              name="data.system.description"
            }}
          {{/if}}
          {{#if itemSettings.hasDescriptors}}
            <p>Has Descriptors</p>
          {{/if}}
          <!-- Hidden, Shutdown, Subtraits -->
        </div>
      </div>
    {{/unless}}
  </section>
</form>