<form class="theme-body ItemSettings-form">
  <div class="theme-body-background-image"></div>
  <div class="theme-body-background-color"></div>
  <section
    class="flex flex-col items-stretch theme-body-content"
    id="ItemSettings-main"
  >
    <header id="ItemSettings-form-header" class="theme-section">
      <div class="theme-section-background-image"></div>
      <div class="theme-section-background-color"></div>
      <div class="p-2 theme-section-content">
        <h2 class="heading-1 mb-1">{{localize 'CP.ItemSettings'}}</h2>
        <p>{{localize 'CP.ItemSettingsHint'}}</p>
      </div>
    </header>
    <div
      class="grow-1"
      id="ItemSettings-form-body"
    >
      <div class="ItemSettings-page list-page">
        <div class="flex items-start">
          <div class="theme-section w-1-2">
            <div class="theme-section-background-image"></div>
            <div class="theme-section-background-color"></div>
            <div class="p-2 theme-section-content">
              {{>
                "systems/cortexprime/system/templates/partials/SortableListSection.html"
                items=traits
                itemsPath="traits"
                label=(localize 'CP.TraitTypes')
                listType="traits"
                pluralClassAffix="traits"
                singularClassAffix="trait"
              }}
            </div>
          </div>
          <div class="theme-section w-1-2">
            <div class="theme-section-background-image"></div>
            <div class="theme-section-background-color"></div>
            <div class="p-2 theme-section-content">
              {{>
                "systems/cortexprime/system/templates/partials/SortableListSection.html"
                items=subtraits
                itemsPath="subtraits"
                label=(localize 'CP.SubtraitTypes')
                listType="subtraits"
                pluralClassAffix="subtraits"
                singularClassAffix="subtrait"
              }}
            </div>
          </div>
        </div>
      </div>
      <div id="ItemSettings-pages-container">
        <div class="ItemSettings-pages trait-pages">
          {{#each traits as |trait traitIndex|}}
            {{>
              "systems/cortexprime/system/templates/partials/ItemSettings/TraitPage.html"
              trait=trait
              subtraits=../subtraits
            }}
          {{/each}}
        </div>
        <div class="ItemSettings-pages subtrait-pages">
          {{#each subtraits as |subtrait subtraitIndex|}}
            {{>
              "systems/cortexprime/system/templates/partials/ItemSettings/SubtraitPage.html"
              subtrait=subtrait
            }}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="theme-section">
      <div class="theme-section-background-image"></div>
      <div class="theme-section-background-color"></div>
      <div class="p-2 theme-section-content">
        <div class="flex justify-between">
          <button
            class="btn btn-secondary settings-refresh"
            type="button"
          >
            <i class="fa fa-rotate"></i>
            <span>{{localize 'CP.Reset'}}</span>
          </button>

          <button
            class="btn"
            type="submit"
          >
            <i class="fa fa-floppy-disk"></i>
            <span>{{localize 'CP.Save'}}</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</form>