<form class="theme-body ThemeSettings-form">
  <div class="theme-body-background-image"></div>
  <div class="theme-body-background-color"></div>
  <div
    class="flex flex-col items-stretch theme-body-content"
    id="ThemeSettings-main"
  >
    <div id="ThemeSettings-form-header">
      <div class="theme-section">
        <div class="theme-section-background-image"></div>
        <div class="theme-section-background-color"></div>
        <div class="flex items-end p-2 theme-section-content">
          {{
            fieldSelect
            selectedTheme
            themeOptions
            'name'
            'value'
            class="grow-1"
            id="ThemeSettings-theme-select"
            label=(localize 'CP.SelectedTheme')
            name="selectedTheme"
          }}
          {{
            fieldText
            null
            class="grow-1"
            id="ThemeSettings-custom-theme-name"
            label=(localize 'CP.CustomThemeName')
          }}
          <button
            class="btn btn-primary"
            id="ThemeSettings-custom-theme-create"
            type="button"
          >
            {{localize 'CP.Create'}}
          </button>
        </div>
      </div>
    </div>
    <div
      class="grow-1"
      id="ThemeSettings-form-body"
    >
      {{>
        "systems/cortexprime/system/templates/partials/themes/body.html"
      }}
      {{>
        "systems/cortexprime/system/templates/partials/themes/buttons.html"
      }}
      {{>
        "systems/cortexprime/system/templates/partials/themes/dice.html"
      }}
      {{>
        "systems/cortexprime/system/templates/partials/themes/headings.html"
      }}
      {{>
        "systems/cortexprime/system/templates/partials/themes/inputs.html"
      }}
      {{>
        "systems/cortexprime/system/templates/partials/themes/sections.html"
      }}
      {{>
        "systems/cortexprime/system/templates/partials/themes/misc.html"
      }}
    </div>
    <div
      class="flex justify-between shrink-1"
      id="ThemeSettings-form-actions"
    >
      <div class="flex w-1-2">
        {{#unless isPresetTheme}}
          <button
            id="ThemeSettings-delete"
            class="btn btn-secondary"
            type="button"
          >
            {{localize 'CP.Delete'}}
          </button>
        {{/unless}}
      </div>
      <div class="flex justify-center">
        <button
          id="ThemeSettings-preview"
          class="btn btn-primary justify-self-center"
          type="button"
        >
          {{localize 'CP.Preview'}}
        </button>
      </div>
      <div class="flex justify-end w-1-2">
        <button
          id="ThemeSettings-revert"
          class="btn btn-secondary"
          type="button"
        >
          {{localize 'CP.Revert'}}
        </button>
        <button
          id="ThemeSettings-save"
          class="btn btn-primary"
          type="submit"
        >
          {{localize 'CP.Save'}}
        </button>
      </div>
    </div>
  </div>
</form>