<div class="theme-body-background-image"></div>
<div class="theme-body-background-color"></div>
<div class="RollResult-main">
  <div class="theme-body-content">
    <div class="mb-2 RollResult-traits theme-section">
      <div class="theme-section-background-image"></div>
      <div class="theme-section-background-color"></div>
      <div class="theme-section-content">
        <button
          class="btn btn-text display-toggle py-2 RollResult-traits-toggle"
          data-parent=".RollResult-traits"
          data-target=".RollResult-traits-content"
          type="button"
        >
          <div class="flex justify-between">
            <div class="RollResult-traits-label heading-1">{{localize 'CP.Traits'}}</div>
            <div class="icon">
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </button>
        <div class="hide RollResult-traits-content">
          {{#each pool as |sourceGroup|}}
            <section class="dice-box p-2 RollResult-source" data-source="{{sourceGroup.source}}">
              <h3 class="mb-1 RollResult-source-heading heading-2">{{sourceGroup.source}}</h3>
              <div class="flex flex-wrap items-center RollResult-traits">
                {{#each sourceGroup.traits as |trait traitIndex|}}
                  <div
                    class="flex flex-wrap gap-1 RollResult-trait{{ifThen trait.rollsSeparately ' rolls-separately' ''}} trait-tag"
                    data-has-hitches="{{trait.hasHitches}}"
                    data-name="{{trait.name}}"
                    data-parent-name="{{trait.parentName}}"
                    data-rolls-separately="{{trait.rollsSeparately}}"
                  >
                    <div class="flex flex-wrap gap-0 shrink-1">
                      {{#each trait.dice as |traitDie|}}
                        <div
                          class="chat-die"
                          data-die-rating="{{traitDie}}"
                          data-hide-label="true"
                          data-type="die-rating"
                          data-value="{{traitDie}}"
                        ></div>
                      {{/each}}
                    </div>
                    {{#if trait.name}}
                      <p class="mr-1 RollResult-trait-name trait-name">{{trait.name}}</p>
                    {{/if}}
                  </div>
                {{/each}}
              </div>
            </section>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="theme-section">
      <div class="theme-section-background-image"></div>
      <div class="theme-section-content">
        <div class="RollResult-result-groups theme-relative-section">
          <div class="theme-section-background-alt-color"></div>
          {{#each resultGroups as |resultGroup resultGroupIndex|}}
            <div class="py-1 RollResult-result-group">
              {{#if resultGroup.name}}
                <h2 class="my-1 RollResult-result-group-header">{{resultGroup.name}}</h2>
              {{/if}}
              <div class="dice-box flex flex-wrap gap-1 justify-center p-2 RollResult-dice-box">
                {{#each resultGroup.diceSelection as |dieSelection|}}
                  <div
                    class="chat-die"
                    data-die-rating="{{dieSelection.dieRating}}"
                    data-result-group-index="{{resultGroupIndex}}"
                    data-type="{{dieSelection.type}}"
                    data-value="{{dieSelection.value}}"
                  ></div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
        <div class="separator"></div>
        <div class="flex items-stretch my-2 RollResult-values theme-relative-section">
          <div class="theme-section-background-color"></div>
          <div class="col-6 flex flex-col gap-1 p-2 result-box RollResult-total">
            <div class="RollResult-total-label heading-2">{{localize 'CP.Total'}}</div>
            <div class="my-1 RollResult-total-value total-value">{{total}}</div>
          </div>
          <div class="col-6 flex flex-col gap-1 p-2 result-box RollResult-effect">
            <div class="RollResult-effect-label heading-2">{{localize 'CP.EffectDice'}}</div>
            <div class="my-1 RollResult-effect-value">
              {{#each effectDice as |effectDie|}}
                <div
                  class="chat-die"
                  data-die-rating="{{effectDie}}"
                  data-hide-label="true"
                  data-type="effect"
                  data-value="{{effectDie}}"
                ></div>
              {{/each}}
              {{#unless (length effectDice)}}
                <div
                  class="chat-die"
                  data-die-rating="4"
                  data-hide-label="true"
                  data-type="effect"
                  data-value="4"
                ></div>
              {{/unless}}
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="flex justify-between p-2 RollResult-actions theme-relative-section">
          <div class="theme-section-background-alt-color"></div>
          <button
            class="btn btn-secondary RollResult-add-to-pool"
            type="button"
          >
            {{localize 'CP.AddToPool'}}
          </button>
          <button
            class="btn btn-primary RollResult-re-roll"
            type="button"
          >
            {{localize 'CP.ReRoll'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>