<section class="{{pluralClassAffix}}-list-section item-list">
  <h3
    class="flex"
  >
    <div class="grow-1 flex">
      <div class="heading-2">
        {{label}}
      </div>
      <div>
        <button
          class="add-{{singularClassAffix}} btn btn-icon"
          type="button"
        >
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <button
      class="btn btn-icon btn-icon-text display-toggle shrink-1"
      data-parent=".{{pluralClassAffix}}-list-section"
      data-target=".{{pluralClassAffix}}-list"
      type="button"
    >
      <i class="fa fa-chevron-down toggler-icon"></i>
    </button>
  </h3>
  <ul
    class="drag-sort-list hide mt-2 {{pluralClassAffix}}-list"
    data-sort-list="{{listType}}"
  >
    {{#each items as |item itemIndex|}}
      {{>
        "systems/cortexprime/system/templates/partials/SortableListItem.html"
        pluralClassAffix=../pluralClassAffix
        singularClassAffix=../singularClassAffix
        item=item
        itemIndex=itemIndex
        itemsPath=../itemsPath
      }}
    {{/each}}
  </ul>
</section>