<li
  class="drag-sort-item flex gap-1 py-1 {{pluralClassAffix}}-list-item"
  data-id="{{item.id}}"
  data-name="{{item.name}}"
  data-sort-sequence="{{?? item.sequence itemIndex}}"
>
  <input
    class="drag-sort-item-sequence"
    type="hidden"
    name="{{itemsPath}}.{{item.id}}.sequence"
    value="{{?? item.sequence itemIndex}}"
  >
  <input
    type="hidden"
    name="{{itemsPath}}.{{item.id}}.id"
    value="{{item.id}}"
  >
  <span class="drag-sort-handle mr-1"><i class="fa fa-bars"></i></span>
  <button
    class="btn btn-icon btn-small edit-{{singularClassAffix}} go-to-page"
    data-target-id="{{item.id}}"
    type="button"
  >
    <i class="fa fa-edit"></i>
  </button>
  <button
    class="btn btn-icon btn-secondary btn-small delete-{{singularClassAffix}}"
    type="button"
  >
    <i class="fa fa-trash"></i>
  </button>
  <button
    class="btn btn-icon btn-icon-text duplicate-{{singularClassAffix}}"
    type="button"
  >
    <i class="fa fa-copy"></i>
  </button>
  <span class="list-item-name {{pluralClassAffix}}-list-item-name">{{item.name}}</span>
</li>