<div class="flex-col col-3">
  <div>
    <button class="btn btn-primary update-actor-settings" type="button">Update Settings</button>
  </div>
  <p class="my-1"><b class="text-primary">{{localize "ActorType"}}</b> {{actorType.name}}</p>
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
  <div class="section-sub-heading mt-2">{{localize 'Name'}}</div>
  <div class="mb-2">
    {{#if owner}}
      <input class="py-1" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}" />
    {{else}}
      <p class="bold">{{actor.name}}</p>
    {{/if}}
  </div>
  {{#if actorType.hasPlotPoints}}
    {{> "systems/cortexprime/templates/partials/pp.html" pp=pp }}
  {{/if}}
  {{#if actorType.simpleTraits}}
    {{> "systems/cortexprime/templates/partials/actor-sheet/simple-traits.html"
      simpleTraits=actorType.simpleTraits
      path='data.actorType.simpleTraits'
    }}
  {{/if}}
</div>
