<section>
  {{#each simpleTraits as |simpleTrait simpleTraitIndex|}}
    {{#if (or ../owner (or (not ../data.hasHidableTraits) (not simpleTrait.hidden)))}}
      <div class="pa-2 relative-section">
        <div class="{{ternary (and ../data.hasHidableTraits simpleTrait.hidden) 'section-background-alternate' 'section-background'}}"></div>
        <div class="flex-row flex-ac">
          {{#if ../owner}}
          <div class="flex-col pr-0">
            <button class="btn btn-icon btn-icon-plain-cpt toggle-item" data-path="{{concat ../path '.' simpleTraitIndex '.edit'}}" type="button">
              {{#if simpleTrait.edit}}
              <i class="fas fa-check"></i>
              {{else}}
              <i class="fas fa-edit"></i>
              {{/if}}
            </button>
          </div>
          {{/if}}
          {{#if (and ../owner ../data.hasHidableTraits)}}
            {{#if simpleTrait.edit}}
              <div class="flex-col pr-0">
                <button
                  class="btn btn-icon btn-secondary-cpt toggle-item"
                  data-path="{{concat ../path '.' simpleTraitIndex '.hidden'}}"
                  type="button"
                >
                  <i class="fa {{ternary simpleTrait.hidden 'fa-eye-slash' 'fa-eye'}}"></i>
                </button>
              </div>
            {{else if simpleTrait.hidden}}
              <span>
                <i class="fa fa-eye-slash"></i>
              </span>
            {{/if}}
          {{/if}}
          <label class="flex-col">
            <div
              class="trait-title-cpt mt-1{{ternary (and (eq simpleTrait.settings.valueType 'dice') simpleTrait.dice.value.[0]) ' add-to-pool' ''}}"
              {{{ternary (and (eq simpleTrait.settings.valueType 'dice') simpleTrait.settings.consumableDice) 'data-consumable="true"' ''}}}
              data-label="{{simpleTrait.label}}"
              data-path="{{concat ../path '.' simpleTraitIndex '.dice'}}"
            >
              {{#if simpleTrait.label}}
                {{simpleTrait.label}}
              {{/if}}
              {{#if (and (not simpleTrait.label) (eq simpleTrait.settings.valueType 'dice'))}}
                <span class="fa fa-dice"></span>
              {{/if}}
            </div>
          </label>
        </div>
        <div>
          {{#if (and ../owner (and simpleTrait.hasDescription simpleTrait.edit))}}
          <div class="my-2">
            <label>
              <div class="input-label-cpt">{{localize 'Description'}}</div>
              <textarea class="input-cpt b{{?? ../theme.inputBorderPosition 'b'}}-{{?? ../theme.inputBorderWidth '2'}}" name="{{concat ../path '.' simpleTraitIndex '.description'}}">{{simpleTrait.description}}</textarea>
            </label>
          </div>
          {{else if (and simpleTrait.hasDescription simpleTrait.description)}}
            <div class="my-2">
              <p>{{simpleTrait.description}}</p>
            </div>
          {{/if}}
          <div class="mt-2">
            {{> (concat "systems/cortexprime/templates/partials/value-types/" simpleTrait.settings.valueType ".html")
              addToPool=true
              borderClass=(concat "b" (?? ../theme.inputBorderPosition 'b') "-" (?? ../theme.inputBorderWidth '2'))
              fieldPath=(concat ../path '.' simpleTraitIndex '.' simpleTrait.settings.valueType)
              path=(concat ../path '.' simpleTraitIndex '.' simpleTrait.settings.valueType)
              data=simpleTrait
              edit=(and ../owner  simpleTrait.edit)
              label=simpleTrait.label
            }}
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
</section>