<section class="my-3">
  {{#each simpleTraits as |simpleTrait simpleTraitIndex|}}
    <div>
      <div class="my-2 flex-row flex-jsb">
        <label class="flex-col">
          <div
            class="section-sub-heading mt-1{{ternary (eq simpleTrait.settings.valueType 'dice') ' add-to-pool' ''}}"
            data-label="{{simpleTrait.label}}"
            data-path="{{concat ../path '.' simpleTraitIndex '.dice'}}"
          >
            {{#if simpleTrait.label}}
              {{simpleTrait.label}}
            {{/if}}
            {{#if (and (not simpleTrait.label) (eq simpleTrait.settings.valueType 'dice'))}}
              <span class="fa fa-dice"></span>
            {{/if}}
          </div>
        </label>
        {{#if (and ../owner simpleTrait.settings.editable)}}
          <div class="flex-col">
            <button class="btn btn-icon toggle-item" data-path="{{concat ../path '.' simpleTraitIndex '.edit'}}" type="button">
              {{#if simpleTrait.edit}}
                <i class="fas fa-check"></i>
              {{else}}
                <i class="fas fa-edit"></i>
              {{/if}}
            </button>
          </div>
        {{/if}}
      </div>
      <div>
        {{#if (and ../owner (and simpleTrait.hasDescription (and simpleTrait.settings.editable simpleTrait.edit)))}}
          <label>
            <div class="label">{{localize 'Description'}}</div>
            <textarea name="{{concat ../path '.' simpleTraitIndex '.description'}}">{{simpleTrait.description}}</textarea>
          </label>
        {{else if (and simpleTrait.hasDescription simpleTrait.description)}}
          <p>{{simpleTrait.description}}</p>
        {{/if}}
        {{> (concat "systems/cortexprime/templates/partials/value-types/" simpleTrait.settings.valueType ".html")
          addToPool=true
          fieldPath=(concat ../path '.' simpleTraitIndex '.' simpleTrait.settings.valueType)
          path=(concat ../path '.' simpleTraitIndex '.' simpleTrait.settings.valueType)
          data=simpleTrait
          edit=(and ../owner (and simpleTrait.settings.editable simpleTrait.edit))
          label=simpleTrait.label
        }}
      </div>
    </div>
  {{/each}}
</section>