<div class="flex-row">
  {{#if data.hasAssets}}
    <section class="flex-col col-6">
      <div class="mb-4 ba-2-secondary pa-2">
        <div class="flex-row flex-ac flex-jsb">
          <div class="flex-col">
            <span class="section-heading">{{localize 'Assets'}}</span>
          </div>
          <div class="flex-col">
            <button class="btn btn-secondary btn-icon add-asset" data-path="{{path}}" type="button">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        {{#each data.assets as |asset assetIndex|}}
          <div class="my-2">
            <div class="flex-row flex-ac">
              {{#if (and ../owner asset.edit)}}
                <div class="pl-1">
                  {{> "systems/cortexprime/templates/partials/remove-button.html"
                    path=../path
                    target='assets'
                    itemKey=assetIndex
                    itemName=asset.label
                    type="trash"
                  }}
                </div>
                <div class="flex-col col-12">
                  <input name="{{concat ../path '.assets.' assetIndex '.label'}}" type="text" value="{{asset.label}}">
                </div>
              {{else}}
                <div class="flex-col col-12">
                  <span class="section-sub-heading text-dark-grey{{ternary asset.dice.value.[0] ' add-to-pool' ''}}"
                    data-label="{{asset.label}}" data-path="{{concat ../path '.assets.' assetIndex '.dice'}}">
                    {{asset.label}}
                  </span>
                </div>
              {{/if}}
              {{#if ../owner}}
                {{> "systems/cortexprime/templates/partials/dice/select.html"
                  addToPool=true
                  dice=asset.dice.value
                  minDice=0
                  label=asset.label
                  selectName=(concat ../path '.assets.' assetIndex '.dice')
                }}
              {{else}}
                <div class="flex-col">
                  <div class="flex-row">
                    {{#each asset.dice.value as |die|}}
                    <div>
                      <div class="die-icon d{{die}} mx-0">
                      </div>
                    </div>
                    {{/each}}
                  </div>
                </div>
              {{/if}}
              <div class="flex-col">
                <button class="btn btn-icon toggle-item" data-path="{{concat ../path '.assets.' assetIndex '.edit'}}" type="button">
                  <i class="fas {{ternary asset.edit 'fa-check' 'fa-edit'}}"></i>
                </button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}
  {{#if data.hasComplications}}
    <section class="flex-col col-6">
      <div class="mb-4 ba-2-secondary pa-2">
        <div class="flex-row flex-ac flex-jsb">
          <div class="flex-col">
            <span class="section-heading">{{localize 'Complications'}}</span>
          </div>
          <div class="flex-col">
            <button class="btn btn-secondary btn-icon add-complication" data-path="{{path}}" type="button">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        {{#each data.complications as |complication complicationIndex|}}
          <div class="my-2">
            <div class="flex-row flex-ac">
                {{#if (and ../owner complication.edit)}}
                  <div class="pl-1">
                    {{> "systems/cortexprime/templates/partials/remove-button.html"
                      path=../path
                      target='complications'
                      itemKey=complicationIndex
                      itemName=complication.label
                      type="trash"
                    }}
                  </div>
                  <div class="flex-col col-12">
                    <input name="{{concat ../path '.complications.' complicationIndex '.label'}}" type="text"
                      value="{{complication.label}}">
                  </div>
                {{else}}
                  <div class="flex-col col-12">
                    <span class="section-sub-heading text-dark-grey{{ternary complication.dice.value.[0] ' add-to-pool' ''}}"
                      data-label="{{complication.label}}" data-path="{{concat ../path '.complications.' complicationIndex '.dice'}}">
                      {{complication.label}}
                    </span>
                  </div>
                {{/if}}
              {{#if ../owner}}
                {{> "systems/cortexprime/templates/partials/dice/select.html"
                  addToPool=true
                  dice=complication.dice.value
                  minDice=0
                  label=complication.label
                  selectName=(concat ../path '.complications.' complicationIndex '.dice')
                }}
              {{else}}
                <div class="flex-col">
                  <div class="flex-row">
                    {{#each complication.dice.value as |die|}}
                    <div>
                      <div class="die-icon d{{die}} mx-0">
                      </div>
                    </div>
                    {{/each}}
                  </div>
                </div>
              {{/if}}
              <div class="flex-col">
                <button class="btn btn-icon toggle-item" data-path="{{concat ../path '.complications.' complicationIndex '.edit'}}"
                  type="button">
                  <i class="fas {{ternary complication.edit 'fa-check' 'fa-edit'}}"></i>
                </button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}
</div>