<div class="flex-row">
  {{#if data.hasAssets}}
    <section class="flex-col col-6">
      <div class="section-cpt b{{?? ../theme.sectionBorderPosition 'a'}}-{{?? ../theme.sectionBorderWidth '2'}}">
        <div class="section-image"></div>
        <div class="section-content pt-2">
          <div class="flex-row flex-ac flex-jsb px-2 pb-1 relative-section">
            <div class="section-background"></div>
            <div class="flex-col">
              <span class="section-primary-title-cpt">{{localize 'Assets'}}</span>
            </div>
            {{#if owner}}
              <div class="flex-col">
                <button class="btn btn-primary-cpt btn-icon add-asset" data-path="{{path}}" type="button">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            {{/if}}
          </div>
          {{#each data.assets as |asset assetIndex|}}
            {{#if (or ../owner (or (not ../data.hasHidableTraits) (not asset.hidden)))}}
              <div class="px-2 py-1 relative-section">
                <div class="{{ternary (and asset.hidden (not asset.edit)) 'section-background-alternate' 'section-background'}}"></div>
                <div class="flex-row flex-ac flex-wrap">
                  {{#if ../owner}}
                    <div class="pl-2">
                      <button class="btn btn-icon btn-icon-plain-cpt toggle-item" data-path="{{concat ../path '.assets.' assetIndex '.edit'}}" type="button">
                        <i class="fas {{ternary asset.edit 'fa-check' 'fa-edit'}}"></i>
                      </button>
                    </div>
                  {{/if}}
                  {{#if (and ../owner asset.edit)}}
                    <div>
                      {{> "systems/cortexprime/templates/partials/remove-button.html"
                      path=../path
                      target='assets'
                      itemKey=assetIndex
                      itemName=asset.label
                      type="trash"
                      }}
                    </div>
                  {{/if}}
                  {{#if (and ../owner ../data.hasHidableTraits)}}
                    {{#if asset.edit}}
                      <div class="pr-1">
                        <button class="btn btn-icon btn-primary-cpt toggle-item" data-path="{{concat ../path '.assets.' assetIndex '.hidden'}}" type="button">
                          <i class="fa {{ternary asset.hidden 'fa-eye-slash' 'fa-eye'}}"></i>
                        </button>
                      </div>
                    {{else if asset.hidden}}
                      <span class="flex-col pl-1">
                        <i class="fa fa-eye-slash"></i>
                      </span>
                    {{/if}}
                  {{/if}}
                  {{#if (and ../owner asset.edit)}}
                    <div>
                      <input class="input-cpt b{{?? ../theme.inputBorderPosition 'b'}}-{{?? ../theme.inputBorderWidth '2'}}" name="{{concat ../path '.assets.' assetIndex '.label'}}" type="text" value="{{asset.label}}">
                    </div>
                  {{else}}
                    <div>
                      <span class="trait-title-cpt{{ternary asset.dice.value.[0] ' add-to-pool' ''}}"
                        data-label="{{asset.label}}" data-path="{{concat ../path '.assets.' assetIndex '.dice'}}">
                        {{asset.label}}
                      </span>
                    </div>
                  {{/if}}
                  {{#if ../owner}}
                    <div class="flex-col">
                      {{> "systems/cortexprime/templates/partials/dice/select.html"
                        addToPool=true
                        dice=asset.dice.value
                        minDice=0
                        label=asset.label
                        selectName=(concat ../path '.assets.' assetIndex '.dice')
                      }}
                    </div>
                  {{else}}
                    <div class="flex-col">
                      <div class="flex-row">
                        {{#each asset.dice.value as |die|}}
                        <div>
                          <div class="die-icon d{{die}} mx-0">
                          </div>
                        </div>
                        {{/each}}
                      </div>
                    </div>
                  {{/if}}
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </section>
  {{/if}}
  {{#if data.hasComplications}}
    <section class="flex-col col-6">
      <div class="section-cpt b{{?? ../theme.sectionBorderPosition 'a'}}-{{?? ../theme.sectionBorderWidth '2'}}">
        <div class="section-image"></div>
        <div class="section-content pt-2">
          <div class="flex-row flex-ac flex-jsb px-2 pb-1 relative-section">
            <div class="section-background"></div>
            <div class="flex-col">
              <span class="section-primary-title-cpt">{{localize 'Complications'}}</span>
            </div>
            {{#if owner}}
              <div class="flex-col">
                <button class="btn btn-primary-cpt btn-icon add-complication" data-path="{{path}}" type="button">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            {{/if}}
          </div>
          {{#each data.complications as |complication complicationIndex|}}
            {{#if (or ../owner (or (not ../data.hasHidableTraits) (not complication.hidden)))}}
              <div class="px-2 py-1 relative-section">
                <div class="{{ternary (and complication.hidden (not complication.edit)) ' section-background-alternate' 'section-background'}}"></div>
                <div class="flex-row flex-ac flex-wrap">
                  {{#if ../owner}}
                    <div class="pl-2">
                      <button class="btn btn-icon btn-icon-plain-cpt toggle-item" data-path="{{concat ../path '.complications.' complicationIndex '.edit'}}"
                        type="button">
                        <i class="fas {{ternary complication.edit 'fa-check' 'fa-edit'}}"></i>
                      </button>
                    </div>
                  {{/if}}
                  {{#if (and ../owner complication.edit)}}
                    <div>
                      {{> "systems/cortexprime/templates/partials/remove-button.html"
                      path=../path
                      target='complications'
                      itemKey=complicationIndex
                      itemName=complication.label
                      type="trash"
                      }}
                    </div>
                  {{/if}}
                  {{#if (and ../owner ../data.hasHidableTraits)}}
                    {{#if complication.edit}}
                      <div class="pr-1">
                        <button class="btn btn-icon btn-primary-cpt toggle-item"
                          data-path="{{concat ../path '.complications.' complicationIndex '.hidden'}}" type="button">
                          <i class="fa {{ternary complication.hidden 'fa-eye-slash' 'fa-eye'}}"></i>
                        </button>
                      </div>
                    {{else if complication.hidden}}
                      <span class="flex-col pl-1">
                        <i class="fa fa-eye-slash"></i>
                      </span>
                    {{/if}}
                  {{/if}}
                  {{#if (and ../owner complication.edit)}}
                    <div>
                      <input class="input-cpt b{{?? ../theme.inputBorderPosition 'b'}}-{{?? ../theme.inputBorderWidth '2'}}" name="{{concat ../path '.complications.' complicationIndex '.label'}}" type="text" value="{{complication.label}}">
                    </div>
                  {{else}}
                    <div>
                      <span class="trait-title-cpt{{ternary complication.dice.value.[0] ' add-to-pool' ''}}"
                        data-label="{{complication.label}}" data-path="{{concat ../path '.complications.' complicationIndex '.dice'}}">
                        {{complication.label}}
                      </span>
                    </div>
                  {{/if}}
                  {{#if ../owner}}
                    <div class="flex-col">
                      {{> "systems/cortexprime/templates/partials/dice/select.html"
                      addToPool=true
                      dice=complication.dice.value
                      minDice=0
                      label=complication.label
                      selectName=(concat ../path '.complications.' complicationIndex '.dice')
                      }}
                    </div>
                  {{else}}
                  <div class="flex-col">
                    <div class="flex-row">
                      {{#each complication.dice.value as |die|}}
                        <div>
                          <div class="die-icon d{{die}} mx-0">
                          </div>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                  {{/if}}
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </section>
  {{/if}}
</div>