<div>
  <div class="mb-2">
    <button class="btn btn-secondary close-trait-set-edit">{{localize 'Back'}}</button>
  </div>
  <div>
    <div class="flex-row flex-c py-2 by-2-primary mb-4">
      <div class="flex-col">
        <span class="section-heading">{{or traitSet.label "[Trait Set]"}}</span>
      </div>
      <div class="flex-col">
        <button class="btn btn-icon text-primary toggle-item" data-path="{{concat path '.' traitSetIndex '.shutdown'}}"
          type="button">
          <i class="fas {{ternary traitSet.shutdown 'fa-toggle-off' 'fa-toggle-on'}}"></i>
        </button>
      </div>
    </div>
    <div class="mb-2">
      {{#if traitSet.hasDescription}}
      <label>
        <span class="label">{{localize 'Description'}}</span>
        <textarea name="{{concat path '.' traitSetIndex '.description'}}">{{traitSet.description}}</textarea>
      </label>
      {{/if}}
    </div>
    <div class="flex-row flex-jc">
      {{#if traitSet.traits.[0]}}
        {{> "systems/cortexprime/templates/partials/actor-sheet/traits-edit.html"
          label=(localize 'PresetTraits')
          settings=traitSet.settings
          target='traits'
          traits=traitSet.traits
          path=(concat path '.' traitSetIndex)
        }}
      {{/if}}
      {{> "systems/cortexprime/templates/partials/actor-sheet/traits-edit.html"
        custom=true
        label=(localize 'CustomTraits')
        target='customTraits'
        settings=traitSet.settings
        traits=traitSet.customTraits
        path=(concat path '.' traitSetIndex)
      }}
    </div>
  </div>
</div>