<section class="flex-col col-9">
  <div class="columns-2 column-gap-4">
    {{#each traitSets as |traitSet traitSetIndex|}}
      <div class="column-item mb-4">
        {{#unless (and traitSet.edit ../owner)}}
          <div class="ba-1-primary pa-2">
            <div class="flex-row flex-jsb">
              <div class="flex-col{{ternary traitSet.shutdown ' shutdown' ''}}">
                {{or traitSet.label "[Trait Set]"}}
              </div>
              {{#if ../owner}}
                <div class="flex-col">
                  <button class="btn btn-icon toggle-item" data-path="{{concat ../path '.' traitSetIndex '.edit'}}" type="button">
                    <i class="fas fa-edit"></i>
                  </button>
                </div>
              {{/if}}
            </div>
            <div class="{{ternary traitSet.shutdown 'shutdown' ''}}">
              {{#if (and traitSet.hasDescription traitSet.description)}}
                <div>{{traitSet.description}}</div>
              {{/if}}
            </div>
          </div>
        {{else}}
          <div class="ba-1-primary pa-2">
            <div class="flex-row flex-jsb">
              <div class="flex-col">
                {{or traitSet.label "[Trait Set]"}}
              </div>
              <div class="flex-col">
                <button class="btn btn-icon text-primary toggle-item" data-path="{{concat ../path '.' traitSetIndex '.shutdown'}}" type="button">
                  <i class="fas {{ternary traitSet.shutdown 'fa-toggle-off' 'fa-toggle-on'}}"></i>
                </button>
                <button class="btn btn-icon toggle-item" data-path="{{concat ../path '.' traitSetIndex '.edit'}}"
                  type="button">
                  <i class="fas fa-check"></i>
                </button>
              </div>
            </div>
            <div>
              {{#if traitSet.hasDescription}}
                <label>
                  {{localize 'Description'}}
                  <textarea name="{{concat ../path '.' traitSetIndex '.description'}}">{{traitSet.description}}</textarea>
                </label>
              {{/if}}
            </div>
          </div>
        {{/unless}}
      </div>
    {{/each}}
  </div>
</article>