<div>
  {{#each traits as |trait traitIndex|}}
    {{#if (or ../owner (or (not ../data.hasHidableTraits) (not trait.hidden)))}}
      <div class="px-2 py-1{{ternary (or ../traitSetShutdown trait.shutdown) ' shutdown' ''}}{{ternary (and ../data.hasHidableTraits trait.hidden) ' bkg-light-grey' ''}}">
        <div class="section-sub-heading text-dark-grey flex-row flex-ac">
          {{#if (and ../data.hasHidableTraits trait.hidden)}}
            <span class="flex-col pr-0">
              <i class="fa fa-eye-slash"></i>
            </span>
          {{/if}}
          <span
            class="flex-col{{ternary (and (and (not ../traitSetShutdown) (not trait.shutdown)) (and ../settings.hasDice trait.dice.value.[0])) ' add-to-pool' ''}}{{ternary trait.shutdown ' shutdown' ''}}"
            data-label="{{ternary (and ../settings.hasLabel trait.label) (ternary (and trait.label trait.name) (concat trait.label ' (' trait.name ')')) trait.name}}"
            data-path="{{concat ../path '.' ../target '.' traitIndex '.dice'}}" {{{ternary
            ../settings.diceConsumable 'data-consumable="true"' '' }}}>
            {{ternary (and ../settings.hasLabel trait.label) trait.label trait.name}}
          </span>
          {{#if ../settings.hasDice}}
            {{#if (or (not ../owner) (or ../traitSetShutdown trait.shutdown))}}
              <div class="flex">
              {{#each trait.dice.value as |die|}}
                <div>
                  <div class="die-icon d{{die}} mx-0">
                  </div>
                </div>
              {{/each}}
              </div>
            {{else}}
              {{> "systems/cortexprime/templates/partials/dice/select.html"
                addToPool=true
                consumable=../settings.consumableDice
                dice=trait.dice.value
                minDice=0
                label=(ternary (and ../settings.hasLabel trait.label) trait.label trait.name)
                selectName=(concat ../path '.' ../target '.' traitIndex '.dice')
              }}
            {{/if}}
          {{/if}}
        </div>
        {{#if (and trait.name (and ../settings.hasLabel trait.label))}}
          <div>
            <span class="label text-secondary">{{trait.name}}</span>
          </div>
        {{/if}}
        {{#if (and ../settings.hasDescription trait.description)}}
          <div>
            <p>{{trait.description}}</p>
          </div>
        {{/if}}
        {{#if (and ../settings.hasSubTraits trait.subTraits)}}
          <div>
            {{#each trait.subTraits as |subTrait subTraitIndex|}}
              {{#if (or subTrait.label subTrait.dice.value)}}
                <div class="ml-2 my-1 flex-row flex-ac">
                  {{#if subTrait.label}}
                    <div class="flex-col">
                      <span class="label text-secondary{{ternary (and ../../settings.subTraitsHaveDice (and (and (not ../../traitSetShutdown) (not trait.shutdown)) subTrait.dice.value.[0])) ' add-to-pool' ''}}"
                        data-label="{{concat subTrait.label ' (' (ternary (and trait.label trait.name) trait.label trait.name) ')'}}"
                        data-path="{{concat ../../path '.' ../../target '.' traitIndex '.subTraits.' subTraitIndex '.dice'}}" {{{ternary
                        ../../settings.subTraitsDiceConsumable 'data-consumable="true"' '' }}}>
                        {{subTrait.label}}
                      </span>
                    </div>
                  {{/if}}
                  {{#if (and ../../settings/subTraitsHaveDice (or (not ../../owner) (or ../../traitSetShutdown trait.shutdown)))}}
                    <div class="flex flex-wrap">
                      {{#each subTrait.dice.value as |die|}}
                        <div class="die-icon d{{die}} mx-0">
                        </div>
                      {{/each}}
                    </div>
                  {{else if ../../settings/subTraitsHaveDice}}
                    {{> "systems/cortexprime/templates/partials/dice/select.html"
                      addToPool=true
                      consumable=../../settings.subTraitsDiceConsumable
                      dice=subTrait.dice.value
                      minDice=0
                      label=subTrait.label
                      selectName=(concat ../../path '.' ../../target '.' traitIndex '.subTraits.' subTraitIndex '.dice')
                    }}
                  {{/if}}
                </div>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}
        {{#if (and ../settings.hasDescriptors trait.descriptors)}}
          <div>
            {{#each trait.descriptors as |descriptor|}}
              {{#if (or descriptor.label descriptor.value)}}
                <div class="my-2">
                  <div
                    class="{{ternary (or (../traitSetShutdown) (trait.shutdown)) 'shutdown' ''}}"
                  >
                      <p>
                        {{#if descriptor.label}}
                          <span class="bold italic">{{descriptor.label}}:</span>
                        {{/if}}
                        {{{descriptor.value}}}
                      </p>
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}
        {{#if (and ../settings.hasSfx trait.sfx)}}
          <div>
            {{#each trait.sfx as |sfx|}}
              {{#if (or sfx.label sfx.description)}}
                <div class="my-2 flex-row">
                  <div class="flex-col pr-0">
                    <i class="text-primary {{ternary sfx.unlocked 'fas' 'far'}} fa-circle"></i>
                  </div>
                  <div class="flex-col col-12{{ternary (and (not sfx.unlocked) (and (not ../traitSetShutdown) (not trait.shutdown))) ' shutdown' ''}}">
                    {{#if sfx.label}}
                      <span class="bold mb-2 text-secondary italic">{{sfx.label}}</span>
                    {{/if}}
                    {{#if sfx.description}}
                      <p>{{{sfx.description}}}</p>
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{/each}}
</div>