<div class="columns-2 column-gap-4">
  {{#each traitSets as |traitSet traitSetIndex|}}
    <div class="column-item mb-4 section-cpt b{{?? ../theme.sectionBorderPosition 'a'}}-{{?? ../theme.sectionBorderWidth '2'}}">
      <div class="section-image"></div>
      <div class="section-content">
        <div class="pa-2 relative-section">
          <div class="section-background"></div>
          <div class="flex-row flex-jsb section-primary-title-cpt">
            <div class="flex-col{{ternary traitSet.shutdown ' shutdown' ''}}">
              <span>{{or traitSet.label (concat '[' (localize 'TraitSet') ']')}}</span>
            </div>
            {{#if ../owner}}
              <div class="flex-col">
                <button class="btn btn-icon btn-icon-plain-cpt trait-set-edit" data-trait-set="{{traitSetIndex}}" type="button">
                  <i class="fas fa-edit"></i>
                </button>
              </div>
            {{/if}}
          </div>
          <div class="{{ternary traitSet.shutdown 'shutdown' ''}}">
            {{#if (and traitSet.hasDescription traitSet.description)}}
              <div>{{traitSet.description}}</div>
            {{/if}}
          </div>
        </div>
        {{#if traitSet.traits}}
          {{> "systems/cortexprime/templates/partials/actor-sheet/traits.html"
            data=../data
            owner=../owner
            path=(concat ../path '.' traitSetIndex)
            settings=traitSet.settings
            target='traits'
            traits=traitSet.traits
            traitSetShutdown=traitSet.shutdown
          }}
        {{/if}}
        {{#if traitSet.customTraits}}
          {{> "systems/cortexprime/templates/partials/actor-sheet/traits.html"
            custom=true
            data=../data
            owner=../owner
            path=(concat ../path '.' traitSetIndex)
            settings=traitSet.settings
            target='customTraits'
            traits=traitSet.customTraits
            traitSetShutdown=traitSet.shutdown
          }}
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>