<div>
  <div class="mb-2">
    <button class="btn btn-secondary-cpt {{ternary (eq theme.buttonStyle 'square') 'btn-square-cpt ' ''}}close-trait-set-edit">{{localize 'Back'}}</button>
  </div>
  <div>
    <div class="section-cpt mb-4">
      <div class="section-image"></div>
      <div class="section-background"></div>
      <div class="section-content py-2">
        <div class="flex-row flex-c section-primary-title-cpt">
          <div class="flex-col">
            <span class="">{{or traitSet.label "[Trait Set]"}}</span>
          </div>
          <div class="flex-col">
            <button class="btn btn-icon btn-icon-plain-cpt toggle-item" data-path="{{concat path '.' traitSetIndex '.shutdown'}}"
              type="button">
              <i class="fa-solid {{ternary traitSet.shutdown 'fa-toggle-off' 'fa-toggle-on'}}"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    {{#if traitSet.hasDescription}}
      <div class="section-cpt mb-2">
        <div class="section-image"></div>
        <div class="section-background"></div>
        <div class="section-content pa-2">
          <label>
            <span class="input-label-cpt">{{localize 'Description'}}</span>
            <textarea class="mt-2 input-cpt" name="{{concat path '.' traitSetIndex '.description'}}">{{traitSet.description}}</textarea>
          </label>
        </div>
      </div>
    {{/if}}
    <div class="flex-row flex-jc">
      {{#if traitSet.traits.[0]}}
        {{> "systems/cortexprime/templates/partials/actor-sheet/traits-edit.html"
          data=data
          label=(localize 'PresetTraits')
          settings=traitSet.settings
          target='traits'
          traits=traitSet.traits
          path=(concat path '.' traitSetIndex)
        }}
      {{/if}}
      {{> "systems/cortexprime/templates/partials/actor-sheet/traits-edit.html"
        custom=true
        data=data
        label=(localize 'CustomTraits')
        target='customTraits'
        settings=traitSet.settings
        traits=traitSet.customTraits
        path=(concat path '.' traitSetIndex)
      }}
    </div>
  </div>
</div>