<div>
  <header>
    <div class="bkg-primary flex-row flex-ac flex-jsb my-2 py-1">
      <h3 class="flex-col primary-heading text-white">{{localize 'DefaultDescriptors'}}</h3>
      <div class="flex-col">
        <button class="btn btn-secondary btn-icon add-descriptor" type="button" data-path="{{concat path '.descriptors'}}">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </header>
  {{> "systems/cortexprime/templates/partials/value-types/descriptors.html"
  data=data
  fieldPath=(concat 'actorTypes.' path '.descriptors')
  path=(concat path '.descriptors')
  }}
</div>