<div class="relative-section pa-2">
  <div class="section-background"></div>
  <div>
    <label class="flex flex-ac">
      <div class="checkmark-container">
        <input class="input-checkbox-cpt" name="{{concat 'actorTypes.' path '.settings.hasMaxNumber'}}" type="checkbox" {{checked data.settings.hasMaxNumber}}>
        <div class="checkmark-cpt"></div>
      </div>
      <span class="input-label-cpt mb-0 ml-2">{{localize 'HasMaxNumber'}}</span>
    </label>
  </div>
  <div>
    <label>
      <span class="input-label-cpt">{{localize 'DefaultValue'}}</span>
      {{> "systems/cortexprime/templates/partials/value-types/number.html"
        data=data
        edit=true
        fieldPath=(concat 'actorTypes.' path '.number')
        path=(concat path '.number')
      }}
    </label>
  </div>
</div>